<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<body layout:fragment="site-menubar" th:remove="tag">

<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-category">DASHBOARD</li>
                    <li class="site-menu-item">
                        <a th:href="@{/dashboard}">
                            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.dashboard}">대시보드</span>
                        </a>
                    </li>
                    <li class="site-menu-category">management</li>
                    <li class="site-menu-item">
                        <a th:href="@{/management/mypage}">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.management.mypage}">내 정보</span>
                        </a>
                    </li>
                    <th:block sec:authorize="hasAuthority('GROUP_ADMIN')">
                    <li class="site-menu-item">
                        <a th:href="@{/management/group}">
                            <i class="site-menu-icon md-apps" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.management.group}">그룹 관리</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a th:href="@{/management/user}">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.management.group.user}">그룹 사용자 관리</span>
                        </a>
                    </li>
                    </th:block>

                    <li class="site-menu-item">
                        <a th:href="@{/management/container}">
                            <i class="site-menu-icon wb-desktop" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.management.container}">컨테이너 관리</span>
                        </a>
                    </li>
                    <li class="site-menu-item" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                        <a th:href="@{/management/volume}">
                            <i class="site-menu-icon wb-inbox" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.management.volume}">볼륨 관리</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub open" th:if="${@environment.getProperty('cheetah.payment')}"
                        sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('GENERAL_USER')">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.management.payment}">결제 관리</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a th:href="@{/management/payment/dashboard}">
                                    <span class="site-menu-title" th:text="#{menu.management.payment.dashboard}">결제 현황</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/management/payment/target}">
                                    <span class="site-menu-title" th:text="#{menu.management.payment.target}">결제 대상</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/management/payment/list}">
                                    <span class="site-menu-title" th:text="#{menu.management.payment.list}">결제 내역</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/management/card}">
                                    <span class="site-menu-title" th:text="#{menu.management.card}">결제 카드</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/management/credit}">
                                    <span class="site-menu-title" th:text="#{menu.management.credit}">크레딧 카드</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="site-menu-category">Help</li>

                    <!--<li class="site-menu-item"  th:if="${@environment.getProperty('cheetah.payment')}">-->
                        <!--<a th:href="@{/help/price}">-->
                            <!--<i class="site-menu-icon wb-info-circle" aria-hidden="true"></i>-->
                            <!--<span class="site-menu-title" th:text="#{menu.help.price}">요금 안내</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li class="site-menu-item">
                        <a th:href="@{/help/notice}">
                            <i class="site-menu-icon wb-chat-group" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.help.notice}">공지사항</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a th:href="@{/help/qna}">
                            <i class="site-menu-icon wb-help-circle" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.help.qna}">QNA</span>
                        </a>
                    </li>
                    <th:block sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                    <li class="site-menu-category">Admin</li>
                    <li class="site-menu-item has-sub open">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
                            <span class="site-menu-title" th:text="#{menu.admin}">시스템 관리</span>
                            <span class="site-menu-arrow"></span>
                        </a>

                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a th:href="@{/admin/user}">
                                    <span class="site-menu-title" th:text="#{menu.admin.user}">사용자 관리</span>
                                </a>
                            </li>
                            <!--<li class="site-menu-item">-->
                                <!--<a th:href="@{/admin/login-history}">-->
                                    <!--<span class="site-menu-title" th:text="#{menu.admin.login.history}">로그인 이력</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li class="site-menu-item">
                                <a th:href="@{/admin/node}">
                                    <span class="site-menu-title" th:text="#{menu.admin.node}">노드 관리</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/admin/gpu}">
                                    <span class="site-menu-title" th:text="#{menu.admin.gpu}">GPU 관리</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/admin/pod-format}">
                                    <span class="site-menu-title" th:text="#{menu.admin.pod}">파드 구성 관리</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/admin/pod-option}">
                                    <span class="site-menu-title" th:text="#{menu.admin.pod.option}">파드 옵션 관리</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/admin/kubernetes-yaml}">
                                    <span class="site-menu-title" th:text="#{menu.kubernetes.yaml.pod}">YAML 관리</span>
                                </a>
                            </li>
                            <li class="site-menu-item" th:if="${@environment.getProperty('cheetah.payment')}">
                                <a th:href="@{/admin/credit}">
                                    <span class="site-menu-title" th:text="#{menu.admin.credit}">크레딧 관리</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a th:href="@{/admin/code}">
                                    <span class="site-menu-title" th:text="#{menu.admin.code}">코드 관리</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    </th:block>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>
