<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<th:block layout:fragment="site-footer" th:remove="tag">
  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2019 Cheetah</div>
    <div class="site-footer-right">
        <i class="red-600 wb wb-heart"></i> by <strong> N3N CLOUD</strong>
    </div>
  </footer>

  <dl th:if="${alertMessage}" class="invisible">
    <dt>alert level</dt>
    <dd id="alertLevel" th:text="${alertMessage.level}">success</dd>
    <dt>alert message</dt>
    <dd id="alertMessage" th:text="#{${alertMessage.messageCode}}" th:if="${alertMessage.messageCode ne null and alertMessage.arguments eq null}">message</dd>
    <dd id="alertMessage" th:text="#{${alertMessage.messageCode}(${alertMessage.arguments[0]})}" th:if="${alertMessage.messageCode ne null and alertMessage.arguments ne null}">message</dd>
    <dd id="alertMessage" th:text="${alertMessage.message}"
        th:if="${alertMessage.messageCode eq null and alertMessage.message ne null}">message
    </dd>
  </dl>
</th:block>
</body>
</html>