<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="site-navbar" th:remove="tag">

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" th:src="@{/assets/images/cheetah-logo-new-white.png}" style="padding-top:5px;width:130px;height:auto;" th:unless="${#authentication.getPrincipal().groupImage}">
            <img class="navbar-brand-logo" th:src="@{/download/{groupImageFileSn} (groupImageFileSn=${#authentication.getPrincipal().groupImage})}" style="width:130px;height:24px;" th:if="${#authentication.getPrincipal().groupImage}">
        </div>
    </div>

    <div class="navbar-container container-fluid">
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link waves-effect waves-light waves-round" data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                    <a class="nav-link icon icon-fullscreen waves-effect waves-light waves-round" data-toggle="fullscreen" href="#" role="button">
                        <span class="sr-only">Toggle fullscreen</span>
                    </a>
                </li>


            </ul>
            <!-- End Navbar Toolbar -->

            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                       aria-expanded="false" role="button">
                        <span class="flag-icon border" th:classappend="'flag-icon-' + ${#strings.toLowerCase(#locale.country)}"></span> <span th:text="${#locale.getDisplayLanguage(#locale)}"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="?lang=en_US" role="menuitem">
                            <span class="flag-icon flag-icon-us border"></span> English</a>
                        <a class="dropdown-item" href="?lang=ko_KR" role="menuitem">
                            <span class="flag-icon flag-icon-kr border"></span> 한국어</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
                        <i class="icon wb-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" th:href="@{/management/mypage}" role="menuitem">
                            <i class="icon wb-user" aria-hidden="true"></i>
                            <span th:text="#{menu.management.mypage}">내 정보</span>
                        </a>
                        <div class="dropdown-divider" role="presentation"></div>
                        <form th:action="@{/logout}" th:method="post">
                            <button type="submit" class="dropdown-item" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</button>
                        </form>
                    </div>
                </li>

            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
    </div>
</nav>

</body>
</html>