<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="site-gridmenu" th:remove="tag">

  <div class="site-gridmenu">
    <div>
        <div>
            <ul>
                <li>
                    <a th:href="@{/dashboard}">
                        <i class="icon wb-dashboard"></i>
                        <span th:text="#{menu.dashboard}">대시보드</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/management/mypage}">
                        <i class="icon wb-user"></i>
                        <span th:text="#{menu.management.mypage}">내 정보</span>
                    </a>
                </li>
                <th:block sec:authorize="hasAuthority('GROUP_ADMIN')">
                <li>
                    <a th:href="@{/management/group}">
                        <i class="icon md-apps"></i>
                        <span th:text="#{menu.management.group}">그룹 관리</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/management/user}">
                        <i class="icon wb-users"></i>
                        <span th:text="#{menu.management.group.user}">그룹 사용자 관리</span>
                    </a>
                </li>
                </th:block>
                <li>
                    <a th:href="@{/management/container}">
                        <i class="icon wb-desktop"></i>
                        <span th:text="#{menu.management.container}">컨테이너 관리</span>
                    </a>
                </li>
                <li sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('GENERAL_USER')">
                    <a th:href="@{/management/payment/dashboard}">
                        <i class="icon wb-payment"></i>
                        <span th:text="#{menu.management.payment}">결제 관리</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/help/notice}">
                        <i class="icon wb-chat-group"></i>
                        <span th:text="#{menu.help.notice}">공지사항</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/help/qna}">
                        <i class="icon wb-help-circle"></i>
                        <span th:text="#{menu.help.qna}">Q & A</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>

</body>
</html>