<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<th:block layout:fragment="site-scripts">

<script th:inline="javascript">
    window.locale = [[${#locale}]];
</script>

<!-- Core  -->
<script th:src="@{/assets/vendor/babel-external-helpers/helpers.js}"></script>
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/assets/vendor/popper-js/umd/popper.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendor/mousewheel/jquery.mousewheel.js}"></script>
<script th:src="@{/assets/vendor/asscrollbar/jquery-asScrollbar.min.js}"></script>
<script th:src="@{/assets/vendor/asscrollable/jquery-asScrollable.min.js}"></script>
<script th:src="@{/assets/vendor/ashoverscroll/jquery-asHoverScroll.min.js}"></script>
<script th:src="@{/assets/vendor/matchheight/jquery.matchHeight-min.js}"></script>
<script th:src="@{/assets/vendor/css-element-queries/ResizeSensor.js}"></script>
<script th:src="@{/assets/vendor/waves/waves.min.js}"></script>

<!-- Plugins -->
<script th:src="@{/assets/vendor/switchery/switchery.js}"></script>
<script th:src="@{/assets/vendor/screenfull/screenfull.js}"></script>
<script th:src="@{/assets/vendor/slidepanel/jquery-slidePanel.js}"></script>
<script th:src="@{/assets/vendor/aspaginator/jquery-asPaginator.min.js}"></script>
<script th:src="@{/assets/vendor/toastr/toastr.min.js}"></script>

<!-- Scripts -->
<script th:src="@{/assets/js/Component.js}"></script>
<script th:src="@{/assets/js/Plugin.js}"></script>
<script th:src="@{/assets/js/Base.js}"></script>
<script th:src="@{/assets/js/Config.js}"></script>

<script th:src="@{/assets/js/Section/Menubar.js}"></script>
<script th:src="@{/assets/js/Section/GridMenu.js}"></script>
<script th:src="@{/assets/js/Section/Sidebar.js}"></script>
<script th:src="@{/assets/js/Section/PageAside.js}"></script>
<script th:src="@{/assets/js/Plugin/menu.js}"></script>
<script th:src="@{/assets/js/Plugin/tabs.js}"></script>
<script th:src="@{/assets/js/Plugin/matchheight.js}"></script>
<script th:src="@{/assets/js/Plugin/toastr.js}"></script>
<script th:src="@{/assets/js/Plugin/moment.js}"></script>

<script th:src="@{/assets/js/config/colors.js}"></script>
<script>Config.set('assets', '../assets');</script>

<!-- Page -->
<script th:src="@{/assets/js/Site.js}"></script>
<script th:src="@{/assets/js/Plugin/asscrollable.js}"></script>
<script th:src="@{/assets/js/Plugin/slidepanel.js}"></script>
<script th:src="@{/assets/js/Plugin/switchery.js}"></script>
<script th:src="@{/assets/js/Plugin/panel.js}"></script>
<script th:src="@{/assets/js/cheetah/common.js}"></script>

<!-- language 지원에 따라 변경-->
<script th:src="@{/assets/js/cheetah/common/Lang-i18n.js}"></script>
<script th:src="@{/assets/js/cheetah/common/Lang-__${{#locale}}__.js}"></script>

</th:block>
</body>
</html>