// $use-font-family:      "Roboto";
// $use-font-family-url:  "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
// $font-family-base:     $font-family-sans-serif;

// $font-weight-override: true;
// $font-weight-light:    300;
// $font-weight-normal:   400;
// $font-weight-medium:   500;
// $font-weight-bold:     700;

// $font-weight-base:     $font-weight-normal;
// $headings-font-weight: $font-weight-normal;
$use-font-family: "Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic", "Segoe UI", "Helvetica Neue", arial;
//$use-font-family-url: "//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css";
$font-family-sans-serif: $use-font-family, sans-serif;
$font-family-monospace: menlo, monaco, consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-root: 14px;
$font-weight-override: true;
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: $font-weight-bold;
