<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/kubernetes-yaml/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{kubernetes.yaml.kind}">KIND</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody th:if="${kubernetesYamlList.isEmpty()}">
                        <tr>
                            <td colspan="3" class="text-center pt-30 pb-30" th:text="#{kubernetes.yaml.list.empty}">등록된 YAML이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${kubernetesYamlList.isEmpty()}">
                            <tr th:each="kubernetesYaml, kubernetesYamlStat : ${kubernetesYamlList}">
                                <td th:text="${kubernetesYamlStat.index + 1}"></td>

                                <td th:text="${kubernetesYaml.kind}"></td>

                                <td>
                                    <a th:href="@{/admin/kubernetes-yaml/{kind}/modify (kind=${kubernetesYaml.kind})}"
                                       class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>