<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.kubernetes.yaml.title}">쿠버네티스 YAML 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${kubernetesYamlForm}">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="kind" th:text="#{kubernetes.yaml.kind}">KIND</label>
                    <input type="text" th:field="*{kind}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{kind}')}" class="invalid-feedback text-right mt-0" th:errors="*{kind}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0 mb-5">
                    <label class="col-form-label col-md-3" for="yaml" th:text="#{kubernetes.yaml.yaml}">YAML</label>
                    <div class="col-md-9 p-0">
                        <div class="alert alert-alt alert-icon alert-info alert-dismissible mb-5" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="icon md-notifications" aria-hidden="true"></i>
                            <span th:text="#{kubernetes.yaml.deployment.items}">배포 YAML 치환항목</span> : {label}, {namespace}, {token}, {gpu}, {gpuLabel}, {gpuQuantity}, {memorySize}, {image}, {command}, {username}, {containerId}
                            <br/><span th:text="#{kubernetes.yaml.service.items}">서비스 YAML 치환항목</span> : {label}, {namespace}
                            <br/><span th:text="#{kubernetes.yaml.volume.items}">볼륨 YAML 치환항목</span> : {label}, {namespace}, {capacity}, {jupyterPath}
                            <br/><span th:text="#{kubernetes.yaml.volume.claim.items}">볼륩 클레임 YAML 치환항목</span> : {label}, {pvlabel}, {namespace}, {capacity}
                        </div>
                        <textarea th:field="*{yaml}" th:errorclass="is-invalid" rows="30" class="form-control"></textarea>
                        <div th:if="${#fields.hasErrors('*{yaml}')}" class="invalid-feedback text-right mt-0" th:errors="*{yaml}">에러 메세지</div>
                    </div>
                </div>
                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/admin/kubernetes-yaml}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/admin/kubernetes-yaml}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
</th:block>


</body>
</html>