<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.payment.title}">결제 관리</title>
    <script th:src="@{/assets/vendor/chart-js/Chart.min.js}"></script>
</head>
<body>

<div class="page-header pt-15 pb-15" layout:fragment="page-header">
    <!--<h1 class="page-title" th:text="#{management.payment.title}">결제 관리</h1>-->
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 mb-30">

            <div class="card-group card-shadow">
                <div class="card card-block p-30 border-right">
                    <div class="counter counter-md text-left">
                        <div class="counter-label mb-5">
                            <span class="w-p75 mr-0" th:text="#{payment.card.title}">결제 카드</span>
                            <div class="float-right">
                                <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/card}"></a>
                                <a class="panel-action icon md-plus-square ml-5 grey-500" aria-hidden="true" th:href="@{/management/card/save}"></a>
                            </div>
                        </div>
                        <div class="counter-number-group mb-10">
                            <span class="counter-number font-size-25 text-truncate" th:text="${userCard.cardNoWithStar}" th:if="${userCard}">12,657</span>
                            <span class="counter-number font-size-25 text-truncate" th:unless="${userCard}">-</span>
                        </div>
                        <div class="counter-label">
                            <div class="counter counter-sm text-left">
                                <div class="counter-number-group">
                                    <span class="counter-number" th:text="${userCard.cardExpiryWithFormat}" th:if="${userCard}">38%</span>
                                    <span class="counter-number" th:unless="${userCard}">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-block p-30 border-right">
                    <div class="counter counter-md text-left">
                        <div class="counter-label mb-5">
                            <span class="w-p75 mr-0" th:text="#{payment.credit.title}">보유 크레딧</span>
                            <div class="float-right">
                                <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/credit}"></a>
                            </div>
                        </div>
                        <div class="counter-number-group mb-10">
                            <span class="counter-number" th:text="${{userCredit.remainCreditAmount}}" th:if="${userCredit}">12,657</span>
                            <span class="counter-number" th:unless="${userCredit}">0</span>
                        </div>
                        <div class="counter-label">
                            <div class="counter counter-sm text-left">
                                <div class="counter-number-group">
                                    <span class="counter-number" th:text="#{payment.credit.count(${userCredit.userCreditCount})}" th:if="${userCredit}">38%</span>
                                    <span class="counter-number" th:unless="${userCredit}">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-block p-30 border-right">
                    <div class="counter counter-md text-left">
                        <div class="counter-label mb-5">
                            <span class="w-p75 mr-0" th:text="#{payment.last.title}">저번 달 결제금액</span>
                            <div class="float-right">
                                <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/payment/list}"></a>
                            </div>
                        </div>
                        <div class="counter-number-group mb-10">
                            <span class="counter-number" th:text="${{lastPayment.totalPaymentAmount}}" th:if="${lastPayment}">12,657</span>
                            <span class="counter-number" th:unless="${lastPayment}">-</span>
                        </div>
                        <div class="counter-label">
                            <div class="counter counter-sm text-left">
                                <div class="counter-number-group">
                                    <span class="counter-number" data-plugin="moment" th:attr="data-utc-date=${lastPayment.paymentDate}" data-date-format="YYYY-MM-DD" th:if="${lastPayment}">-</span>
                                    <span class="counter-number-related" th:text="| / #{'code.PS.' + ${lastPayment.paymentStatusCode}}|" th:if="${lastPayment}">more than last month</span>
                                    <span class="counter-number" th:unless="${lastPayment}">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-block p-30">
                    <div class="counter counter-md text-left">
                        <div class="counter-label mb-5">
                            <span class="w-p75 mr-0" th:text="#{payment.next.title}">이번 달 결제금액</span>
                            <div class="float-right">
                                <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/payment/target}"></a>
                            </div>
                        </div>
                        <div class="counter-number-group mb-10">
                            <span class="counter-number" th:text="${{nextPayment.totalPaymentAmount}}" th:if="${nextPayment}">2,381</span>
                            <span class="counter-number" th:unless="${nextPayment}">-</span>
                        </div>
                        <div class="counter-label">
                            <div class="counter counter-sm text-left">
                                <div class="counter-number-group">
                                    <span class="counter-number" th:text="${{nextPayment.paymentDate}}" th:if="${nextPayment}">38%</span>
                                    <span class="counter-number" th:unless="${nextPayment}">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-12 col-xl-12 col-md-12">
            <div class="card card-shadow" id="chartBarStacked">
                <div class="card-block p-0 p-30 h-full">
                    <div class="chart-header pb-10">
                        <div class="font-size-18 inline-block font-weight-300" th:text="#{payment.recent.chart}">
                            최근 결제 현황
                        </div>
                    </div>
                    <div>
                        <canvas id="monthlyPayment" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 mb-30">
            <div class="panel card-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title font-weight-300" th:text="#{payment.recent.title}">
                        최근 결제 내역 (최대 6건)
                    </h3>
                    <div class="panel-actions">
                        <a class="panel-action icon md-more" aria-hidden="true" th:href="@{/management/payment/list}"></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped text-center font-size-12">
                        <thead>
                            <tr>
                                <td th:text="#{payment.paymentId}">결제ID</td>
                                <td th:text="#{payment.useDate}">사용기간</td>
                                <td th:text="#{payment.useQuantity}">GPU수량</td>
                                <td th:text="#{payment.totalPaymentAmount}">총금액</td>
                                <td th:text="#{payment.creditPaymentAmount}">크레딧</td>
                                <td th:text="#{payment.cardPaymentAmount}">카드결제금액</td>
                                <td th:text="#{payment.paymentStatusCode}">상태</td>
                                <td th:text="#{payment.paymentDate}">결제일시</td>
                            </tr>
                        </thead>
                        <tbody th:if="${paymentPage.getContent().isEmpty()}">
                            <tr>
                                <td colspan="8" class="p-30" th:text="#{payment.recent.list.empty}">최근 결제 내역이 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${paymentPage.getContent().isEmpty()}">
                            <tr th:each="payment : ${paymentPage.getContent()}">
                                <td th:text="${payment.paymentPK.paymentId}"></td>
                                <td th:text="|${payment.useStartDate} ~ ${payment.useEndDate}|"></td>
                                <td th:text="${payment.useQuantity}"></td>
                                <td th:text="${{payment.totalPaymentAmount}}"></td>
                                <td th:text="${{payment.creditPaymentAmount}}"></td>
                                <td th:text="${{payment.cardPaymentAmount}}"></td>
                                <td><span class="badge text-truncate pt-3" th:classappend="${payment.paymentStatusCode.badgeClass}" th:text="#{'code.PS.' + ${payment.paymentStatusCode}}">statusCode</span></td>
                                <td data-plugin="moment" th:attr="data-utc-date=${payment.paymentDate}">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>

<th:block layout:fragment="page-script">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var monthlyPayment = new Chart($('#monthlyPayment'), {
                type: 'bar',
                data: {
                    labels: ["0000-00", "0000-00", "0000-00", "0000-00", "0000-00", "0000-00"]
                },
                options: {
                    scales: {
                        xAxes: [{ stacked: true }],
                        yAxes: [{ stacked: true }]
                    }
                }
            });

            $.ajax({
                type: 'GET',
                url: '/management/payment/monthly/' + /*[[${{username}}]]*/'username'
            }).done(function (data, textStatus, jqXHR) {
                if (data.status === 'SUCCESS') {
                    monthlyPayment.data = {
                        labels: data.data.labels,
                        datasets : [{
                                label: '크레딧 결제',
                                data: data.data.dataForCredit,
                                backgroundColor: '#00bcd4',
                                borderColor: '#00bcd4',
                                borderWidth: 1
                            },
                            {
                                label: '카드 결제',
                                data: data.data.dataForCard,
                                backgroundColor: '#B2EBF2',
                                borderColor: '#B2EBF2',
                                borderWidth: 1
                            }]
                    };
                    monthlyPayment.update();
                } else {
                    console.log("월별 결제 현황을 불러오는데 실패하였습니다.");
                }
            }).fail(function (jqXHR) {
                console.log("월별 결제 현황을 불러오는데 실패하였습니다.");
            });


        });
    </script>
</th:block>


</body>
</html>
