<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.payment.title}">결제 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.payment.title}">결제 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item" th:text="#{management.payment.title}">결제 관리</li>
        <li class="breadcrumb-item active" th:text="#{management.payment.list.title}">결제 내역</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.payment.list.title}">결제 내역</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{payment.paymentId}">결제ID</td>
                            <td th:text="#{payment.useDate}">사용기간</td>
                            <td th:text="#{payment.useQuantity}">GPU수량</td>
                            <td th:text="#{payment.totalPaymentAmount}">총금액</td>
                            <td th:text="#{payment.creditPaymentAmount}">크레딧</td>
                            <td th:text="#{payment.cardPaymentAmount}">카드결제금액</td>
                            <td th:text="#{payment.paymentStatusCode}">상태</td>
                            <td th:text="#{payment.paymentDate}">결제일시</td>
                        </tr>
                        </thead>
                        <tbody th:if="${paymentPage.getContent().isEmpty()}">
                        <tr>
                            <td colspan="9" class="text-center pt-30 pb-30" th:text="#{payment.list.empty}">결제내역이 없습니다.</td>
                        </tr>
                        </tbody>
                        <th:block th:unless="${paymentPage.getContent().isEmpty()}" th:each="payment : ${paymentPage.getContent()}">
                        <tbody class="table-section" data-plugin="tableSection">
                            <tr>
                                <td>
                                    <i class="table-section-arrow"></i>
                                </td>
                                <td th:text="${payment.paymentPK.paymentId}"></td>
                                <td th:text="|${payment.useStartDate} ~ ${payment.useEndDate}|"></td>
                                <td th:text="${payment.useQuantity}"></td>
                                <td th:text="${{payment.totalPaymentAmount}}"></td>
                                <td th:text="${{payment.creditPaymentAmount}}"></td>
                                <td th:text="${{payment.cardPaymentAmount}}"></td>
                                <td><span class="badge text-truncate pt-3" th:classappend="${payment.paymentStatusCode.badgeClass}" th:text="#{'code.PS.' + ${payment.paymentStatusCode}}">statusCode</span></td>
                                <td data-plugin="moment" th:attr="data-utc-date=${payment.paymentDate}"></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="9" class="bg-grey-100">
                                    <span class="font-size-10" th:unless="${payment.targetContainerList ne null and !payment.targetContainerList.isEmpty()}" th:text="#{payment.target.list.empty}">결제대상 컨테이너 목록이 없습니다.</span>
                                    <table class="table table-hover table-bordered font-size-10 text-center mb-0" th:unless="${payment.targetContainerList.isEmpty()}">
                                        <thead>
                                        <tr class="bg-grey-200 font-weight-500">
                                            <td>#</td>
                                            <td sec:authorize="hasAuthority('GROUP_ADMIN')" th:text="#{payment.user}">사용자</td>
                                            <td th:text="#{payment.container}">컨테이너</td>
                                            <td th:text="#{payment.detail}">상세정보</td>
                                            <td style="width: 131px;"><span th:text="#{payment.startDate}">시작일</span><br/>(<span th:text="#{payment.applyDate}">적용일</span>)</td>
                                            <td style="width: 131px;"><span th:text="#{payment.returnDate}">반납일</span><br/>(<span th:text="#{payment.applyDate}">적용일</span>)</td>
                                            <td><span th:text="#{payment.chargingMethod}">과금 방법</span><br/>(<span th:text="#{payment.applyDate.count}">적용일수</span>)</td>
                                            <td th:text="#{payment.monthlyAmount}">금액</td>
                                        </tr>
                                        </thead>
                                        <tr th:each="containerHistory, containerHistoryStat : ${payment.targetContainerList}">
                                            <td th:text="${containerHistoryStat.index + 1}"></td>
                                            <td sec:authorize="hasAuthority('GROUP_ADMIN')" th:text="${containerHistory.containerHistoryPK.username}">username</td>
                                            <td class="text-left" th:text="${containerHistory.container.containerName}">containerName</td>
                                            <td class="text-left" th:text="|${containerHistory.gpu.gpuName} x ${containerHistory.gpuQuantity}|">gpu</td>
                                            <td>
                                                <span data-plugin="moment" th:attr="data-utc-date=${containerHistory.startDate}" data-date-format="YYYY-MM-DD HH:mm">-</span>
                                                <br/>(<span th:text="${{containerHistory.useStartDate}}">-</span>)
                                            </td>
                                            <td>
                                                <span data-plugin="moment" th:attr="data-utc-date=${containerHistory.returnDate}" data-date-format="YYYY-MM-DD HH:mm">-</span>
                                                <br/>(<span th:text="${{containerHistory.useEndDate}}"></span>)
                                            </td>
                                            <td>
                                                <span th:text="#{'code.CM.' + ${containerHistory.chargingMethodCode}}">chargingMethodCode</span>
                                                <br/>(&nbsp;<span th:text="|${containerHistory.useMonths} #{payment.use.unit.month} |" th:if="${containerHistory.useMonths != 0}">useMonths</span><span th:text="|${containerHistory.useDays} #{payment.use.unit.day} |" th:if="${containerHistory.useDays != 0}">useDays</span><span th:text="|${containerHistory.useHours} #{payment.use.unit.hour} |" th:if="${containerHistory.useHours != 0}">useHours</span><span th:text="|${containerHistory.useMinutes} #{payment.use.unit.minute} |" th:if="${containerHistory.useMinutes != 0}">useMinutes</span>)
                                            </td>
                                            <td th:text="${{containerHistory.monthlyAmount}}">monthlyAmount</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        </th:block>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                        <nav th:replace="fragments/site-pagination::pagination (pages=${paymentPage})"></nav>
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/table.js}"></script>
</th:block>

</body>
</html>
