<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.group.title}">그룹 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.group.title}">그룹 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.group.title}">그룹 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.group.title}">그룹 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper nav-tabs-horizontal container-fluid pl-0 pr-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" th:href="@{/admin/group}" th:text="#{user.tab.group}">그룹</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/user}" th:text="#{user.tab.user}">사용자</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/login-history}" th:text="#{user.tab.login-history}">로그인 이력</a></li>
                </ul>
                <div class="tab-content pt-20">
                    <div class="tab-pane active">
                        <form th:object="${groupCriteria}" method="get" autocomplete="off">
                            <div class="row ml-0 mr-0">
                                <div class="col-sm-12 col-md-11 pl-0">
                                    <div class="row no-space form-group mb-10">
                                        <div class="col-sm-2 col-xs-6">
                                            <select th:field="*{confirmYn}" class="form-control form-control-sm">
                                                <option value="" th:text="#{user.option.confirmYn.all}">승인 여부 전체</option>
                                                <option value="true" th:text="#{user.option.confirmYn.true}">승인</option>
                                                <option value="false" th:text="#{user.option.confirmYn.false}">미승인</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-xs-4">
                                            <input type="text" th:field="*{name}" class="form-control form-control-sm" th:placeholder="#{user.name}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-1 text-right pr-0">
                                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.search}">조회</button>
                                </div>
                            </div>
                        </form>
                        <!--<div class="row pb-5 pl-15 font-size-12">-->
                            <!--총&nbsp;<span th:text="${groupPage.totalElements}">totalElements</span>&nbsp;건-->
                            <!--&nbsp;(<span th:text="${groupPage.number + 1}">number</span> / <span th:text="${groupPage.totalPages}">totalPages</span>)-->
                        <!--</div>-->
                        <div class="row ml-0 mr-0">
                            <table class="table table-hover border-bottom font-size-12 text-center">
                                <thead class="bg-grey-100 font-weight-600">
                                <tr>
                                    <td>#</td>
                                    <td th:text="#{user.groupName}">그룹명</td>
                                    <td th:text="#{user.groupTypeCode}">그룹구분</td>
                                    <td th:text="#{user.group.id}">그룹아이디</td>
                                    <td th:text="#{user.group.username}">담당자</td>
                                    <td th:text="#{user.organizationName}">단체명<br/>(회사/학교)</td>
                                    <td th:text="#{user.teamName}">팀명<br/>(부서/학과)</td>
                                    <td th:text="#{user.createdAt}">생성일시</td>
                                    <td th:text="#{user.group.container.count}">그룹컨테이너</td>
                                    <td th:text="#{user.group.gpu}">그룹GPU<br/>(사용/할당)</td>
                                    <td th:text="#{user.confirmYn}">승인여부</td>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody th:if="${groupPage.getContent().isEmpty()}">
                                <tr>
                                    <td colspan="12" class="text-center p-30">등록된 그룹이 없습니다.</td>
                                </tr>
                                </tbody>
                                <tbody th:unless="${groupPage.getContent().isEmpty()}">
                                <tr th:each="group : ${groupPage.getContent()}" >
                                    <td th:text="${groupPage.totalElements - ((groupPage.number) * groupPage.size) - groupStat.index}"></td>

                                    <td th:text="${group.groupName}"></td>
                                    <td th:text="#{'code.GT.' + ${group.groupTypeCode}}"></td>

                                    <td>
                                        <a th:href="@{/admin/user/{username} (username=${group.username})}"><span th:text="${group.username}"></span></a>
                                    </td>
                                    <td th:text="${group.name}"></td>
                                    <td th:text="${group.organizationName}"></td>
                                    <td th:text="${group.teamName}"></td>
                                    <td data-plugin="moment" th:attr="data-utc-date=${group.createdAt}">-</td>

                                    <td th:text="${group.groupContainerCount}"></td>
                                    <td>
                                        <span th:text="${group.totalGroupUseQuantity}"></span>
                                        /<span th:text="${group.totalGroupQuotaQuantity}"></span>
                                    </td>
                                    <td th:text="#{'user.confirmYn.' + ${group.confirmYn}}">confirmYn</td>
                                    <td>
                                        <form method="post" th:action="@{/admin/user/{username}/update (username=${group.username})}" th:unless="${group.confirmYn}">
                                            <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic" th:text="#{common.button.confirm}" />
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row ml-0 mr-0">
                            <div class="col-sm-12 col-md-10 pl-0">
                                <nav th:replace="fragments/site-pagination::pagination (pages=${groupPage})"></nav>
                            </div>
                            <div class="col-sm-12 col-md-2 pr-0 text-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>