
.layout-boxed {
  @include media-breakpoint-up(xl) {
    background: $layout-boxed-bg;

    &,
    & .site-navbar {
      max-width: $layout-boxed-width;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .slidePanel {
    &-right,
    &-left {
      top: 0;
      // margin-top: 0;
      // height: 100%;
      z-index: ($zindex-navbar-fixed + 10);
    }
  }
}
