@mixin popover-variant($color, $bg, $border){
  .popover-header {
    color: $color;
    background-color: $bg;
    border-color: $border;
  }

  &.bs-popover-bottom {
    .popover-header::before {
      border-color: $bg;
    }
  }

  // &.bs-popover-top .arrow, &.popover-top .arrow {
  //   &::before {
  //     border-top-color: $border;
  //   }

  //   &::after {
  //     border-top-color: $bg;
  //   }
  // }

  &.bs-popover-bottom .arrow,
  &.popover-bottom .arrow {
    &::before {
      border-bottom-color: $border;
    }

    &::after {
      border-bottom-color: $bg;
    }
  }

  // &.bs-popover-left .arrow, &.popover-left .arrow {
  //   &::before {
  //     border-left-color: $border;
  //   }

  //   &::after {
  //     border-left-color: $bg;
  //   }
  // }

  // &.bs-popover-right .arrow, &.popover-right .arrow {
  //   &::before {
  //     border-right-color: $border;
  //   }

  //   &::after {
  //     border-right-color: $bg;
  //   }
  // }
}
