<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{dashboard.title}">대시보드</title>
    <script th:src="@{/assets/vendor/moment/moment.min.js}"></script>
    <script th:src="@{/assets/vendor/chart-js/Chart.min.js}"></script>
    <!--<script th:src="@{/assets/vendor/slidepanel/slidePanel.min.css}"></script>-->
    <!--<script th:src="@{/assets/vendor/owl-carousel/owl.carousel.min.css}"></script>-->
    <style>

        .carousel-control-next,
        .carousel-control-prev {
            color: black;
            /*border: 1px solid red;*/
            min-width: 50px; }
        .carousel-control-next:hover, .carousel-control-next:focus,
        .carousel-control-prev:hover,
        .carousel-control-prev:focus {
            color: black;
            /*border: 1px solid blue;*/
            opacity: 1 !important; }
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            z-index: 5;
            font-size: 30px;
            background-image: none; }
    </style>
</head>
<body>

<div class="page-header pt-15 pb-15" layout:fragment="page-header">
    <!--<h1 class="page-title" th:text="#{dashboard.title}">대시보드</h1>-->
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="row">
        <div class="col-xl-3 col-lg-12">
            <div class="card card-shadow">
                <div class="card-block p-20 text-center">
                    <div class="w-p40">
                        <a class="avatar avatar-100">
                            <img th:src="${user.userImagePath}" alt="..." class="cheetah-avatar-border" style="width: 100px; height: 100px;">
                        </a>
                    </div>
                    <div class="h-87 mt-10 vertical-align">
                        <div class="vertical-align-middle">
                            <div class="font-size-20 font-weight-500 text-truncate" th:text="${user.name}">Gwendolyn Wheeler</div>
                            <div class="font-size-14 text-truncate" th:text="${user.group.groupName}" th:if="${user.parentUsername ne null}">parentUsername</div>
                            <div class="font-size-14 text-truncate" th:text="${user.email}">Adminnistrator</div>
                            <div class="font-size-14 text-truncate"><span class="text-break" th:text="${user.organizationName}">organizationName</span> <span class="text-break" th:text="${user.teamName}">teamName</span></div>
                            <div th:if="${user.isGroupAdmin()}">
                                <a th:href="@{/management/group}" class="btn btn-xs btn-info">
                                    <i class="icon md-email"></i><span th:text="#{group.invite.mail.btn}">그룹 가입링크 메일전송</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-12">
            <div class="card-group card-shadow">
                <div class="card card-block p-30 border-right" th:if="${user.isSystemAdmin() or user.isGroupAdmin()}">
                    <div class="counter counter-lg text-left pl-20">
                        <span class="counter-number" th:text="|${confirmUserCount} / ${userCount}|">1 /286</span>
                        <div class="counter-label" th:text="#{dashboard.user.confirm.all.count}">사용자 (승인/전체)</div>
                    </div>
                </div>
                <div class="card card-block p-30 border-right">
                    <div class="counter counter-lg text-left pl-20">
                        <span class="counter-number" th:text="${containerCount}">286</span>
                        <div class="counter-label" th:text="#{dashboard.container.use.count}">사용 컨테이너</div>
                    </div>
                </div>
                <div class="card card-block p-30">
                    <div class="counter counter-lg text-left pl-20">
                        <th:block th:if="${user.isGroupAdmin()}">
                            <span class="counter-number" th:text="|${useQuantity} / ${quotaQuantity}|">286</span>
                            <div class="counter-label" th:text="#{dashboard.gpu.use.allocate.count}">GPU (사용/할당)</div>
                        </th:block>
                        <th:block th:if="${user.isSystemAdmin()}">
                            <span class="counter-number" th:text="|${useQuantity} / ${quotaQuantity}|">286</span>
                            <div class="counter-label" th:text="#{dashboard.gpu.use.has.count}">GPU (사용/보유)</div>
                        </th:block>
                        <th:block th:unless="${user.isSystemAdmin() or user.isGroupAdmin()}">
                            <span class="counter-number" th:text="${useQuantity}">286</span>
                            <div class="counter-label" th:text="#{dashboard.gpu.use.count}">사용 GPU</div>
                        </th:block>
                    </div>
                </div>
                <div class="card card-block p-30 border-left" th:unless="${user.isSystemAdmin() or user.isGroupAdmin()}">
                    <div class="counter counter-lg text-left pl-20">
                        <span class="counter-number" th:text="${remainQuantity}">286</span>
                        <div class="counter-label" th:text="#{dashboard.gpu.remain.count}">남은 GPU</div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
            <div class="card-group mt-30 card-shadow">
                <div class="card card-block p-20">
                    <div id="noticeDiv" class="scroll-text">
                        <ul class="list-group list-group-full">
                            <li class="list-group-item col-sm-12 pt-0 pb-0 pl-5" th:if="${noticeList.isEmpty()}">
                                <span th:text="#{notice.list.empty}">등록된 공지사항이 없습니다.</span>
                            </li>
                            <li class="list-group-item col-sm-12 pt-0 pb-0 pl-5" th:each="post : ${noticeList}" th:unless="${noticeList.isEmpty()}">
                                <span class="col-sm-9 float-left pl-5 text-truncate">
                                    <a th:href="@{/help/notice/{postSn} (postSn=${post.postSn})}">
                                        <span class="badge badge-outline badge-info text-truncate pt-3" th:text="#{'notice.type.' + ${post.groupId == 'admin' ? 'all' : 'group'}}">6</span>
                                        <span class="ml-5 grey-500" th:text="${post.title}">title</span>
                                    </a>
                                </span>
                                <span class="col-sm-3 float-right text-right" data-plugin="moment" th:attr="data-utc-date=${post.createdAt}" data-date-format="YYYY-MM-DD HH:mm">-</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <th:block sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')">
            <div class="col-xl-5 col-lg-6">
                <div class="panel card-shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title font-weight-300">
                            <span th:text="#{dashboard.user.confirm.list}">사용자 승인대기 목록</span>
                            <a th:href="@{/__${user.isSystemAdmin() ? 'admin' : 'management'}__/user}"><span class="badge badge-pill badge-info" th:text="${confirmUserPage.getTotalElements()}" th:if="${confirmUserPage}">1</span></a>
                        </h3>
                        <div class="panel-actions">
                            <a class="panel-action icon md-more" aria-hidden="true" th:href="@{/__${user.isSystemAdmin() ? 'admin' : 'management'}__/user?confirmYn=false}"></a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped font-size-12">
                            <tbody th:if="${confirmUserPage.getContent().isEmpty()}">
                            <tr>
                                <td colspan="3" class="p-30" th:text="#{dashboard.user.confirm.list.empty}">사용자 승인 목록이 없습니다.</td>
                            </tr>
                            </tbody>
                            <tbody th:unless="${confirmUserPage.getContent().isEmpty()}">
                            <tr th:each="confirmUser : ${confirmUserPage.getContent()}">
                                <td>
                                    <a th:href="@{/__${user.isSystemAdmin() ? 'admin' : 'management'}__/user/{username} (username=${confirmUser.username})}"><span th:text="${confirmUser.username}">username</span></a>
                                </td>
                                <td th:text="${confirmUser.name}">name</td>
                                <td data-plugin="moment" th:attr="data-utc-date=${confirmUser.createdAt}" data-date-format="YYYY-MM-DD HH:mm">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-7 col-lg-6">
                <div class="panel card-shadow">
                    <div class="panel-heading">
                        <h3 class="panel-title font-weight-300">
                            <span th:text="#{dashboard.container.confirm.list}">컨테이너 승인대기 목록</span>
                            <a th:href="@{/management/container}"><span class="badge badge-pill badge-info" th:text="${confirmContainerPage.getTotalElements()}" th:if="#{confirmContainerPage}">1</span></a>
                        </h3>
                        <div class="panel-actions">
                            <a class="panel-action icon md-more" aria-hidden="true" th:href="@{/management/container?statusCode=REQUEST}"></a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped font-size-12">
                            <tbody th:if="${confirmContainerPage.getContent().isEmpty()}">
                            <tr>
                                <td colspan="4" class="p-30" th:text="#{dashboard.container.confirm.list.empty}">컨테이너 승인 목록이 없습니다.</td>
                            </tr>
                            </tbody>
                            <tbody th:unless="${confirmContainerPage.getContent().isEmpty()}">
                            <tr th:each="container : ${confirmContainerPage.getContent()}">
                                <td>
                                    <span th:text="|${container.user.name} (${container.containerPK.username})|">userName</span>
                                </td>
                                <td>
                                    <a th:href="@{/management/container/{username}/{containerId} (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                                        <span th:text="${container.containerName}">containerName</span>
                                    </a>
                                <td>
                                <td>
                                    <span th:text="${container.podFormat.podFormatName}">podFormatName</span>
                                    / <small th:text="|${container.gpu.gpuName} * ${container.gpuQuantity}|">gpu info</small>
                                </td>
                                <td data-plugin="moment" th:attr="data-utc-date=${container.createdAt}" data-date-format="YYYY-MM-DD HH:mm">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </th:block>

        <th:block sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('GROUP_USER') or hasAuthority('GENERAL_USER')">
            <div class="col-xxl-4 col-xl-4 col-md-12">
                <!-- Panel Pie -->
                <div class="card card-shadow">
                    <div class="card-block p-0 p-30 pt-20 h-full">
                        <div class="chart-header pb-10 text-center">
                            <div class="font-size-18 inline-block font-weight-300">
                                <span th:text="#{'dashboard.chart.total.title.' + ${user.isGroupAdmin() ? 'group' : 'all'}}">GPU 사용 현황</span>
                            </div>
                        </div>
                        <div class="ct-chart chart-pie" style="height: 100%;">
                            <div class="vertical-align text-center" style="height:100%; width:100%; position:absolute; left:0; top:0;">
                                <div class="font-size-20 pt-40 mt-100 vertical-align-middle" style="line-height:1.1 ">
                                    <div th:text="|${useQuantity}/${quotaQuantity}|">0</div>
                                </div>
                            </div>
                            <div style="">
                                <canvas id="gpu-total-chart" height="170"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Panel Pie -->
            </div>

            <div class="col-xxl-8 col-xl-8 col-md-12" sec:authorize="hasAuthority('GROUP_ADMIN')">
                <div class="card card-shadow" id="chartBarStacked">
                    <div class="card-block p-0 p-30 pt-20 h-full">
                        <div class="chart-header pb-10" style="height:calc(100% - 350px);">
                            <div class="font-size-18 inline-block font-weight-300">
                                <span th:text="#{dashboard.chart.monthly.title}">월별 GPU 사용 현황</span>
                            </div>
                        </div>
                        <div>
                            <canvas id="gpu-monthly-chart" height="80"></canvas>
                        </div>
                    </div>
                </div>
            </div>



        </th:block>



        <div class="col-md-12" th:classappend="${user.isSystemAdmin() or user.isGroupAdmin() ? 'col-xxl-12 col-xl-12' : 'col-xxl-8 col-xl-8'}">
            <div class="panel card-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title font-weight-300">
                        <span th:text="#{dashboard.container.list.title}">사용중인 컨테이너 목록</span>
                        <a th:href="@{/management/container}"><span class="badge badge-pill badge-info" th:text="${containerPage.getTotalElements()}" th:if="#{containerPage}">1</span></a>
                    </h3>
                    <div class="panel-actions">
                        <a class="panel-action icon md-more" aria-hidden="true" th:href="@{/management/container}"></a>
                        <a class="panel-action icon md-plus-square ml-5 grey-500" aria-hidden="true" th:href="@{/management/container/save}"></a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped font-size-12">
                        <tbody th:if="${containerPage.getContent().isEmpty()}">
                        <tr>
                            <td colspan="5" class="p-30" th:text="#{dashboard.container.list.title.empty}">컨테이너 목록이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${containerPage.getContent().isEmpty()}">
                        <tr th:each="container : ${containerPage.getContent()}">
                            <td sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')">
                                <span th:text="|${container.user.name} (${container.containerPK.username})|">userName</span>
                            </td>
                            <td>
                                <a th:href="@{/management/container/{username}/{containerId} (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                                    <span th:text="${container.containerName}">containerName</span>
                                </a>
                            </td>
                            <td>
                                <span th:text="${container.podFormat.podFormatName}">podFormatName</span>
                                <br/>/ <small th:text="|${container.gpu.gpuName} * ${container.gpuQuantity}|">gpu info</small>
                            </td>
                            <td>
                                    <span class="badge text-truncate pt-3" th:classappend="${container.statusCode.badgeClass}"
                                          th:if="${container.statusCode}"
                                          th:text="#{'code.CS.' + ${container.statusCode}}">statusCode</span>
                                <span class="badge text-truncate pt-3" th:classappend="${container.podStatusCode.badgeClass}"
                                      th:if="${container.podStatusCode != null && container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START}"
                                      th:text="${container.podStatusCode}">podStatus</span>
                            </td>
                            <td>
                                <a th:href="|http://${container.externalIp}:${container.notebookPort}|"
                                   class="btn btn-warning btn-xs waves-effect waves-classic" target="_blank"
                                   th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                                    && container.podStatusCode == T(com.mybclab.cheetah.common.constant.Code.POD_STATUS).RUNNING
                                                    && (user.isSystemAdmin() or #authentication.name == container.containerPK.username)
                                                    && container.nodeSn != null && container.externalIp != null
                                                    && container.notebookPort != 0}">
                                    <i class="icon md-assignment" aria-hidden="true"></i></a>
                                <a th:href="@{/kube/webconsole/{podName} (podName=${container.podName})}"
                                   class="btn btn-success btn-xs waves-effect waves-classic" target="_blank"
                                   th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                                    && container.podStatusCode == T(com.mybclab.cheetah.common.constant.Code.POD_STATUS).RUNNING
                                                    && (user.isSystemAdmin() or #authentication.name == container.containerPK.username)
                                                    && container.nodeSn != null && container.externalIp != null
                                                    && container.websocketPort != 0 && container.podName != null}">
                                    <i class="icon md-sign-in" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <span data-plugin="moment" th:attr="data-utc-date=${container.startDate}" data-date-format="YYYY-MM-DD" th:if="${container.startDate}">-</span>
                                <br/><span th:if="${container.returnDate}" data-plugin="moment" th:attr="data-utc-date=${container.returnDate}" data-date-format="YYYY-MM-DD">-</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!--<th:block sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('GROUP_USER') or hasAuthority('GENERAL_USER')">-->
        <th:block th:if="${containerCount > 0}">
            <div class="col-xxl-6 col-xl-6 col-md-12">
                <div class="card card-shadow">
                    <div class="card-block p-0 pt-10 pb-40 pt-20 h-full">
                        <div class="card-header text-center card-header-transparent pt-0">
                            <div class="font-size-18 inline-block font-weight-300">
                                GPU (Temprature)
                            </div>
                        </div>
                        <div class="ml-20 mr-20">
                            <canvas id="gpu-temp-chart" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-md-12">
                <div class="card card-shadow">
                    <div class="card-block p-0 pt-10 pb-40 pt-20 h-full">
                        <div class="card-header text-center card-header-transparent pt-0">
                            <div class="font-size-18 inline-block font-weight-300">
                                GPU (Power)
                            </div>
                        </div>
                        <div class="ml-20 mr-20">
                            <canvas id="gpu-power-chart" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <!--</th:block>-->


        <th:block th:if="${@environment.getProperty('cheetah.payment')}" sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('GENERAL_USER')">

            <div class="col-xl-12 col-lg-12 mb-30">

                <div class="card-group card-shadow">
                    <div class="card card-block p-30 border-right">
                        <div class="counter counter-md text-left">
                            <div class="counter-label mb-5">
                                <span class="w-p75 mr-0" th:text="#{payment.card.title}">결제 카드</span>
                                <div class="float-right">
                                    <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/card}"></a>
                                    <a class="panel-action icon md-plus-square ml-5 grey-500" aria-hidden="true" th:href="@{/management/card/save}"></a>
                                </div>
                            </div>
                            <div class="counter-number-group mb-10">
                                <span class="counter-number font-size-25 text-truncate" th:text="${userCard.cardNoWithStar}" th:if="${userCard}">12,657</span>
                                <span class="counter-number font-size-25 text-truncate" th:unless="${userCard}">-</span>
                            </div>
                            <div class="counter-label">
                                <div class="counter counter-sm text-left">
                                    <div class="counter-number-group">
                                        <span class="counter-number" th:text="${userCard.cardExpiryWithFormat}" th:if="${userCard}">38%</span>
                                        <span class="counter-number" th:unless="${userCard}">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-block p-30 border-right">
                        <div class="counter counter-md text-left">
                            <div class="counter-label mb-5">
                                <span class="w-p75 mr-0" th:text="#{payment.credit.title}">보유 크레딧</span>
                                <div class="float-right">
                                    <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/credit}"></a>
                                </div>
                            </div>
                            <div class="counter-number-group mb-10">
                                <span class="counter-number" th:text="${{userCredit.remainCreditAmount}}" th:if="${userCredit}">12,657</span>
                                <span class="counter-number" th:unless="${userCredit}">0</span>
                            </div>
                            <div class="counter-label">
                                <div class="counter counter-sm text-left">
                                    <div class="counter-number-group">
                                        <span class="counter-number" th:text="#{payment.credit.count(${userCredit.userCreditCount})}" th:if="${userCredit}">38%</span>
                                        <span class="counter-number" th:unless="${userCredit}">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-block p-30 border-right">
                        <div class="counter counter-md text-left">
                            <div class="counter-label mb-5">
                                <span class="w-p75 mr-0" th:text="#{payment.last.title}">저번 달 결제금액</span>
                                <div class="float-right">
                                    <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/payment/list}"></a>
                                </div>
                            </div>
                            <div class="counter-number-group mb-10">
                                <span class="counter-number" th:text="${{lastPayment.totalPaymentAmount}}" th:if="${lastPayment}">12,657</span>
                                <span class="counter-number" th:unless="${lastPayment}">-</span>
                            </div>
                            <div class="counter-label">
                                <div class="counter counter-sm text-left">
                                    <div class="counter-number-group">
                                        <span class="counter-number" data-plugin="moment" th:attr="data-utc-date=${lastPayment.paymentDate}" data-date-format="YYYY-MM-DD" th:if="${lastPayment}">-</span>
                                        <span class="counter-number-related" th:text="| / #{'code.PS.' + ${lastPayment.paymentStatusCode}}|" th:if="${lastPayment}">more than last month</span>
                                        <span class="counter-number" th:unless="${lastPayment}">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-block p-30">
                        <div class="counter counter-md text-left">
                            <div class="counter-label mb-5">
                                <span class="w-p75 mr-0" th:text="#{payment.next.title}">이번 달 결제금액</span>
                                <div class="float-right">
                                    <a class="panel-action icon md-more grey-500" aria-hidden="true" th:href="@{/management/payment/target}"></a>
                                </div>
                            </div>
                            <div class="counter-number-group mb-10">
                                <span class="counter-number" th:text="${{nextPayment.totalPaymentAmount}}" th:if="${nextPayment}">2,381</span>
                                <span class="counter-number" th:unless="${nextPayment}">-</span>
                            </div>
                            <div class="counter-label">
                                <div class="counter counter-sm text-left">
                                    <div class="counter-number-group">
                                        <span class="counter-number" data-plugin="moment" th:attr="data-utc-date=${nextPayment.paymentDate}" data-date-format="YYYY-MM-DD" th:if="${nextPayment}">-</span>
                                        <span class="counter-number" th:unless="${nextPayment}">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <input type="hidden" name="username" id="username" th:value="${user.username}" />
        <input type="hidden" name="useQuantity" id="useQuantity" th:value="${useQuantity}" />
        <input type="hidden" name="remainQuantity" id="remainQuantity" th:value="${remainQuantity}" />

    </div>
</div>

<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/cheetah/jquery.scrollbox.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
    $(document).ready(function () {

        var username = $('#username').val();
        var colors = ['#00bcd4', '#0091EA', '#03A9F4', '#2962FF', '#40C4FF', '#00E5FF'];
        var colorsForGpu = ['#42A5F5', '#26C6DA', '#5C6BC0', '#90CAF9', '#00BFA5', '#8C9EFF'];


        // notice
        if ($('#noticeDiv li').length > 1) {
            $('#noticeDiv').scrollbox();
        }

        // gpu temp, power
        console.log("222");
        function chartOption(labelPostFix, yStepSize) {
            yStepSize = yStepSize ? yStepSize : 20;
            // console.log(' labelPostFix : ' + labelPostFix+ ', yStepSize : ' + yStepSize);
            return {
                type: 'line',
                options: {
                    scales: {
                        yAxes: [{ ticks: { callback: function(value, index, values) { return value + labelPostFix; }, stepSize: yStepSize } }],
                        xAxes: [{
                            type: 'time', distribution: 'series',
                            ticks: { source: 'data', autoSkip: true, stepSize: 10 },
                            bounds: 'ticks',
                            time: { unit: 'minute', displayFormats: { minute: 'HH:mm' } }
                        }]
                    },
                    animation: { duration: 0 },
                    tooltips: {
                        intersect: false, mode: 'index',
                        callbacks: {
                            label: function(tooltipItem, myData) {
                                var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                                return (label ? label + ': ' : label) + tooltipItem.yLabel + labelPostFix;
                            }
                        }
                    }
                }
            };
        }

        var gpuTempInterval;
        var gpuPowerInterval;

        function clearIntervalWithQueryType() {
            if ('temp' == queryType) {
                clearInterval(gpuTempInterval);
            } else if ('power' == queryType) {
                clearInterval(gpuPowerInterval);
            }
        }

        function drawGpuChart(queryType, chart, periodMinute, stepSeconds) {
            var url = '/api/monitoring/' + username + '/gpu/' + queryType + '?periodMinute=' + periodMinute + '&stepSeconds=' + stepSeconds;
            // console.log('url : ' + url);
            $.ajax({
                type: 'GET',
                url: url
            }).done(function (data, textStatus, jqXHR) {
                if (data.status === 'SUCCESS') {
                    if (data.data.gpuList != null && data.data.gpuList.length > 0) {
                        var datasets = [];
                        for (var i = 0; i < data.data.gpuList.length; i++) {
                            var values = [];
                            for (var j = 0; j < data.data.series[i].length && data.data.series[i][j] != null; j++) {
                                // console.log('data.data.labels['+i+']['+j+']:' + data.data.labels[i][j]);
                                values.push({
                                    x: data.data.labels[i][j] ? moment(data.data.labels[i][j], 'YYYY-MM-DD HH:mm') : '-',
                                    y: data.data.series[i][j]
                                });
                            }
                            datasets[i] = ({
                                label: data.data.gpuList[i].metric.label,
                                data: values,
                                backgroundColor: colorsForGpu[i],
                                borderColor: colorsForGpu[i],
                                type: 'line',
                                pointRadius: 0,
                                lineTension: 0,
                                borderWidth: 1,
                                fill: false
                            });
                        }
                        chart.data.datasets = datasets;
                        chart.update();
                    } else {
                        $('#gpu-' + queryType + '-chart').closest('div.card').parent('div').css('display', 'none');
                    }
                } else {
                    console.log("done fail");
                    clearIntervalWithQueryType(queryType);
                }

            }).fail(function (jqXHR) {
                console.log("fail fail");
                clearIntervalWithQueryType(queryType);
            });
        }

        var periodMinute = 360;
        var stepSeconds = 60;
        var intervalTime = 600000;
        if ($('#gpu-temp-chart').length > 0) {
            var gpuTempChart = new Chart($('#gpu-temp-chart'), chartOption('℃', 20));
            drawGpuChart('temp', gpuTempChart, periodMinute, stepSeconds);
            gpuTempInterval = setInterval(function() {
                drawGpuChart('temp', gpuTempChart, periodMinute, stepSeconds);
            }, intervalTime);
        }
        if ($('#gpu-power-chart').length > 0) {
            var gpuPowerChart = new Chart($('#gpu-power-chart'), chartOption('w', 50));
            drawGpuChart('power', gpuPowerChart, periodMinute, stepSeconds);
            gpuPowerInterval = setInterval(function() {
                drawGpuChart('power', gpuPowerChart, periodMinute, stepSeconds);
            }, intervalTime);
        }
        // gpu total
        if ($('#gpu-total-chart').length > 0) {
            var useQuantity = $('#useQuantity').val();
            var remainQuantity = $('#remainQuantity').val();
            var gpuTotalChart = new Chart($('#gpu-total-chart'), {
                type: 'doughnut',
                options: {
                    circumference : Math.PI,
                    rotation : -Math.PI
                },
                data: {
                    labels: ['사용', '미사용'],
                    datasets: [{
                        data: [ useQuantity, remainQuantity],
                        label: 'GPU',
                        backgroundColor: colors
                    }]
                }
            });
        }

        // gpu monthly
        if ($('#gpu-monthly-chart').length > 0) {
            var gpuMonthlyChart = new Chart($('#gpu-monthly-chart'), {
                type: 'bar',
                data: {
                    labels: ["0000-00", "0000-00", "0000-00", "0000-00", "0000-00", "0000-00"]
                },
                options: {
                    scales: {
                        xAxes: [{ stacked: true }],
                        yAxes: [{ stacked: true }]
                    }
                }
            });

            $.ajax({
                type: 'GET',
                url: '/dashboard/monthly/gpu/' + username
            }).done(function (data, textStatus, jqXHR) {
                if (data.status === 'SUCCESS') {
                    var datasets = [data.data.gpuList.length];
                    for (var i = 0; i < data.data.gpuList.length; i++) {
                        datasets[i] = ({
                            label: data.data.gpuList[i].gpuName,
                            data: data.data.series[i],
                            backgroundColor: colors[i],
                            borderColor: colors[i],
                            borderWidth: 1
                        });
                    }
                    gpuMonthlyChart.data = {
                        labels: data.data.labels,
                        datasets : datasets
                    };
                    gpuMonthlyChart.update();

                } else {
                    console.log("fail");
                }
            }).fail(function (jqXHR) {
                console.log("fail");
            });


        }

    });


        /* ]]> */


    </script>

</th:block>

</body>
</html>
