@import "vars";

.page-email {
  .page-content {
    .panel {
      max-width: 660px;
      margin: 0 auto;
    }
  }

  .email-title {
    padding: 15px 0 5px;
    text-align: center;
  }

  .email-more {
    padding: 35px 0 10px;
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid $divider-color-base;

    &-title {
      font-size: 20px;
    }

    &-content {
      padding: 47px 0 54px;
    }

    &-social {
      padding: 20px 0;

      a {
        padding: 5px;
        margin: 0 7px;
        text-decoration: none;
      }

      .icon {
        font-size: $font-size-icon;
        color: $icon-color;

        &:hover,
        &:focus {
          color: $icon-hover-color;
        }

        &.active,
        &:active {
          color: $icon-active-color;
        }
      }
    }
    .card {
      margin-bottom: pxtorem(22px);
    }
  }

  .email-unsubscribe {
    text-decoration: underline;
  }

  // Articles
  // ==============================
  &-articles {

    .page-content .panel div.card {
      padding: 20px 0;
      margin: 0;

      &-img-top {
        margin-bottom: 35px;
      }

      &-link {
        margin-top: 10px;
      }
    }
  }

  // Welcome
  // ===========================
  &-welcome {
    .welcome-content {
      text-align: center;
    }
    .email-more {
      margin-top: 0;
    }
  }

  // thumbnail
  // ===========================
  &-thumbnail {
    .card-list-item .card-block {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  // News
  // ===========================
  &-news {
    .panel,
    .panel-body > .card {
      background-color: transparent;
    }

    .panel {
      box-shadow: none;
    }
    .panel-body > .card {
      margin-right: -17px;
      margin-left: -17px;
      > .card-block {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }

    [class^="col-"] {
      padding-right: 3px;
      padding-left: 3px;
    }

    .news {
      .img-fluid {
        width: 100%;
        height: 318px;
      }
      .card span {
        margin-left: 1.429rem;
      }
      .card-title {
        font-size: 22px;
      }
    }
    .image-item {
      position: relative;
    }
    .news-time,
    .news-category,
    .news-title {
      position: absolute;
      color: #fff;
    }
    .news-time {
      top: 15px;
      right: 0;
      padding: 5px 12px;
      background-color: #76838f;
      opacity: .8;
    }
    .news-category {
      bottom: 39px;
      left: 0;
      padding: 8px 10px;
      text-transform: uppercase;
      background-color: #62a8ea;
    }
    .news-title {
      bottom: 0;
      left: 0;

      //start for email-news title  nowrap ,correct in iphone5
      max-width: 95%;
      padding: 10px;
      margin-bottom: 0;
      overflow: hidden;
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: #263238;
      //end --20160830 kevin
    }
  }
}
