@import "vars";

.page-error {
  .error-mark {
    margin-bottom: 33px;
  }

  header {
    h1 {
      font-size: 10em;
      font-weight: 400;
    }

    p {
      margin-bottom: 30px;
      font-size: 30px;
      text-transform: uppercase;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  .error-advise {
    margin-bottom: 25px;
    color: #a9afb5;
  }
}
