@import "vars";

$bg-register-start: $color-primary-600;
$bg-register-end:   $color-primary-800;//#1571b1;

.page-register-v3 {
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: cover;
    z-index: -1;

    //background: $color-primary-600; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url("/assets/images/login-background.jpg");
    //@include gradient-y($bg-register-start,$bg-register-end);
  }


  .panel {
    width: 800px;
    .panel-body {
      padding: 50px 40px 40px;
    }

    margin-bottom: 45px;
    background: $color-white;
    border-radius: $border-radius-large;//4px;

    .brand-text {
      margin-top: 8px;
    }
  }

  form {
    margin: 45px 0 30px;

    a {
      margin-left: 20px;
    }

    .form-material.floating  {
      & + & {
        margin-top: 30px;
      }
    }

    .form-material label {
      color: #a3afb7;
      font-weight: $font-weight-normal;
    }
  }
}

@include media-breakpoint-down(xs) {
  .page-register-v3 {
    .page-content {
      padding: 30px 20px;
    }

    .panel {
      width: auto;
      padding: 10px;

      .panel-body {
        padding: 35px 25px 35px;
      }
    }
  }
}
