@import "vars";

.page-register-v2 {
  height: 100%;

  &::before {
    background-image: url("../../../../assets/images/login-background.jpg");
  }

  &.page-dark.layout-full {

    &::after {
      background-color: rgba($gray-800, (60/100));
    }
  }

  .page-brand-info {
    margin: 220px 100px 0 90px;

    .brand-img {
      vertical-align: middle;
    }

    .brand-text {
      display: inline-block;
      margin: 11px 0 11px 20px;
      vertical-align: middle;
    }

    p {
      max-width: 650px;
      opacity: .6;
    }
  }

  .page-register-main {
    position: absolute;
    top: 0;
    right: 0;

    height: auto;
    min-height: 100%;
    padding: 150px 60px 180px;
    color: $text-color;
    background: $color-white;

    // for max-width: $screem-sm-min;
    .brand {
      margin-bottom: 60px;
    }
    .brand-img {
      vertical-align: middle;
    }

    .brand-text {
      display: inline-block;
      margin: 11px 0 11px 20px;
      color: $brand-primary;
      vertical-align: middle;
    }
  }

  form {
    width: 350px;
    margin: 45px 0 20px;

    > button {
      margin-top: 38px;
    }
  }

  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 50px 60px;
    text-align: center;
  }

  .social {
    .icon {
      &,
      &:hover,
      &:active {
        color: $color-white;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .page-register-v2 {
    .page-content {
      padding-right: 500px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-register-v2 {
    .page-register-main {
      padding-top: 60px;
    }
  }
}

@include media-breakpoint-only(md) {
  .page-register-v2 {
    .page-register-main {
      padding-top: 80px;
    }

    .page-brand-info {
      margin: 160px 0 0 35px;
      > p {
        color: transparent;
        opacity: 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-register-v2 {

    .page-register-main {
      width: 100%;
      padding-top: 60px;
    }

    form {
      width: auto;
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-register-v2 {
    .page-brand-info {
      margin: 220px 0 0;
    }

    .page-register-main {
      padding: 50px 30px 180px;
    }

    form {
      width: auto;
    }

    footer {
      margin: 50px 30px;
    }
  }
}
