<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.pod.option.title}">파드 옵션 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/jquery-labelauty/jquery-labelauty.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.pod.option.title}">파드 옵션 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.pod.option.title}">파드 옵션 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.pod.option.title}">파드 옵션 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${podOptionForm}">

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podOptionGroupId" th:text="#{pod.option.group.podOptionGroupId}">파드 옵션 그룹 ID</label>
                    <span th:text="*{podOptionGroupId}">podOptionGroupId</span>
                    <input type="hidden" th:field="*{podOptionGroupId}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podOptionId" th:text="#{pod.option.podOptionId}">파드 옵션 ID</label>
                    <input type="text" th:field="*{podOptionId}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{podOptionId}')}" class="invalid-feedback text-right mt-0" th:errors="*{podOptionId}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podOptionName" th:text="#{pod.option.podOptionName}">파드 옵션 명</label>
                    <input type="text" th:field="*{podOptionName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{podOptionName}')}" class="invalid-feedback text-right mt-0" th:errors="*{podOptionName}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="odr" th:text="#{pod.option.odr}">순서</label>
                    <input type="text" th:field="*{odr}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{odr}')}" class="invalid-feedback text-right mt-0" th:errors="*{odr}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="useYn" th:text="#{pod.option.useYn}">사용 여부</label>
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" id="inputCheckbox" th:field="*{useYn}" th:errorclass="is-invalid">
                        <label for="useYn" th:text="#{pod.option.useYn.true}">사용</label>
                    </div>
                    <div th:if="${#fields.hasErrors('*{useYn}')}" class="invalid-feedback text-right mt-0" th:errors="*{useYn}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/admin/pod-option}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/admin/pod-option}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
</th:block>


</body>
</html>