<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.pod.option.title}">파드 옵션 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.pod.option.title}">파드 옵션 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.pod.option.title}">파드 옵션 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.pod.option.title}">파드 옵션 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/pod-option/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">
                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{pod.option.group.podOptionGroupId}">파드 옵션 그룹 ID</td>
                            <td th:text="#{pod.option.group.podOptionGroupName}">파드 옵션 그룹 명</td>
                            <td th:text="#{pod.option.group.podOptionGroupTypeCode}">구분</td>
                            <td th:text="#{pod.option.group.odr}">순서</td>
                            <td th:text="#{pod.option.group.useYn}">사용여부</td>
                            <td th:text="#{pod.option.group.updatedAt}">생성일</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody th:if="${podOptionGroupList.isEmpty()}">
                        <tr>
                            <td colspan="8" class="text-center pt-30 pb-30" th:text="#{pod.option.group.list.empty}">등록된 파드 옵션이 없습니다.</td>
                        </tr>
                        </tbody>
                        <th:block th:unless="${podOptionGroupList.isEmpty()}" th:each="podOptionGroup : ${podOptionGroupList}">
                        <tbody class="table-section" data-plugin="tableSection">
                            <tr>
                                <td>
                                    <i class="table-section-arrow"></i>
                                </td>
                                <td>
                                    <a th:href="@{/admin/pod-option/{podOptionGroupId}/modify (podOptionGroupId=${podOptionGroup.podOptionGroupId})}">
                                        <span th:text="${podOptionGroup.podOptionGroupId}">podOptionGroupId</span></a>
                                </td>

                                <td th:text="${podOptionGroup.podOptionGroupName}"></td>
                                <td th:text="#{'code.OG.' + ${podOptionGroup.podOptionGroupTypeCode}}"></td>
                                <td th:text="${podOptionGroup.odr}"></td>
                                <td th:text="#{'pod.option.useYn.' + ${podOptionGroup.useYn}}"></td>
                                <td data-plugin="moment" th:attr="data-utc-date=${podOptionGroup.updatedAt}">-</td>
                                <td>
                                    <a th:href="@{/admin/pod-option/{podOptionGroupId}/add (podOptionGroupId=${podOptionGroup.podOptionGroupId})}" class="btn btn-primary btn-xs waves-effect waves-classic" th:text="#{common.button.add}">추가</a>
                                    <a th:href="@{/admin/pod-option/{podOptionGroupId}/modify (podOptionGroupId=${podOptionGroup.podOptionGroupId})}"
                                       class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                    <form method="post" class="inline" th:onsubmit="|return confirm('__#{common.confirm.delete}__');|"
                                          th:action="@{/admin/pod-option/{podOptionGroupId}/delete (podOptionGroupId=${podOptionGroup.podOptionGroupId})}"
                                            th:if="${podOptionGroup.podOptionList.isEmpty()}">
                                        <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td colspan="9" class="bg-grey-100">
                                <span class="font-size-10" th:unless="${podOptionGroup.podOptionList ne null and !podOptionGroup.podOptionList.isEmpty()}" th:text="#{pod.option.list.empty}">파드 옵션이 없습니다.</span>
                                <table class="table table-hover table-bordered font-size-10 text-center mb-0" th:unless="${podOptionGroup.podOptionList.isEmpty()}">
                                    <thead>
                                    <tr class="bg-grey-200 font-weight-500">
                                        <td>#</td>
                                        <td th:text="#{pod.option.podOptionId}">파드옵션 아이디</td>
                                        <td th:text="#{pod.option.podOptionName}">파드옵션 명</td>
                                        <td th:text="#{pod.option.odr}">순서</td>
                                        <td th:text="#{pod.option.useYn}">사용여부</td>
                                        <td th:text="#{pod.option.updatedAt}">생성일</td>
                                        <td>Actions</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="podOption : ${podOptionGroup.podOptionList}">
                                        <td th:text="${podOption.podOptionSn}">podOptionSn</td>
                                        <td th:text="${podOption.podOptionId}">podOptionId</td>
                                        <td th:text="${podOption.podOptionName}">podOptionName</td>
                                        <td th:text="${podOption.odr}">odr</td>
                                        <td th:text="#{'pod.option.useYn.' + ${podOption.useYn}}"></td>
                                        <td data-plugin="moment" th:attr="data-utc-date=${podOption.updatedAt}">-</td>
                                        <td>
                                            <a th:href="@{/admin/pod-option/{podOptionGroupId}/{podOptionSn}/modify (podOptionGroupId=${podOptionGroup.podOptionGroupId}, podOptionSn=${podOption.podOptionSn})}"
                                               class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                            <form method="post" class="inline" th:onsubmit="|return confirm('__#{common.confirm.delete}__');|"
                                                  th:action="@{/admin/pod-option/{podOptionGroupId}/{podOptionSn}/delete (podOptionGroupId=${podOptionGroup.podOptionGroupId}, podOptionSn=${podOption.podOptionSn})}">
                                                <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                        </th:block>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/admin/pod-option/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/table.js}"></script>
</th:block>


</body>
</html>