<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.container.title}">컨테이너 관리</title>

    <link rel="stylesheet" th:href="@{/assets/vendor/jquery-labelauty/jquery-labelauty.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/ionrangeslider/ionrangeslider.min.css}">

    <style type="text/css">

        .gpuDiv label {
            min-width: 230px !important;}

        .option label {
            min-width: 230px !important;}

        .irs-line {
            background-color: #ECECEC;
        }
        /*#irs_1 .irs-max {*/
            /*visibility: hidden !important;*/
            /*display: none;*/
        /*}*/

    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.container.title}">컨테이너 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.container.title}">컨테이너 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.container.title}">컨테이너 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <form autocomplete="false" th:object="${containerForm}" method="post" id="containerForm" >
                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{container.info.title}">기본 정보</span></h5>

                <div class=" row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="containerName" th:text="#{container.name}">컨테이너 명</label>
                    <div class="input-group col-md-9 p-0">
                        <input type="text" th:field="*{containerName}" class="form-control form-control-sm" autocomplete="off" th:errorclass="is-invalid"/>
                        <input type="hidden" th:field="*{containerId}" />
                        <input type="hidden" th:field="*{username}" />
                        <div th:if="${#fields.hasErrors('*{containerName}')}" class="invalid-feedback" th:errors="*{containerName}">에러 메세지</div>
                    </div>
                </div>

                <div class=" row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="description" th:text="#{container.description}">용도</label>
                    <div class="input-group col-md-9 p-0">
                        <input type="text" th:field="*{description}" class="form-control form-control-sm" autocomplete="off" th:errorclass="is-invalid"/>
                        <div th:if="${#fields.hasErrors('*{description}')}" class="invalid-feedback" th:errors="*{description}">에러 메세지</div>
                    </div>
                </div>

                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{container.resource}">GPU 선택</span></h5>


                <div class=" row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuSn1" th:text="#{container.resource}">GPU</label>
                    <div class="input-group col-md-9 p-0">
                        <div class="form-group w-md-230 mr-5 mb-5 gpuDiv" th:each="gpu : ${referenceData.gpuList}">
                            <input type="radio" class="to-labelauty" th:field="*{gpuSn}" data-plugin="labelauty" th:errorclass="is-invalid" th:classappend="validateOptions"
                                   th:attr="data-labelauty=${gpu.gpuName}" th:value="${gpu.gpuSn}" th:attrappend="disabled=${#lists.contains(userGpuSns, gpu.gpuSn) ? '' : 'disabled'}" />
                        </div>
                        <select th:field="*{gpuQuantity}" class="form-control col-md-1" th:errorclass="is-invalid" th:classappend="validateOptions">
                            <option value="1">1</option>
                        </select>
                        <input type="hidden" id="selectedGpuQuantity" th:value="*{gpuQuantity}" />
                        <div class="input-group mt-0 mb-5" id="houlyAmount"></div>
                        <div th:if="${#fields.hasErrors('*{gpuSn}')}" class="invalid-feedback d-block mt-0 mb-5" th:errors="*{gpuSn}">에러 메세지</div>
                        <div th:if="${#fields.hasErrors('*{gpuQuantity}')}" class="invalid-feedback mt-0 mb-5" th:errors="*{gpuQuantity}">에러 메세지</div>
                    </div>
                </div>

                <th:block sec:authorize="hasAuthority('GROUP_ADMIN') ">
                    <div class=" row ml-0 mr-0" style="display: none;" id="groupSharedYnDiv">
                        <label class="col-form-label col-md-3" for="groupSharedYn1" th:text="#{container.groupSharedYn}">그룹 할당 여부</label>
                        <div class="checkbox-custom checkbox-primary col-sm-9 mt-0">
                            <input type="checkbox" class="form-control" th:field="*{groupSharedYn}" th:errorclass="is-invalid" />
                            <label for="groupSharedYn1" th:text="#{container.groupSharedYn.desc}">사용 (동일한 조건으로 그룹사용자의 컨테이너를 일괄 생성합니다.)</label>
                        </div>
                        <div th:if="${#fields.hasErrors('*{groupSharedYn}')}" class="invalid-feedback d-block mt-0 mb-5" th:errors="*{groupSharedYn}">에러 메세지</div>
                    </div>
                    <div class=" row ml-0 mr-0 " style="display: none;" id="groupSharedSizeDiv">
                        <label class="col-form-label col-md-3" for="groupSharedSize" th:text="#{container.groupSharedSize}">그룹 할당량</label>
                        <div class="form-group col-md-9 p-0 mb-5">
                            <input type="text" th:field="*{groupSharedSize}" th:errorclass="is-invalid" />
                            <div class="alert alert-alt alert-icon alert-info alert-dismissible mb-5 mt-5" id="gpuSharedInfo" role="alert">
                                <i class="icon md-notifications" aria-hidden="true"></i>
                                <ul class="list-group list-unstyled pl-0 font-size-12">
                                    <li class="list-group-item-text">총 GPU MEMORY 96GiB, 각 12GiB</li>
                                    <li class="list-group-item-text">- 1GiB 선택 시, 컨테이너 약 88개 생성 가능</li>
                                </ul>
                            </div>
                            <div th:if="${#fields.hasErrors('*{groupSharedSize}')}" class="invalid-feedback d-block mt-0 mb-5" th:errors="*{groupSharedSize}">에러 메세지</div>
                        </div>
                    </div>
                    <div class=" row ml-0 mr-0 " style="display: none;" id="groupSharedUserDiv">
                        <label class="col-form-label col-md-3" for="groupSharedSize"><span th:text="#{container.choiceGroupUser}">사용자 선택</span>&nbsp;(<span id="checkedGroupUserCnt" th:text="*{groupTargetUsers != null ? groupTargetUsers.length : 0}">0</span>/<span th:text="${groupUsers.size()}">32</span>)</label>
                        <div class="input-group col-md-9 p-0">
                            <div class="form-group checkbox-custom checkbox-primary w-md-full">
                                <input type="checkbox" id="groupUserAll" value="ALL" ><label for="groupUserAll" th:text="#{container.groupUserAll}">전체선택</label>
                            </div>
                            <div class="form-group mr-5 mb-5 w-md-200 checkbox-custom checkbox-primary" th:each="groupUser : ${groupUsers}">
                                <input type="checkbox" th:field="*{groupTargetUsers}" th:value="${groupUser.username}" th:id="|groupTargetUsers${groupUser.username}|">
                                <label th:for="|groupTargetUsers${groupUser.username}|" th:text="|${groupUser.name} (${groupUser.username})|">username</label>
                            </div>
                        </div>
                    </div>
                </th:block>

                <th:block th:if="${@environment.getProperty('cheetah.payment')}">
                    <input type="hidden" th:field="*{chargingMethodCode}" />
                    <!--<div class="row ml-0 mr-0 mb-5">-->
                        <!--<label class="col-form-label col-md-3" for="chargingMethodCode" th:text="#{container.chargingMethodCode}">과금 방식</label>-->
                        <!--<div class="input-group col-md-9 p-0">-->
                            <!--<select class="form-control col-md-4" th:field="*{chargingMethodCode}">-->
                                <!--<option th:each="code : ${referenceData.chargingMethodList}" th:text="#{'code.CM.' + ${code.codePK.code}}" th:value="${code.codePK.code}">code</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                </th:block>
                <th:block th:unless="${@environment.getProperty('cheetah.payment')}">
                    <input type="hidden" th:field="*{chargingMethodCode}" />
                </th:block>

                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{container.option.title}">컨테이너 옵션</span></h5>
                <th:block th:each="podOptionGroup : ${referenceData.requiredList}" th:unless="${podOptionGroup.podOptionList.isEmpty()}">
                    <div class=" row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="osVersion" th:text="${podOptionGroup.podOptionGroupName}">podOptionGroupName</label>

                        <div class="form-group w-md-230 mr-5 mb-5 option" th:each="podOption : ${podOptionGroup.podOptionList}" th:if="${podOption.useYn}">
                            <input type="radio" class="to-labelauty podOptions" data-plugin="labelauty" th:name="|podOptionSnMap[${podOptionGroup.podOptionGroupId}]|" th:classappend="validateOptions"
                                   th:attr="data-labelauty=${podOption.podOptionName}" th:value="${podOption.podOptionSn}" th:checked="${containerForm.podOptionSnMap != null && podOption.podOptionSn eq containerForm.podOptionSnMap['__${podOptionGroup.podOptionGroupId}__']}" />
                        </div>
                    </div>
                </th:block>
                <div class=" row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="tokenYn1" th:text="#{container.security.title}">추가 보안 옵션</label>
                    <div class="checkbox-custom checkbox-primary col-sm-9 mt-0">
                        <input type="checkbox" class="form-control" th:field="*{tokenYn}" th:errorclass="is-invalid" />
                        <label for="tokenYn1" th:text="#{container.tokenYn.desc}">주피터 노트북 접속 시 토큰 사용</label>
                    </div>
                    <div th:if="${#fields.hasErrors('*{tokenYn}')}" class="invalid-feedback d-block mt-0 mb-5" th:errors="*{tokenYn}">에러 메세지</div>
                </div>


                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{container.library.title}">라이브러리</span></h5>

                <th:block th:each="podOptionGroup : ${referenceData.libraryList}" th:unless="${podOptionGroup.podOptionList.isEmpty()}">
                    <div class=" row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="osVersion" th:text="${podOptionGroup.podOptionGroupName}">podOptionGroupName</label>
                        <div class="form-group w-md-160 mr-5 mb-5" th:each="podOption : ${podOptionGroup.podOptionList}" th:if="${podOption.useYn}">
                            <input type="radio" class="to-labelauty podOptions" data-plugin="labelauty" th:name="|podOptionSnMap[${podOptionGroup.podOptionGroupId}]|"
                                   th:attr="data-labelauty=${podOption.podOptionName}" th:value="${podOption.podOptionSn}"
                                   th:classappend="|validateOptions ${podOptionGroup.podOptionGroupId} ${podOption.podOptionId eq 'NONE' ? 'NONE':''}|"
                                   th:checked="${containerForm.podOptionSnMap != null && podOption.podOptionSn eq containerForm.podOptionSnMap['__${podOptionGroup.podOptionGroupId}__']}" />
                        </div>
                    </div>
                </th:block>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podFormatSn"></label>
                    <div class="form-group mr-5 mb-5">
                        <input type="hidden" th:field="*{podFormatSn}" th:errorclass="is-invalid" />
                        <input type="hidden" name="poOptionSize" th:value="${referenceData.requiredList.size() + referenceData.libraryList.size()}" />
                        <div th:if="${#fields.hasErrors('*{podFormatSn}')}" class="invalid-feedback d-block mt-0 mb-5" th:errors="*{podFormatSn}">에러 메세지</div>
                    </div>
                </div>

                <h5 class="pl-15 containerVolumes"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{container.volume}">볼륨</span></h5>

                <th:block th:each="containerVolumeForm, containerVolumeFormStat : *{containerVolumes}" th:unless="*{containerVolumes.isEmpty()}">
                    <div class=" row ml-0 mr-0 volumes containerVolumes">
                        <label class="col-form-label col-md-3" for="gpuSn" th:text="#{container.volume}">볼륨</label>
                        <div class="input-group col-md-9 p-0">
                            <select th:field="*{containerVolumes[__${containerVolumeFormStat.index}__].volumeId}" class="form-control form-control-sm col-md-6 volumeId" >
                                <option value="" th:text="#{common.select.none}">선택안함</option>
                                <option th:value="${volume.id}" th:text="|${volume.name} [${volume.attachingDeviceName}, ${volume.size}GB, ${volume.nativeState}]|" th:each="volume : ${volumeList}" >볼륨명</option>
                            </select>
                            <input type="hidden" th:id="|containerVolumeId${containerVolumeFormStat.index}|" th:value="*{containerVolumes[__${containerVolumeFormStat.index}__].volumeId}" />
                        </div>
                    </div>
                    <div class=" row ml-0 mr-0 containerVolumes">
                        <label class="col-form-label col-md-3" for="gpuSn" th:text="#{container.volumeMountPath}">마운트 경로</label>
                        <div class="input-group col-md-9 p-0">
                            <input type="text" th:field="*{containerVolumes[__${containerVolumeFormStat.index}__].volumeMountPath}" class="form-control form-control-sm" autocomplete="off" placeholder="/volume/mount/path" />
                            <input type="hidden" th:field="*{containerVolumes[__${containerVolumeFormStat.index}__].volumeSize}" class="form-control form-control-sm volumeSize" />
                        </div>
                    </div>
                </th:block>


                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-12 col-md-10 pl-0">
                        <a th:href="@{/management/container}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.complete}" name="save" class="btn btn-primary btn-sm waves-effect waves-classic" >저장</button>
                    </div>
                </div>

                <input type="hidden" id="resourceType" value="" />
                <input type="hidden" id="gpuMemory" value="" />
                <input type="hidden" id="cpuCore" value="" />
                <input type="hidden" id="maxQuotaMemory" value="" />
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
<script th:src="@{/assets/js/Plugin/jquery-labelauty.js}"></script>
<script th:src="@{/assets/js/Plugin/ionrangeslider.js}"></script>
<script th:src="@{/assets/vendor/jquery-labelauty/jquery-labelauty.js}"></script>
<script th:src="@{/assets/vendor/ionrangeslider/ion.rangeSlider.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            $('#containerForm').submit(function() {
               $('button[type=submit]').prop('disabled', true);
                return true;
            });

            var maxGroupUserCntByMemory = new Array();

            function makeGroupShareDesc() {
                if ($("#gpuSharedInfo").length > 0) {
                    var resourceType = $("input#resourceType").val();
                    var total = $("input#gpuMemory").val();
                    var infoTotalDescCode = 'container.gpuShare.infoTotal';
                    var infoCaseDescCode = 'container.gpuShare.infoCase';

                    if (resourceType === 'CPU') {
                        total = $("input#cpuCore").val();
                        infoTotalDescCode = 'container.cpuShare.infoTotal';
                        infoCaseDescCode = 'container.cpuShare.infoCase';
                    }
                    console.log('infoTotalDescCode : ' + infoTotalDescCode);
                    console.log('infoCaseDescCode : ' + infoCaseDescCode);

                    var maxQuotaMemory = $("input#maxQuotaMemory").val();
                    var gpuQuantity = $("select[name=gpuQuantity] option:selected").val();
                    var totalMemory = total * gpuQuantity;
                    console.log('total : ' + total + ', maxQuotaMemory : ' + maxQuotaMemory + ', gpuQuantity : ' + gpuQuantity);

                    var ul = $("#gpuSharedInfo ul");
                    $(ul).find("li").remove();

                    var infoTotalDesc = "총 GPU MEMORY " + totalMemory + "GiB, 각 " + total + "GiB";
                    if (resourceType === 'CPU') {
                        infoTotalDesc = "총 " + totalMemory + "Core, 각 " + total + "Core";
                    }
                    if ($.i18n.messages != undefined) {
                        infoTotalDesc = $.i18n.getMessage(infoTotalDescCode, [totalMemory, total]);
                    }
                    $(ul).append("<li style='list-group-text'>" + infoTotalDesc + "</li>");
                    var availableMemory = (resourceType === 'GPU') ? total - 1 : total - 2;
                    maxGroupUserCntByMemory = new Array();
                    for (var i = 0; i < maxQuotaMemory; i++) {
                        var groupQuotaSize = i + 1;
                        var groupContainerCount = Math.floor(availableMemory / groupQuotaSize) * gpuQuantity;
                        maxGroupUserCntByMemory[groupQuotaSize] = groupContainerCount;
                        var infoCaseDesc = "- " + groupQuotaSize + "GiB 선택 시, 현재 컨테이너 포함 약 " + groupContainerCount + "개 생성 가능";
                        if (resourceType === 'CPU') {
                            infoCaseDesc = "- " + groupQuotaSize + "Core 선택 시, 현재 컨테이너 포함 약 " + groupContainerCount + "개 생성 가능";
                        }
                        if ($.i18n.messages != undefined) {
                            infoCaseDesc = $.i18n.getMessage(infoCaseDescCode, [groupQuotaSize, groupContainerCount]);
                        }
                        $(ul).append("<li style='list-group-text'>" + infoCaseDesc + "</li>");
                    }



                }
            }


            function checkChargingMethod(gpu, chargingMethodList) {
                var symbol = "\₩";
                if ($.i18n.messages != undefined) {
                    symbol = $.i18n.getMessage("currency.symbol");
                }
                if ($("select[name=chargingMethodCode]").length > 0) {
                    var selectedChargingMethodCode = $("select[name=chargingMethodCode]").val();
                    $("select[name=chargingMethodCode] option").remove();
                    for (var i = 0; i < chargingMethodList.length; i++) {
                        var chargingMethod = chargingMethodList[i];
                        var amount = 0;
                        var chargingMethodStr = 'monthly';
                        switch (chargingMethod.codePK.code) {
                            case 'MINUTELY' : amount = gpu.minutelyAmount; chargingMethodStr = 'minutely'; break;
                            case 'HOURLY' : amount = gpu.hourlyAmount; chargingMethodStr = 'hourly'; break;
                            case 'DAILY' : amount = gpu.dailyAmount; chargingMethodStr = 'daily'; break;
                            case 'MONTHLY' : amount = gpu.monthlyAmount; break;
                            case 'MONTHLY_CONTRACT_1' : amount = gpu.monthlyContractAmount; break;
                            case 'MONTHLY_CONTRACT_3' : amount = gpu.monthlyContractAmount3; break;
                            case 'MONTHLY_CONTRACT_6' : amount = gpu.monthlyContractAmount6; break;
                            case 'MONTHLY_CONTRACT_12' : amount = gpu.monthlyContractAmount12; break;
                            case 'MONTHLY_CONTRACT_24' : amount = gpu.monthlyContractAmount24; break;
                        }
                        if ($.i18n.messages != undefined) {
                            chargingMethodStr = $.i18n.getMessage("gpu.chargingMethod.unit." + chargingMethod.codePK.code);
                        }
                        $("select[name=chargingMethodCode]").append($('<option>', {
                            value: chargingMethod.codePK.code,
                            text: chargingMethod.codeName + " ("+ symbol + amount.toLocaleString() + "/" + chargingMethodStr + ")",
                            selected: selectedChargingMethodCode == chargingMethod.codePK.code
                        }));
                    }
                // } else if ($("#houlyAmount").length > 0) {
                //     $("#houlyAmount").html(symbol + gpu.hourlyAmount.toLocaleString() + "/시간");
                }
            }

            function checkQuantityFormat(gpu) {
                var selectedGpuQuantity = $("input[id=selectedGpuQuantity]").val();
                var quantityFormat = gpu.quantityFormat;
                var quantityFormatArr = quantityFormat.split(',');
                $("select[name=gpuQuantity] option").remove();
                for (var i = 0; i < quantityFormatArr.length; i++) {
                    $("select[name=gpuQuantity]").append($('<option>', {
                        value: quantityFormatArr[i].trim(),
                        text: quantityFormatArr[i],
                        selected: selectedGpuQuantity == quantityFormatArr[i].trim()
                    }));
                }
            }

            function checkGroupShare(gpu) {
                var sharedYn = gpu.sharedYn;
                $("#groupSharedYnDiv").css('display', sharedYn ? 'flex' : 'none');
                if (sharedYn && $("input[name=groupSharedYn]").is(':checked')) {
                    $("#groupSharedSizeDiv").css('display', 'flex');
                    $("#groupSharedUserDiv").css('display', 'flex');
                    makeGroupShareDesc();
                } else {
                    $("#groupSharedSizeDiv").css('display', 'none');
                    $("#groupSharedUserDiv").css('display', 'none');
                }

                var resourceType = $("input#resourceType").val();
                var sliderValues = new Array();
                for (var i = 0; i < maxQuotaMemory; i++) {
                    sliderValues[i] = i + 1;
                }
                var slider = $("input[name=groupSharedSize]").data("ionRangeSlider");
                if (resourceType === 'CPU') {
                    slider.update({
                        min: 1,
                        step: 1,
                        postfix: ' Core',
                        max: $("input#maxQuotaMemory").val(),
                        values: sliderValues
                    });
                } else {
                    slider.update({
                        min: 1,
                        step: 1,
                        postfix: ' GiB',
                        max: $("input#maxQuotaMemory").val(),
                        values: sliderValues
                    });
                }
            }

            function checkVolume(gpu) {
                var cloudType = gpu.cloudType;
                console.log('cloudType : ' +cloudType );
                var selectNoneText = "선택안함";
                if ($.i18n.messages != undefined) {
                    selectNoneText = $.i18n.getMessage("common.select.none");
                }

                if (cloudType === 'ON_PREMISE' || cloudType === 'TENCENT') {
                    $(".containerVolumes").each(function() {
                       $(this).css('display', 'none');
                    });
                    // var username = $('input[name=username]').val();
                    // $.ajax({
                    //     type: 'GET',
                    //     url: '/container/' + username + '/shareVolumes'
                    // }).done(function (data, textStatus, jqXHR) {
                    //     if (data.status === 'SUCCESS') {
                    //         $("select.volumeId").each(function() {
                    //             $("option", this).remove();
                    //             $(this).append($('<option>', {
                    //                 value: '',
                    //                 text: selectNoneText,
                    //             }));
                    //             for (var i = 0; i < data.data.shareVolumeList.length; i++) {
                    //                 console.log('this.val() : ' +  $(this).val());
                    //                 var obj = data.data.shareVolumeList[i];
                    //                 $(this).append($('<option>', {
                    //                     value: obj.shareVolumePK.volumeId,
                    //                     text: obj.volumeName + ' [' + obj.volumeSize + 'GB]',
                    //                     selected : $('#containerVolumeId' + i).val() == obj.volumeId
                    //                 }));
                    //             }
                    //         });
                    //     }
                    // }).fail(function (jqXHR) {
                    //     console.log("fail");
                    // });
                } else {
                    $(".containerVolumes").each(function() {
                        $(this).css('display', 'flex');
                    });
                    $.ajax({
                        type: 'GET',
                        url: '/cloud/volumes/' + cloudType
                    }).done(function (data, textStatus, jqXHR) {
                        if (data.status === 'SUCCESS') {
                            $("select.volumeId").each(function() {
                                $("option", this).remove();
                                $(this).append($('<option>', {
                                    value: '',
                                    text: selectNoneText,
                                }));
                                for (var i = 0; i < data.data.volumeList.length; i++) {
                                    console.log('this.val() : ' +  $(this).val());
                                    var obj = data.data.volumeList[i];
                                    $(this).append($('<option>', {
                                        value: obj.id,
                                        text: obj.name + ' [' + obj.attachingDeviceName + ', ' + obj.size + 'GB, ' + obj.nativeState + ']',
                                        selected : $('#containerVolumeId' + i).val() == obj.id
                                    }));
                                }
                            });
                        } else {
                            console.log("fail");
                        }
                    }).fail(function (jqXHR) {
                        console.log("fail");
                    });

                }
            }


            function changeGpuSn(gpuSn) {
                $.ajax({
                    type: 'GET',
                    url: '/gpu/' + gpuSn
                }).done(function (data, textStatus, jqXHR) {
                    if (data.status === 'SUCCESS') {
                        var gpu = data.data.gpu;
                        $("input#maxQuotaMemory").val(gpu.maxQuotaMemory);
                        $("input#gpuMemory").val(gpu.gpuMemory);
                        $("input#cpuCore").val(gpu.cpuCore);
                        $("input#resourceType").val(gpu.resourceType);
                        checkQuantityFormat(gpu);
                        if ($("#groupSharedYnDiv").length > 0) {
                            checkGroupShare(gpu);
                        }
                        checkVolume(gpu);
                        checkChargingMethod(gpu, data.data.chargingMethodList);
                    } else {
                        alert(data.data.message);
                    }
                }).fail(function (jqXHR) {
                    console.log('oh nonono');
                });
            }

            $("select[name=gpuQuantity]").change(function() {
                makeGroupShareDesc();
            });

            $("input[name=gpuSn]").change(function() {
                console.log('gpuSn : ' + $(this).val());
                changeGpuSn($(this).val());
            });

            $("input.validateOptions").change(function() {
                if ($(this).attr('name') == 'gpuSn') {
                    $('input.podOptions').prop('checked', false);
                }

                var formData = '';
                if ($("input[name=gpuSn]:checked").length > 0) {
                    formData += 'gpuSn=' + $("input[name=gpuSn]:checked").val();
                }
                $("input[name*='podOptionSnMap']").each(function() {
                   if ($(this).prop('checked') && !$(this).hasClass('NONE')) {
                       formData += "&" + encodeURIComponent($(this).attr('name')) + '=' + $(this).val();
                   }
                });
                console.log('formData : ' + formData);

                $.ajax({
                    type: 'POST',
                    url: '/container/validate/podOptions',
                    data: formData
                }).done(function (data, textStatus, jqXHR) {
                    console.log(data.data.podOptionSns);
                    // console.log(data.status);
                    if (data.status === 'SUCCESS') {
                        var podOptionSns = data.data.podOptionSns;

                        $('input.podOptions').prop('disabled', true);
                        for (var i = 0; i < podOptionSns.length; i++) {
                            $('input.podOptions[value=' + podOptionSns[i] +']').prop('disabled', false);
                        }
                        $(".NONE").each(function() {
                            $(this).prop("disabled", false);
                        });
                    } else {
                        alert(data.data.message);
                    }
                }).fail(function (jqXHR) {
                    console.log('oh nonono');
                });

            });

            $("input[name=groupSharedSize]").ionRangeSlider({
                values : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                grid: true,
                from: $("input[name=groupSharedSize]").val(),
                postfix: ' GiB'
            });
            $("input[name=groupSharedYn]").change(function() {
                $("#groupSharedSizeDiv").css('display', $(this).is(':checked') ? 'flex' : 'none');
                $("#groupSharedUserDiv").css('display', $(this).is(':checked') ? 'flex' : 'none');
                makeGroupShareDesc();
            });
            makeGroupShareDesc();

            function getMaxGroupUserCnt() {
                return maxGroupUserCntByMemory[$("input[name=groupSharedSize]").val()];
            }

            function getCheckedGroupUserCnt() {
                var checkedCnt = 0;
                $("input[name=groupTargetUsers]").each(function() {
                    checkedCnt += $(this).is(":checked") ? 1 : 0;
                });
                return checkedCnt;
            }

            $("#groupUserAll").change(function() {
                var maxGroupUserCnt = getMaxGroupUserCnt();
                $("input[name=groupTargetUsers]").each(function() {
                    if ($("#groupUserAll").is(":checked")) {
                        if (maxGroupUserCnt <= getCheckedGroupUserCnt() + 1) {
                            return false;
                        }
                        $(this).prop("checked", true);
                    } else {
                        $(this).prop("checked", false);
                    }
                });
                $("#checkedGroupUserCnt").text($(this).is(":checked") ? getCheckedGroupUserCnt() : 0);
            });

            $("input[name=groupTargetUsers]").change(function() {
                var maxGroupUserCnt = getMaxGroupUserCnt();
                var checkedCnt = getCheckedGroupUserCnt();
                if (maxGroupUserCnt <= checkedCnt) {
                    $(this).prop("checked", false);
                    var targetUserCountOver = "선택가능한 사용자 수를 넘었습니다. 현재 컨테이너를 포함하여 " + maxGroupUserCnt + "개까지 생성가능합니다.";
                    if ($.i18n.messages != undefined) {
                        targetUserCountOver = $.i18n.getMessage("container.gpuShare.targetUserCountOver", [maxGroupUserCnt]);
                    }
                    alert(targetUserCountOver);
                } else {
                    $("#checkedGroupUserCnt").text(checkedCnt);
                }
            });

            function checkMaxGroupUserCnt() {
                var maxGroupUserCnt = getMaxGroupUserCnt();
                while (maxGroupUserCnt <= getCheckedGroupUserCnt()) {
                    $("input[name=groupTargetUsers]:checked").filter(':last').prop("checked", false);
                }
            }

            $("input[name=groupSharedSize]").change(function() {
                checkMaxGroupUserCnt();
            });

            $("select[name=gpuQuantity]").change(function() {
                checkMaxGroupUserCnt();
            });



            if ($("input[name=gpuSn]:checked").length > 0) {
                changeGpuSn($("input[name=gpuSn]:checked").val());
            }


            $('select.volumeId').change(function() {
                if ($(this).val() != '') {
                    var label = $('option:selected', this).text();
                    if (label.indexOf(",") > -1) {
                        label = label.split(",")[1].trim();
                    } else {
                        label = label.split("[")[1].trim();
                    }
                    label = label.replace('GB', '');
                    label = label.replace(']', '');
                    $(this).closest('div.volumes').next('div').find('input.volumeSize').val(label);
                } else {
                    $(this).closest('div.volumes').next('div').find('input.volumeSize').val(0);
                }
            });

            $(".containerVolumes").each(function() {
                $(this).css('display', 'none');
            });

        });




    </script>
</th:block>
</body>

</html>