<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.container.title}">컨테이너 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.container.title}">컨테이너 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.container.title}">컨테이너 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.container.title}">컨테이너 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid" th:object="${container}">


            <div class="card-block p-0 pl-5 pr-5">
                <h3 class="card-title">
                    <span th:text="*{containerName}">containerName</span>
                </h3>
                <span class="badge text-truncate pt-3" th:classappend="*{statusCode.badgeClass}"
                      th:if="${container.statusCode}"
                      th:text="#{'code.CS.' + *{statusCode}}">statusCode</span>
                <span class="badge text-truncate pt-3" th:classappend="${container.podStatusCode.badgeClass}"
                      th:if="${container.podStatusCode}"
                      th:text="${container.podStatusCode}">podStatus</span>
                <p class="card-text mb-5" >
                    <small th:text="|${container.user.name} (${container.containerPK.username})|">username</small>
                    <th:block th:if="*{startDate}"><small>&nbsp;|&nbsp;&nbsp;</small><small data-plugin="moment" th:attr="data-utc-date=${container.startDate}" data-date-format="YYYY-MM-DD HH:mm">-</small> ~
                    <small data-plugin="moment" th:attr="data-utc-date=${container.returnDate}" data-date-format="YYYY-MM-DD HH:mm" th:if="${container.returnDate}">-</small>
                    <a href="#containerHistory" data-toggle="collapse" th:if="${container.containerHistoryList.size() > 1}"><span class="badge badge-pill badge-dark float-right" th:text="|이력 ${container.containerHistoryList.size()}|">statusCode</span></a>
                    </th:block>
                </p>
                <div class="card-block bg-grey-100 font-size-10 collapse" id="containerHistory">
                    <h5 th:text="#{container.history.title}">컨테이너 생성 이력</h5>
                    <ul class="list-group list-group-dividered list-group-full mb-0">
                        <li class="list-group-item pt-5 pb-5 pl-10 border-bottom-0" th:each="containerHistory : ${container.containerHistoryList}" th:classappend="${containerHistoryStat.index + 1 == container.containerHistoryList.size() ? 'font-weight-bold' : ''}">
                            <span th:text="|${container.containerHistoryList.size() - containerHistoryStat.index}.|"></span>
                            <span th:text="#{container.resource}">GPU</span> : <span th:text="|${containerHistory.gpu.gpuName} x ${containerHistory.gpuQuantity}|">gpu</span>
                            &nbsp;(<span th:text="#{container.start}">시작</span> : <span data-plugin="moment" th:attr="data-utc-date=${containerHistory.startDate}" data-date-format="YYYY-MM-DD HH:mm">-</span>
                            <th:block th:if="${containerHistory.returnDate}">~ <span th:text="#{container.return}">반납</span> : <span data-plugin="moment" th:attr="data-utc-date=${containerHistory.returnDate}" data-date-format="YYYY-MM-DD HH:mm">-</span></th:block>)
                        </li>
                    </ul>
                </div>
                <p class="card-text mb-20 border-top pt-10 pb-10">
                    <span th:text="*{description}">desc</span>
                </p>


                <h5 class="card-title">
                    <i class="icon md-storage" aria-hidden="true" draggable="true"></i>
                    <span th:text="#{container.info.title}">컨테이너 정보</span>
                </h5>
                <ul class="list-group list-group-bordered mb-0 font-size-12 mb-20">

                    <li class="list-group-item">
                        <span class="badge badge-pill" th:classappend="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START ? 'badge-info' : 'badge-dark'}">
                            <span th:text="*{gpuQuantity}"></span></span>
                        <i class="icon md-toys" aria-hidden="true" draggable="true"></i>
                        <span th:text="#{container.resource}">GPU</span>
                        <span th:text="*{gpu.gpuName}"></span> x <span th:text="*{gpuQuantity}"></span>

                        <div class="ml-20 mt-5" th:if="*{groupSharedYn or parentContainerId != null}">
                            <code class="bash" th:text="#{container.groupSharedSize}">그룹 공유 할당량</code> : <code class="bash" th:text="|*{groupSharedSize} *{gpu.resourceType == T(com.mybclab.cheetah.common.constant.Code.RESOURCE_TYPE).GPU ? 'GiB' : 'Core'}|">그룹 공유 할당량</code>
                        </div>
                        <div class="ml-20 mt-5" th:unless="*{groupTargetUserList.isEmpty()}">
                            <code class="bash" th:text="#{container.groupTargetUserList}">대상 그룹 사용자</code> :
                            <code class="bash" th:text="|${groupUser.name} (${groupUser.username})|" th:each="groupUser : *{groupTargetUserList}">사용자</code>
                        </div>
                        <div class="ml-20 mt-5" th:if="*{parentContainer}">
                            <code class="bash" th:text="#{container.parentContainer}">상위 컨테이너</code> : <code class="bash" th:text="*{parentContainer.containerName}">상위 컨테이너 명</code>
                        </div>
                    </li>


                    <!--<li class="list-group-item" th:if="${@environment.getProperty('cheetah.payment')}">-->
                        <!--<i class="icon md-card" aria-hidden="true" draggable="true"></i>-->
                        <!--<span th:text="*{{amount}}">amount</span>-->
                        <!--<span th:text="| / #{'code.CM.' + *{chargingMethodCode} + '.unit'}|">chargingMethodCodeUnit</span>-->
                        <!--<th:block th:if="*{isContract()}">-->
                            <!--(<span th:text="#{'code.CM.' + *{chargingMethodCode} + '.desc'}">chargingMethodCode</span><th:block th:if="*{startDate}">, <span data-plugin="moment" th:attr="data-utc-date=*{startDate}" data-date-format="YYYY-MM-DD HH:mm">startDate</span> ~ <span data-plugin="moment" th:attr="data-utc-date=*{contractEndDate}" data-date-format="YYYY-MM-DD HH:mm">contractEndDate</span></th:block>)-->
                        <!--</th:block>-->
                    <!--</li>-->

                    <li class="list-group-item" th:each="podOptionGroup : ${referenceData.requiredList}">
                        <i class="icon" th:classappend="${podOptionGroup.htmlIcon}" aria-hidden="true" draggable="true"></i>
                        <span th:text="${podOptionGroup.podOptionGroupName}">podOptionGroupName</span>
                        <span th:text="*{podFormat.podOptionMap['__${podOptionGroup.podOptionGroupId}__'].podOptionName}">podOptionName</span>

                        <th:block th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                                    && container.podStatusCode == T(com.mybclab.cheetah.common.constant.Code.POD_STATUS).RUNNING
                                                    && container.nodeSn != null && container.externalIp != null}">
                            <th:block th:if="${podOptionGroup.podOptionGroupId eq 'OS'}">
                                <a th:href="@{/kube/webconsole/{podName} (podName=${container.podName})}" th:if="${container.websocketPort != 0 and container.podName != null}"
                                   class="btn btn-success btn-xs waves-effect waves-classic ml-5" style="float: right;float-left:auto;" target="_blank">
                                    <i class="icon md-home" aria-hidden="true"></i><span th:text="#{common.button.bash}">BASH</span></a>
                                <form method="post" class="inline" style="float: right;float-left:auto;"
                                      th:action="@{/management/container/{username}/{containerId}/password (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                                    <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic">
                                        <i class="icon md-email" aria-hidden="true"></i><span th:text="#{container.resend.password}">비밀번호 재발송</span></button>
                                </form>
                                <div class="ml-20 mt-5"><code class="bash" th:text="#{container.ssh.command}">SSH 접속 명령어</code> : <code class="bash"><span th:text="|ssh jovyan@${container.externalIp} -p ${container.sshPort}|">ssh command</span></code></div>
                                <div class="ml-20 mt-5" th:if="${showPasswordAndToken}"><code class="bash" th:text="#{container.ssh.password}">SSH 접속 비밀번호</code> : <code class="bash"><span th:text="${container.sshPassword}">password</span></code></div>
                                <div class="ml-20 mt-5" th:if="${container.sshPort != 0}">
                                    <div class="alert alert-alt alert-icon alert-info alert-dismissible mb-5 mt-5" role="alert" th:unless="${container.isContainerWithCloud()}">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <i class="icon md-notifications" aria-hidden="true"></i>
                                        <span th:text="#{container.notification.backup('/home/jovyan')}"> 경로는 컨테이너를 재시작해도 복구가능하므로 중요한 데이터는 해당 경로에 두시기 바랍니다.</span>
                                    </div>
                                </div>
                            </th:block>

                            <th:block th:if="${podOptionGroup.podOptionGroupId eq 'JUPYTER' && container.notebookPort != 0}">
                                <a th:href="|http://${container.externalIp}:${container.notebookPort}/tree|"
                                   class="btn btn-warning btn-xs waves-effect waves-classic ml-5" style="float: right;float-left:auto;" target="_blank">
                                    <i class="icon md-bookmark" aria-hidden="true"></i><span th:text="#{common.button.notebook}">NOTEBOOK</span></a>
                                <a th:href="|http://${container.externalIp}:${container.notebookPort}/lab|"
                                   class="btn btn-warning btn-xs waves-effect waves-classic ml-5" style="float: right;float-left:auto;" target="_blank">
                                    <i class="icon md-bookmark" aria-hidden="true"></i><span th:text="#{common.button.lab}">LAB</span></a>
                                <form method="post" class="inline" style="float: right;float-left:auto;" th:if="${container.tokenYn}"
                                      th:action="@{/management/container/{username}/{containerId}/token (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                                    <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic">
                                        <i class="icon md-email" aria-hidden="true"></i><span th:text="#{container.resend.token}">token 재발송</span></button>
                                </form>
                                <div class="ml-20 mt-5">
                                    <code class="bash">jupyter notebook</code> : <code class="bash"><span th:text="|http://${container.externalIp}:${container.notebookPort}/tree|">jupyter notebook url</span></code>
                                </div>
                                <div class="ml-20 mt-5">
                                    <code class="bash">jupyter lab</code> : <code class="bash"><span th:text="|http://${container.externalIp}:${container.notebookPort}/lab|">jupyter laburl</span></code>
                                </div>
                                <div class="ml-20 mt-5" th:if="${showPasswordAndToken && container.tokenYn}">
                                    <code class="bash">token</code> : <code class="bash"><span th:text="${container.notebookToken}">notebookToken</span></code>
                                </div>
                                <div class="alert alert-alt alert-icon alert-info alert-dismissible mb-5 mt-5" role="alert" th:if="${container.isContainerWithCloud()}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <i class="icon md-notifications" aria-hidden="true"></i>
                                    <span th:text="#{container.notification.cloud.jupyter}">클라우드 환경에서는 주피터 노트북 접속에 지연이 있을 수 있습니다.</span>
                                </div>
                            </th:block>
                        </th:block>

                    </li>

                    <li class="list-group-item" th:if="${container.tokenYn}">
                        <i class="icon md-shield-security" aria-hidden="true" draggable="true"></i>
                        <span th:text="#{container.tokenYn.desc}">주피터 노트북 접속 시 토큰 사용</span>
                    </li>

                    <li class="list-group-item" th:each="podOptionGroup : ${referenceData.libraryList}"
                        th:if="*{podFormat.podOptionMap['__${podOptionGroup.podOptionGroupId}__'] ne null && podFormat.podOptionMap['__${podOptionGroup.podOptionGroupId}__'].podOptionId ne 'NONE'}">
                        <i class="icon" th:classappend="${podOptionGroup.htmlIcon}" aria-hidden="true" draggable="true"></i>
                        <span th:text="${podOptionGroup.podOptionGroupName}">podOptionGroupName</span>
                        <span th:text="*{podFormat.podOptionMap['__${podOptionGroup.podOptionGroupId}__'].podOptionName}">podOptionName</span>

                        <th:block th:if="${podOptionGroup.podOptionGroupId eq 'TENSORFLOW'
                                                    && container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                                    && container.podStatusCode == T(com.mybclab.cheetah.common.constant.Code.POD_STATUS).RUNNING
                                                    && container.nodeSn != null && container.externalIp != null && container.tensorboardPort != 0}">
                            <a th:href="|http://${container.externalIp}:${container.tensorboardPort}|"
                               class="btn btn-warning btn-xs waves-effect waves-classic ml-5" style="float: right;float-left:auto;" target="_blank">
                                <i class="icon md-layers" aria-hidden="true"></i><span th:text="#{common.button.tensorboard}">TENSORBOARD</span></a>
                            <div class="ml-20 mt-5" >
                                <code class="bash">tensorboard</code> : <code class="bash"><span th:text="|http://${container.externalIp}:${container.tensorboardPort}/|">tensorboard url</span></code>
                                <div class="alert alert-alt alert-icon alert-info alert-dismissible mb-5 mt-5" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <i class="icon md-notifications" aria-hidden="true"></i>
                                    <span th:text="#{container.notification.tensorboard}">tensorboard --logdir={path} 실행 뒤 사용 가능</span>
                                </div>
                            </div>
                        </th:block>
                    </li>

                    <li class="list-group-item" th:unless="${container.containerVolumeList.isEmpty()}" >
                        <i class="icon md-archive" aria-hidden="true" draggable="true"></i>
                        <span th:each="containerVolume : ${container.containerVolumeList}">
                            <span th:text="${containerVolume.volumeMountPath}">volumeMountPath</span>
                            <span th:text="|${containerVolume.volumeSize}GB|">volumeSize</span>
                            <div class="alert alert-alt alert-icon alert-info alert-dismissible mb-5 mt-5" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="icon md-notifications" aria-hidden="true"></i>
                                <span th:text="#{container.notification.backup(${containerVolume.volumeMountPath})}">/home/jovyan 경로는 컨테이너를 재시작해도 복구가능하므로 중요한 데이터는 해당 경로에 두시기 바랍니다.</span>
                            </div>
                        </span>

                    </li>

                    <li class="list-group-item" sec:authorize="hasAuthority('SYSTEM_ADMIN')" th:if="*{nodeSn}">
                        <i class="icon md-camera-rear" aria-hidden="true" draggable="true"></i>
                        <span>Node</span>
                        <span th:text="*{node.nodeName}">nodeName</span>
                    </li>

                </ul>

                <th:block th:if="${container.groupSharedYn && container.parentContainerId == null}">
                <h5 class="card-title" style="position: relative; margin: 10px 0;">
                    <i class="icon md-labels" aria-hidden="true" draggable="true"></i>
                    <span th:text="#{container.groupContainer.title}">하위 컨테이너 정보</span> <span th:text="|(*{groupContainerList.size()})|">size</span>

                    <div class="col-sm-12 mb-10 text-right p-0 mb-20" style="width: 30%; position: absolute; top: -10px; right: 0;"
                         th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START and remainUserList != null and remainUserList.size() > 0}">
                        <form method="post" class="inline" th:action="@{/management/container/{username}/{containerId}/copy (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                            <div class="input-group col-md-6 p-0 text-right" style="max-width: none;">
                                <select name="targetUsername" class="form-control form-control-sm col-md-3 mr-5" style="width: 100%; max-width: 80%;">
                                    <option th:each="user: ${remainUserList}" th:value="${user.username}" th:text="|${user.name} (${user.username})|">latte</option>
                                </select>
                                <button type="submit" class="btn btn-info btn-sm waves-effect waves-classic" style="width: 18%;" th:text="#{common.button.add}" />
                            </div>
                        </form>
                    </div>

                </h5>
                <ul class="list-group list-group-bordered mb-0 font-size-12 mb-20">
                    <th:block th:if="*{groupContainerList.isEmpty()}">
                        <li class="list-group-item">
                            <span th:text="#{container.groupContainer.list.empty}">등록된 하위 컨테이너가 없습니다.</span>
                        </li>
                    </th:block>

                    <th:block th:unless="*{groupContainerList.isEmpty()}">
                        <li class="list-group-item" th:each="groupContainer : *{groupContainerList}">
                            <i class="icon md-desktop-mac" aria-hidden="true" draggable="true"></i>
                            <a th:href="@{/management/container/{username}/{containerId} (username=${groupContainer.containerPK.username}, containerId=${groupContainer.containerPK.containerId})}"><span th:text="${groupContainer.containerName}">컨테이너 명</span></a>
                            <small th:text="| - ${groupContainer.user.name} (${groupContainer.containerPK.username})|">username</small>
                            <span class="badge text-truncate pt-3 float-right" th:classappend="${groupContainer.statusCode.badgeClass}"
                                  th:if="${groupContainer.statusCode}"
                                  th:text="#{'code.CS.' + ${groupContainer.statusCode}}">statusCode</span>

                            <!--<div class="ml-20 mt-5">-->
                                <!--<small th:text="|${groupContainer.user.name} (${groupContainer.containerPK.username})|">username</small>-->
                                <!--<th:block th:if="${groupContainer.startDate}"><small>&nbsp;|&nbsp;&nbsp;</small><small data-plugin="moment" th:attr="data-utc-date=${groupContainer.startDate}" data-date-format="YYYY-MM-DD HH:mm">-</small> ~-->
                                    <!--<small data-plugin="moment" th:attr="data-utc-date=${groupContainer.returnDate}" data-date-format="YYYY-MM-DD HH:mm" th:if="${groupContainer.returnDate}">-</small>-->
                        </li>
                    </th:block>
                </ul>

                </th:block>




            </div>
            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-md-7 pl-0">
                    <a th:href="@{/management/container/__${listPath}__}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    <a th:href="@{/management/container/{username}/{containerId} (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                       th:text="#{common.button.refresh}" class="btn btn-info btn-sm waves-effect waves-classic">새로고침</a>
                </div>
                <div class="col-sm-12 col-md-5 pr-0 text-right">

                    <form method="post" sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')" class="inline"
                          th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).REQUEST}"
                          th:action="@{/management/container/{username}/{containerId}/CONFIRM (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                        <button type="submit" class="btn btn-info btn-sm waves-effect waves-classic" onclick="this.disabled='disabled'; this.form.submit();" th:text="#{common.button.confirm}">승인</button>
                    </form>

                    <th:block th:if="${container.gpu.cloudType == T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE
                                        or (container.gpu.cloudType != T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE
                                            and container.parentContainerId != null)}">
                        <form method="post" sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')" class="inline"
                              th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).CONFIRM}"
                              th:action="@{/management/container/{username}/{containerId}/CREATE (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                            <button type="submit" class="btn btn-success btn-sm waves-effect waves-classic" onclick="this.disabled='disabled'; this.form.submit();" th:text="#{common.button.create}">생성</button>
                        </form>

                        <form method="post" class="inline"
                              th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                or container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).STOP}"
                              th:action="@{/management/container/{username}/{containerId}/RETURN (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                              th:onsubmit="|return confirm('__#{common.confirm.return}__');|">
                            <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{common.button.return}">반납</button>
                        </form>

                        <form method="post" sec:authorize="hasAuthority('SYSTEM_ADMIN')" class="inline"
                              th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START}"
                              th:action="@{/management/container/{username}/{containerId}/RESTART (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                              th:onsubmit="|return confirm('__#{common.confirm.restart}__');|">
                            <button type="submit" class="btn btn-success btn-sm waves-effect waves-classic" th:text="#{common.button.restart}">재시작</button>
                        </form>
                    </th:block>

                    <th:block th:if="${container.gpu.cloudType != T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE and container.parentContainerId == null}">
                        <form method="post" sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')" class="inline"
                              th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).CONFIRM}"
                              th:action="@{/management/container/{username}/{containerId}/CREATE_INSTANCE (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                            <button type="submit" class="btn btn-success btn-sm waves-effect waves-classic" onclick="this.disabled='disabled'; this.form.submit();" th:text="|#{common.button.create} (CLOUD)|">생성(CLOUD)</button>
                        </form>
                        <form method="post" class="inline"
                              th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                or container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).STOP}"
                              th:action="@{/management/container/{username}/{containerId}/RETURN_INSTANCE (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                              th:onsubmit="|return confirm('__#{common.confirm.return}__');|">
                            <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="|#{common.button.return} (CLOUD)|">반납(CLOUD)</button>
                        </form>
                    </th:block>

                    <form method="post" sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')" class="inline"
                          th:if="${(container.gpu.cloudType == T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE
                                        and (container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).RETURN or container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).FAIL))
                                    or ((container.gpu.cloudType != T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE and container.parentContainerId != null)
                                        and container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).FAIL)}"
                          th:action="@{/management/container/{username}/{containerId}/RECREATE (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                        <button type="submit" class="btn btn-success btn-sm waves-effect waves-classic" onclick="this.disabled='disabled'; this.form.submit();" th:text="#{common.button.recreate}">재생성</button>
                    </form>

                    <form method="post" sec:authorize="hasAuthority('SYSTEM_ADMIN')" class="inline"
                          th:action="@{/management/container/{username}/{containerId}/RECREATE (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                        <button type="submit" class="btn btn-success btn-sm waves-effect waves-classic" onclick="this.disabled='disabled'; this.form.submit();">임시 재생성</button>
                    </form>



                    <form method="post" class="inline"
                          th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).FAIL}"
                          th:action="@{/management/container/{username}/{containerId}/init (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                          th:onsubmit="|return confirm('__#{common.confirm.init}__');|">
                        <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{common.button.init}">초기화</button>
                    </form>

                    <a th:href="@{/management/container/{username}/{containerId}/modify (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                       th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).REQUEST}"
                       class="btn btn-default btn-sm waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                    <form method="post" class="inline"
                          th:if="${container.statusCode != T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START}"
                          th:action="@{/management/container/{username}/{containerId}/delete (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                          th:onsubmit="|return confirm('__#{common.confirm.delete}__');|" >
                        <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{common.button.delete}">삭제</button>
                    </form>
                    <a th:href="@{/kube/{username}/{containerId}/info (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                       sec:authorize="hasAuthority('SYSTEM_ADMIN')"
                       th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).CREATE
                                    or container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).FAIL
                                    or container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).STOP
                                    or container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START}"
                       class="btn btn-success btn-sm waves-effect waves-classic" >
                        <i class="icon md-sign-in" aria-hidden="true"></i><span th:text="#{common.button.kubernetes}">KUBE</span></a>

                    <input type="hidden" name="username" th:value="${container.containerPK.username}" />
                    <input type="hidden" name="containerId" th:value="${container.containerPK.containerId}" />
                    <input type="hidden" name="statusCode" th:value="${container.statusCode}" />
                    <input type="hidden" name="podStatusCode" th:value="${container.podStatusCode}" />

                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            if ($('input[name=statusCode]').val() == 'CREATE' || $('input[name=statusCode]').val() == 'RETURNING') {

                function checkStatus() {
                    var username = $('input[name=username]').val();
                    var containerId = $('input[name=containerId]').val();
                    var podStatusCode = $('input[name=podStatusCode]').val();
                    $.ajax({
                        type: 'GET',
                        url: '/container/' + username + '/' + containerId + '/status'
                    }).done(function (data, textStatus, jqXHR) {
                        if (data.status === 'SUCCESS') {
                            console.log('statusCode:' + data.data.statusCode);
                            var statusCode = data.data.statusCode;
                            if (podStatusCode != data.data.podStatusCode) {
                                $('#podStatusBadge').text(data.data.podStatusCode);
                            }
                            if (statusCode == 'START' || statusCode == 'RETURN' || statusCode == 'FAIL') {
                                window.location.reload();
                            }
                        } else {
                            console.log("fail");
                        }
                    }).fail(function (jqXHR) {
                        console.log("fail");
                    });
                }

                var intervalTime = 5000;
                var checkStatusInterval = setInterval(function() {
                    checkStatus();
                }, intervalTime);



            }
        });
    </script>
</th:block>
</body>
</html>