<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.container.title}">컨테이너 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/select2/select2.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.container.title}">컨테이너 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.container.title}">컨테이너 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.container.title}">컨테이너 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper nav-tabs-horizontal container-fluid pl-0 pr-0">
                <ul class="nav nav-tabs" sec:authorize="hasAuthority('GROUP_ADMIN')">
                    <li class="nav-item"><a class="nav-link" th:classappend="${#strings.contains(path, 'group') ? '' : 'active'}" th:href="@{/management/container}" th:text="#{container.tab.user}">나의 컨테이너</a></li>
                    <li class="nav-item"><a class="nav-link" th:classappend="${#strings.contains(path, 'group') ? 'active' : ''}" th:href="@{/management/container/group}" th:text="#{container.tab.group}">그룹 컨테이너</a></li>
                </ul>
                <div class="tab-content pt-20">
                    <div class="tab-pane active">


                        <form th:object="${containerCriteria}" method="get" autocomplete="off">
                        <div class="row ml-0 mr-0">
                            <div class="col-sm-12 col-md-11 pl-0">
                                <div class="row no-space form-group mb-10">
                                    <th:block sec:authorize="hasAuthority('SYSTEM_ADMIN') or hasAuthority('GROUP_ADMIN')">
                                    <div class="col-sm-2 col-xs-6" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                                        <select th:field="*{parentUsername}"  class="form-control form-control-sm">
                                            <option value="ALL" th:text="#{container.option.group.all}">그룹 전체</option>
                                            <option value=""  th:text="#{container.option.general.all}">:: 일반 사용자 ::</option>
                                            <option th:each="group : ${groupList}" th:value="${group.username}" th:text="${group.groupName}"/>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 col-xs-6" sec:authorize="hasAuthority('GROUP_ADMIN')" th:if="${#strings.contains(path, 'group')}">
                                        <select th:field="*{username}" class="form-control form-control-sm">
                                            <option value="" th:text="#{container.option.user.all}">사용자 전체</option>
                                            <option th:each="user : ${userList}" th:value="${user.username}" th:text="${user.name}"/>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 col-xs-6" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                                        <select th:field="*{username}" class="form-control form-control-sm">
                                            <option value="" th:text="#{container.option.user.all}">사용자 전체</option>
                                            <option th:each="user : ${userList}" th:value="${user.username}" th:text="${user.name}"/>
                                        </select>
                                    </div>
                                    </th:block>
                                    <div class="col-sm-2 col-xs-6">
                                        <select th:field="*{gpuSn}" class="form-control form-control-sm">
                                            <option value="" th:text="#{container.option.gpu.all}">GPU 전체</option>
                                            <option th:each="gpu : ${referenceData.gpuList}" th:value="${gpu.gpuSn}" th:text="${gpu.gpuName}"/>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 col-xs-6" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                                        <select th:field="*{nodeSn}" class="form-control form-control-sm">
                                            <option value="" th:text="#{container.option.node.all}">노드 전체</option>
                                            <option th:each="node : ${referenceData.nodeList}" th:value="${node.nodeSn}" th:text="${node.nodeName}"/>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <select th:field="*{statusCode}" class="form-control form-control-sm">
                                            <option value="" th:text="#{container.option.status.all}">상태 전체</option>
                                            <option th:each="code : ${referenceData.statusList}" th:value="${code.codePK.code}" th:text="#{'code.CS.' + ${code.codePK.code}}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-1 text-right pr-0">
                                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.search}">조회</button>
                            </div>

                        </div>
                        </form>
                        <div class="row pb-5 pl-15 font-size-12">
                            <span th:text="#{list.total.count(${containerPage.totalElements})}">totalElements</span>
                            &nbsp;(<span th:text="${containerPage.number + 1}">number</span> / <span th:text="${containerPage.totalPages}">totalPages</span>)
                        </div>

                        <div class="row ml-0 mr-0">
                            <table class="table table-hover border-bottom font-size-12 text-center">
                                <thead class="bg-grey-100 font-weight-600">
                                    <tr>
                                        <td>#</td>
                                        <td sec:authorize="hasAuthority('SYSTEM_ADMIN') or hasAuthority('GROUP_ADMIN')" th:text="#{container.user}">사용자</td>
                                        <td th:text="#{container.name}">컨테이너</td>
                                        <td th:text="#{container.detail}">상세정보</td>
                                        <td sec:authorize="hasAuthority('SYSTEM_ADMIN')" th:text="#{container.node}">노드</td>
                                        <!--<td th:if="${@environment.getProperty('cheetah.payment')}" th:text="#{container.chargingMethodCode}">과금방법</td>-->
                                        <td th:text="#{container.start.date}">시작일</td>
                                        <td th:text="#{container.return.date}">반납일</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                <tbody th:if="${containerPage.getContent().isEmpty()}">
                                    <tr>
                                        <td colspan="9" class="text-center p-30" th:text="#{container.list.empty}">등록된 컨테이너가 없습니다.</td>
                                    </tr>
                                </tbody>
                                <tbody th:unless="${containerPage.getContent().isEmpty()}">
                                    <tr th:each="container : ${containerPage.getContent()}">
                                        <td th:text="${containerPage.totalElements - ((containerPage.number) * containerPage.size) - containerStat.index}"></td>
                                        <td sec:authorize="hasAuthority('SYSTEM_ADMIN') or hasAuthority('GROUP_ADMIN')">
                                            <span th:text="|${container.user.name} (${container.containerPK.username})|">userName</span>
                                        </td>
                                        <td style="vertical-align:middle;">
                                            <h6><a th:href="@{/management/container/{username}/{containerId} (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                                               th:text="${container.containerName}">containerName</a></h6>
                                            <span class="badge text-truncate pt-3" th:classappend="${container.statusCode.badgeClass}"
                                                  th:if="${container.statusCode}"
                                                  th:text="#{'code.CS.' + ${container.statusCode}}">statusCode</span>
                                            <span class="badge text-truncate pt-3" th:classappend="${container.podStatusCode.badgeClass}"
                                                  th:if="${container.podStatusCode != null && container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START}"
                                                  th:text="${container.podStatusCode}">podStatus</span>
                                        </td>
                                        <td>
                                            <span th:text="${container.podFormat.podFormatName}">podFormatName</span>
                                            <br/><span th:text="|${container.gpu.gpuName} x ${container.gpuQuantity}|">gpu info</span>
                                        </td>

                                        <td sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                                            <span th:if="${container.nodeSn}" th:text="${container.node.nodeName}"></span>
                                        </td>
                                        <!--<td th:if="${@environment.getProperty('cheetah.payment')}" th:text="#{'code.CM.' + ${container.chargingMethodCode}}"></td>-->
                                        <td data-plugin="moment" th:attr="data-utc-date=${container.startDate}" data-date-format="YYYY-MM-DD">-</td>
                                        <td data-plugin="moment" th:attr="data-utc-date=${container.returnDate}" data-date-format="YYYY-MM-DD">-</td>
                                        <td>
                                            <form method="post"
                                                  sec:authorize="hasAuthority('GROUP_ADMIN') or hasAuthority('SYSTEM_ADMIN')"
                                                  th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).REQUEST}"
                                                  th:action="@{/management/container/{username}/{containerId}/CONFIRM (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                                                <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic" th:text="#{common.button.confirm}">승인</button>
                                            </form>

                                            <a th:href="|http://${container.externalIp}:${container.notebookPort}|"
                                               class="btn btn-warning btn-xs waves-effect waves-classic" target="_blank"
                                               th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                                            && container.podStatusCode == T(com.mybclab.cheetah.common.constant.Code.POD_STATUS).RUNNING
                                                            && container.nodeSn != null && container.externalIp != null
                                                            && container.notebookPort != 0}">
                                                <i class="icon md-assignment" aria-hidden="true"></i>
                                                <span th:text="#{common.button.jupyter}">JUPYTER</span></a>
                                            <a th:href="@{/kube/webconsole/{podName} (podName=${container.podName})}"
                                               class="btn btn-success btn-xs waves-effect waves-classic" target="_blank"
                                               th:if="${container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START
                                                            && container.podStatusCode == T(com.mybclab.cheetah.common.constant.Code.POD_STATUS).RUNNING
                                                            && container.nodeSn != null && container.externalIp != null
                                                            && container.websocketPort != 0 && container.podName != null}">
                                                <i class="icon md-sign-in" aria-hidden="true"></i>
                                                <span th:text="#{common.button.bash}">BASH</span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                        <div class="row ml-0 mr-0">
                            <div class="col-sm-12 col-md-10 pl-0">
                                <nav th:replace="fragments/site-pagination::pagination (pages=${containerPage})"></nav>
                            </div>
                            <div class="col-sm-12 col-md-2 pr-0 text-right">
                                <a th:href="@{/management/container/save}" th:text="#{common.button.request}" class="btn btn-primary btn-sm waves-effect waves-classic"
                                   sec:authorize="!hasAuthority('SYSTEM_ADMIN')" th:if="${!#strings.contains(path, 'group')}">등록</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/select2.js}"></script>
    <script th:src="@{/assets/js/Plugin/selectable.js}"></script>

    <script th:src="@{/assets/vendor/select2/select2.full.min.js}"></script>

</th:block>
</body>
</html>