<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/error-layout}">
<head>
    <title>Error</title>

    <link rel="stylesheet" th:href="@{/assets/css/cheetah/pages/errors.css}">
</head>
<body>

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out"
     layout:fragment="page-content">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top" th:text="${errorCode}">400</h1>
            <p th:text="${errorMsg}">Page Not Found !</p>
        </header>
        <p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
        <a class="btn btn-primary btn-round" href="#" onclick="window.history.back();">GO TO BACK</a>

        <footer class="page-copyright">
            <p><i class="red-600 wb wb-heart"></i> by <strong> N3N CLOUD</strong></p>
            <p>© 2019. All RIGHT RESERVED.</p>
            <div class="social">
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
                <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                    <i class="icon bd-google-plus" aria-hidden="true"></i>
                </a>
            </div>
        </footer>
    </div>
</div>


<th:block layout:fragment="page-script">
    <!-- vendor -->
    <script th:src="@{/assets/vendor/screenfull/screenfull.js}"></script>

    <!-- plugin -->

    <!-- page -->
</th:block>

</body>
</html>
