.dpnone { diaplsy: none !important; }

.font-size-25 { font-size: 25px !important; }

.h-87 { height: 87px !important; }

.cheetah-avatar-border { border: 5px solid #ebe6f2 !important; }

.scroll-text {
  width: 100%;
  height: 23px;
  overflow: hidden;
}


input.labelauty + label > span.labelauty-unchecked-image {
  background-image: url("/assets/images/input-unchecked.png") !important; }

input.labelauty + label > span.labelauty-checked-image {
  background-image: url("/assets/images/input-checked.png") !important; }

.w-md-230{width:230px!important}

input.labelauty[disabled] + label {
  border: 1px dashed !important;
  opacity: .5 !important;
}

input.labelauty[disabled] + label > span.labelauty-unchecked {
  text-decoration: line-through !important;
}
