<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.node.title}">노드 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.node.title}">노드 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.node.title}">노드 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.node.title}">노드 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${nodeForm}">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="nodeName" th:text="#{node.nodeName}">노드 명</label>
                    <input type="text" th:field="*{nodeName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <input type="hidden" th:field="*{nodeSn}" th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('*{nodeName}')}" class="invalid-feedback text-right mt-0" th:errors="*{nodeName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="masterYn" th:text="#{node.masterYn}">마스터 여부</label>
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" id="inputCheckbox" th:field="*{masterYn}" th:errorclass="is-invalid">
                        <label for="useYn" th:text="#{node.masterYn.true}">마스터</label>
                    </div>
                    <div th:if="${#fields.hasErrors('*{masterYn}')}" class="invalid-feedback text-right mt-0" th:errors="*{masterYn}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="internalDomain" th:text="#{node.internalDomain}">내부 도메인</label>
                    <input type="text" th:field="*{internalDomain}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{internalDomain}')}" class="invalid-feedback text-right mt-0" th:errors="*{internalDomain}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="internalIp" th:text="#{node.internalIp}">내부 IP</label>
                    <input type="text" th:field="*{internalIp}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{internalIp}')}" class="invalid-feedback text-right mt-0" th:errors="*{internalIp}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="externalIp" th:text="#{node.externalIp}">외부 IP</label>
                    <input type="text" th:field="*{externalIp}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{externalIp}')}" class="invalid-feedback text-right mt-0" th:errors="*{externalIp}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuLabel" th:text="#{node.gpuLabel}">GPU 라벨</label>
                    <input type="text" th:field="*{gpuLabel}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{gpuLabel}')}" class="invalid-feedback text-right mt-0" th:errors="*{gpuLabel}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuQuantity" th:text="#{node.gpuQuantity}">GPU 수량</label>
                    <input type="text" th:field="*{gpuQuantity}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{gpuQuantity}')}" class="invalid-feedback text-right mt-0" th:errors="*{gpuQuantity}">에러 메세지</div>
                </div>
                <div class="form-group row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="statusCode" th:text="#{node.statusCode}">상태</label>
                    <select th:field="*{statusCode}" class="form-control form-control-sm col-md-3">
                        <option th:each="code : ${referenceData.nodeStatusList}" th:value="${code.codePK.code}" th:text="#{'code.NS.' + ${code.codePK.code}}" />
                    </select>
                    <div th:if="${#fields.hasErrors('*{statusCode}')}" class="invalid-feedback" th:errors="*{statusCode}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <div class="col-sm-12 col-md-10 pl-0">
                        <a th:href="@{/admin/node}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" name="save" class="btn btn-primary btn-sm waves-effect waves-classic" >저장</button>
                        <a th:href="@{/admin/node}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>