<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.node.title}">노드 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/webui-popover/webui-popover.min.css}">
    <style type="text/css">
        .webui-popover-content, h3.webui-popover-title {
            font-size: 12px;
        }
    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.node.title}">노드 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.node.title}">노드 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.node.title}">노드 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/node/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{node.masterYn}">구분</td>
                            <td th:text="#{node.nodeName}">노드명</td>
                            <td th:text="#{node.internalDomain}">내부도메인</td>
                            <td th:text="#{node.internalIp}">내부IP</td>
                            <td th:text="#{node.externalIp}">외부IP</td>
                            <td th:text="#{node.gpu}">보유 (GPU)</td>
                            <td><span th:text="#{node.use}">사용</span><a href="#" class="indigo-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                     data-delay-hide="100" th:attrappend="data-content=#{node.use.desc},data-title=#{node.use.title}"><i class="icon md-info" aria-hidden="true"></i></a>
                                <br/>(<span th:text="#{node.use.gpu}">GPU</span>/<span th:text="#{node.use.container}">컨테이너</span>)</td>
                            <td th:text="#{node.statusCode}">상태</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody th:if="${nodePage.getContent().isEmpty()}">
                        <tr>
                            <td colspan="10" class="text-center pt-30 pb-30" th:text="#{node.list.empty}">등록된 노드가 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${nodePage.getContent().isEmpty()}">
                            <tr th:each="node : ${nodePage.getContent()}">
                                <td th:text="${node.nodeSn}"></td>
                                <td th:text="#{'node.masterYn.' + ${node.masterYn}}"></td>

                                <td th:text="${node.nodeName}"></td>
                                <td th:text="${node.internalDomain}"></td>

                                <td th:text="${node.internalIp}"></td>
                                <td>
                                    <span th:text="${node.externalIp}">externalIp</span>
                                </td>
                                <td>
                                    <span th:text="${node.gpuLabel}">gpuLabel</span>
                                     * <span th:text="${node.gpuQuantity}">gpuQuantity</span>
                                </td>
                                <td>
                                    <span th:text="${node.useGpuQuantity}"></span>
                                    /<span th:text="${node.useContainerQuantity}"></span>
                                </td>
                                <td th:text="#{'code.NS.' + ${node.statusCode}}"></td>
                                <td>
                                    <form method="post" th:action="@{/admin/node/{nodeSn}/delete (nodeSn=${node.nodeSn})}" class="inline">
                                        <a th:href="@{/admin/node/{nodeSn}/modify (nodeSn=${node.nodeSn})}"
                                           class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                        <button type="submit" th:if="${#lists.size(node.containerList) eq 0}" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                    </form>
                                    <form method="post" th:action="@{/admin/node/{nodeSn}/apply (nodeSn=${node.nodeSn})}" class="inline" th:if="${!node.masterYn and node.externalIp ne null}">
                                        <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic" th:text="#{common.button.externalIp}">외부IP적용</button>
                                    </form>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                        <nav th:replace="fragments/site-pagination::pagination (pages=${nodePage})"></nav>
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/admin/node/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</a>
                        <a th:href="@{/kube/node}" class="btn btn-success btn-sm waves-effect waves-classic">
                            <i class="icon md-sign-in" aria-hidden="true"></i>KUBE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/webui-popover/jquery.webui-popover.min.js}"></script>

</th:block>



</body>
</html>