<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.pod.title}">파드 구성 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/webui-popover/webui-popover.min.css}">
    <style type="text/css">
        .webui-popover-content, h3.webui-popover-title {
            font-size: 12px;
        }
    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.pod.title}">파드 구성 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.pod.title}">파드 구성 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.pod.title}">파드 구성 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/pod-format/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">
                <form th:object="${podFormatCriteria}" method="get" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-12 col-md-11 pl-0">
                            <div class="row no-space form-group mb-10">
                                <div class="col-sm-2 col-xs-6">
                                    <select th:field="*{gpuSn}" class="form-control form-control-sm">
                                        <option value="" th:text="#{pod.format.option.gpu.all}">GPU 전체</option>
                                        <option th:each="gpu : ${referenceData.gpuList}" th:value="${gpu.gpuSn}" th:text="${gpu.gpuName}"/>
                                    </select>
                                </div>

                                <th:block th:each="podOptionGroup : ${referenceData.requiredList}">
                                    <div class="col-sm-2 col-xs-6">
                                        <select th:name="|podOptionSnMap[${podOptionGroup.podOptionGroupId}]|" class="form-control form-control-sm">
                                            <option value="" th:text="|${podOptionGroup.podOptionGroupName} #{common.all}|">OS 전체</option>
                                            <option th:each="podOption : ${podOptionGroup.podOptionList}" th:value="${podOption.podOptionSn}" th:text="${podOption.podOptionName}"
                                                    th:selected="${podFormatCriteria.podOptionSnMap != null && podOption.podOptionSn eq podFormatCriteria.podOptionSnMap['__${podOptionGroup.podOptionGroupId}__']}"/>
                                        </select>
                                    </div>
                                </th:block>

                                <th:block th:each="podOptionGroup : ${referenceData.libraryList}">
                                    <div class="col-sm-2 col-xs-6">
                                        <select th:name="|podOptionSnMap[${podOptionGroup.podOptionGroupId}]|" class="form-control form-control-sm">
                                            <option value="" th:text="|${podOptionGroup.podOptionGroupName} #{common.all}|">library 전체</option>
                                            <option th:each="podOption : ${podOptionGroup.podOptionList}" th:value="${podOption.podOptionSn}" th:text="${podOption.podOptionName}"
                                                    th:selected="${podFormatCriteria.podOptionSnMap != null && podOption.podOptionSn eq podFormatCriteria.podOptionSnMap['__${podOptionGroup.podOptionGroupId}__']}"/>
                                        </select>
                                    </div>
                                </th:block>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-1 text-right pr-0">
                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.search}">조회</button>
                        </div>

                    </div>
                </form>
                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{pod.format.podFormatName}">파드 구성 명</td>
                            <td th:text="#{pod.format.image}">이미지</td>
                            <td th:text="#{pod.format.capacity}">용량</td>
                            <td th:text="#{pod.format.useYn}">사용여부</td>
                            <td th:text="#{pod.format.updatedAt}">생성일</td>
                            <td th:text="#{pod.format.container.count}">사용</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody th:if="${podFormatList.isEmpty()}">
                        <tr>
                            <td colspan="8" class="text-center pt-30 pb-30" th:text="#{pod.format.list.empty}">등록된 파드 구성이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${podFormatList.isEmpty()}">
                            <tr th:each="podFormat : ${podFormatList}">
                                <td th:text="${podFormat.podFormatSn}"></td>
                                <td class="text-left">
                                    <span th:text="${podFormat.podFormatName}"></span>
                                    <a href="#" class="grey-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                       data-delay-hide="100" th:attrappend="data-title=#{pod.format.hint.title}" th:attr="data-content=${podFormat.podOptionHint}"><i class="icon md-lamp" aria-hidden="true"></i></a>
                                    <a href="#" class="grey-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                       data-delay-hide="100" th:attrappend="data-title=#{pod.format.gpu.title}" th:attr="data-content=${podFormat.gpuNames}"><i class="icon md-toys" aria-hidden="true"></i></a>
                                </td>
                                <td class="text-left" th:text="${podFormat.image}"></td>
                                <td th:text="${podFormat.capacity}"></td>
                                <td th:text="#{'pod.format.useYn.' + ${podFormat.useYn}}"></td>
                                <td data-plugin="moment" th:attr="data-utc-date=${podFormat.updatedAt}">-</td>
                                <td th:text="${#lists.size(podFormat.containerList)}"></td>

                                <td>
                                    <a th:href="@{/admin/pod-format/{podFormatSn}/modify (podFormatSn=${podFormat.podFormatSn})}"
                                       class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                    <form method="post" class="inline" th:action="@{/admin/pod-format/{podFormatSn}/delete (podFormatSn=${podFormat.podFormatSn})}"
                                          th:if="${#lists.size(podFormat.containerList) eq 0}">
                                        <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/admin/pod-format/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/webui-popover/jquery.webui-popover.min.js}"></script>

</th:block>


</body>
</html>