<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.pod.title}">파드 구성 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/jquery-labelauty/jquery-labelauty.min.css}">
    <style type="text/css">

        .gpuDiv label {
            min-width: 230px !important;}
        .option label {
            min-width: 230px !important;}

    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.pod.title}">파드 구성 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.pod.title}">파드 구성 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.pod.title}">파드 구성 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${podFormatForm}">
                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{pod.format.info.title}">기본 정보</span></h5>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podFormatName" th:text="#{pod.format.podFormatName}">파드 구성 명</label>
                    <input type="text" th:field="*{podFormatName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{podFormatName}')}" class="invalid-feedback text-right mt-0" th:errors="*{podFormatName}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podFormatDescription" th:text="#{pod.format.podFormatDescription}">파드 구성 설명</label>
                    <input type="text" th:field="*{podFormatDescription}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{podFormatDescription}')}" class="invalid-feedback text-right mt-0" th:errors="*{podFormatDescription}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="image" th:text="#{pod.format.image}">이미지</label>
                    <input type="text" th:field="*{image}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{image}')}" class="invalid-feedback text-right mt-0" th:errors="*{image}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="command" th:text="#{pod.format.command}">명령어</label>
                    <input type="text" th:field="*{command}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{command}')}" class="invalid-feedback text-right mt-0" th:errors="*{command}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="capacity" th:text="#{pod.format.capacity}">용량</label>
                    <input type="text" th:field="*{capacity}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{capacity}')}" class="invalid-feedback text-right mt-0" th:errors="*{capacity}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="useYn" th:text="#{pod.format.useYn}">사용 여부</label>
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" id="inputCheckbox" th:field="*{useYn}" th:errorclass="is-invalid">
                        <label for="useYn" th:text="#{pod.format.useYn.true}">사용</label>
                    </div>
                    <div th:if="${#fields.hasErrors('*{useYn}')}" class="invalid-feedback text-right mt-0" th:errors="*{useYn}">에러 메세지</div>
                </div>

                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{pod.format.required.title}">컨테이너 옵션</span></h5>
                <div class=" row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuSn" th:text="#{pod.format.gpu}">GPU</label>
                    <div class="input-group col-md-9 p-0">
                        <div class="form-group w-md-230 mr-5 mb-5 gpuDiv" th:each="gpu : ${referenceData.gpuList}">
                            <input type="checkbox" class="to-labelauty" data-plugin="labelauty" th:field="*{gpuSns}"
                                   th:attr="data-labelauty=${gpu.gpuName}" th:value="${gpu.gpuSn}"  />
                        </div>
                    </div>
                </div>

                <th:block th:each="podOptionGroup : ${referenceData.requiredList}">
                    <div class=" row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="osVersion" th:text="${podOptionGroup.podOptionGroupName}">podOptionGroupName</label>

                        <div class="form-group w-md-230 mr-5 mb-5 option" th:each="podOption : ${podOptionGroup.podOptionList}">
                            <input type="radio" class="to-labelauty" data-plugin="labelauty" th:name="|podOptionSnMap[${podOptionGroup.podOptionGroupId}]|"
                                   th:attr="data-labelauty=${podOption.podOptionName}" th:value="${podOption.podOptionSn}" th:checked="${podFormatForm.podOptionSnMap != null && podOption.podOptionSn eq podFormatForm.podOptionSnMap['__${podOptionGroup.podOptionGroupId}__']}" />
                        </div>
                    </div>

                </th:block>

                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{pod.format.library.title}">라이브러리</span></h5>
                <th:block th:each="podOptionGroup : ${referenceData.libraryList}">
                    <div class=" row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="osVersion" th:text="${podOptionGroup.podOptionGroupName}">podOptionGroupName</label>
                        <div class="form-group w-md-160 mr-5 mb-5" th:each="podOption : ${podOptionGroup.podOptionList}">
                            <input type="radio" class="to-labelauty" data-plugin="labelauty" th:name="|podOptionSnMap[${podOptionGroup.podOptionGroupId}]|"
                                   th:attr="data-labelauty=${podOption.podOptionName}" th:value="${podOption.podOptionSn}" th:checked="${podFormatForm.podOptionSnMap != null && podOption.podOptionSn eq podFormatForm.podOptionSnMap['__${podOptionGroup.podOptionGroupId}__']}" />
                        </div>

                    </div>

                </th:block>

                <div class=" row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="podFormatSn"></label>
                    <div class="form-group mr-5 mb-5">
                        <input type="hidden" th:field="*{podFormatSn}" th:errorclass="is-invalid">
                        <div th:if="${#fields.hasErrors('*{podFormatSn}')}" class="invalid-feedback d-block mt-0 mb-5" th:errors="*{podFormatSn}">에러 메세지</div>
                    </div>
                </div>





                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/admin/pod-format}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/admin/pod-format}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/jquery-labelauty.js}"></script>
    <script th:src="@{/assets/vendor/jquery-labelauty/jquery-labelauty.js}"></script>
</th:block>


</body>
</html>