<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.container.title}">컨테이너 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/xterm/xterm.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/xterm/fullscreen.css}" />

    <script th:src="@{/assets/vendor/xterm/xterm.js}"></script>
    <script th:src="@{/assets/vendor/xterm/terminado.js}"></script>
    <script th:src="@{/assets/vendor/xterm/fit.js}"></script>
    <script th:src="@{/assets/vendor/xterm/fullscreen.js}"></script>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.container.title}">컨테이너 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.container.title}">컨테이너 관리</li>
    </ol>
</div>
<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.container.title}">컨테이너 관리</h3>
                <div class="panel-actions">
                    <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                       aria-hidden="true"></a>
                    <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                </div>
        </div>
        <div class="panel-body container-fluid">
            <dl class="dl-horizontal row" th:unless="${deployment}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        deployment is null
                    </h5>
                </dt>
            </dl>
            <dl class="dl-horizontal row" th:object="${deployment}" th:if="${deployment}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        deployment
                    </h5>
                </dt>

                <dt class="col-sm-2">deploymentName</dt>
                <dd class="col-sm-4" th:text="*{metadata.name}">metadata.name</dd>
                <dt class="col-sm-2">creationTimestamp</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=*{metadata.creationTimestamp}">-</dd>
                <dt class="col-sm-12 pt-10">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        deployment containers
                    </h5>
                </dt>
                <dd class="col-sm-12">
                    <table class="table table-bordered table-striped font-size-12">
                        <thead>
                        <tr>
                            <td>image</td>
                            <td>args</td>
                            <td>resources.limits</td>
                        </tr>
                        </thead>
                        <tbody th:if="*{spec.template.spec.containers.isEmpty()}">
                        <tr>
                            <td colspan="5" class="text-center pt-30 pb-30">등록된 condition이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="*{spec.template.spec.containers.isEmpty()}">
                        <tr th:each="container : *{spec.template.spec.containers}">
                            <td th:text="${container.image}"></td>
                            <td th:text="${container.args}"></td>
                            <td th:text="${container.resources.limits}"></td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
                <dt class="col-sm-12 pt-10">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        deployment conditions
                    </h5>
                </dt>
                <dd class="col-sm-12">
                    <table class="table table-bordered table-striped font-size-12">
                        <thead>
                        <tr>
                            <td>type</td>
                            <td>message</td>
                            <td>reason</td>
                            <td>status</td>
                            <td>lastUpdateTime</td>
                            <td>lastTransitionTime</td>
                        </tr>
                        </thead>
                        <tbody th:if="*{status.conditions.isEmpty()}">
                        <tr>
                            <td colspan="6" class="text-center pt-30 pb-30">등록된 condition이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="*{status.conditions.isEmpty()}">
                        <tr th:each="condition : *{status.conditions}">
                            <td th:text="${condition.type}"></td>
                            <td th:text="${condition.message}"></td>
                            <td th:text="${condition.reason}"></td>
                            <td th:text="${condition.status}"></td>
                            <td data-plugin="moment" th:attr="data-utc-date=${condition.lastUpdateTime}">-</td>
                            <td data-plugin="moment" th:attr="data-utc-date=${condition.lastTransitionTime}">-</td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="dl-horizontal row" th:unless="${pod}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        pod is null
                    </h5>
                </dt>
            </dl>
            <dl class="dl-horizontal row" th:object="${pod}" th:if="${pod}">
                <dt class="col-sm-12 pt-10">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        pod
                    </h5>
                </dt>

                <dt class="col-sm-2">podName</dt>
                <dd class="col-sm-4" th:text="*{metadata.name}">metadata.name</dd>
                <dt class="col-sm-2">creationTimestamp</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=*{metadata.creationTimestamp}">-</dd>

                <dt class="col-sm-2">nodeName</dt>
                <dd class="col-sm-4" th:text="*{spec.nodeName}">spec.nodeName</dd>
                <dt class="col-sm-2">phase</dt>
                <dd class="col-sm-4" th:text="*{status.phase}">status.phase</dd>

                <dt class="col-sm-12 pt-10">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        pod conditions
                    </h5>
                </dt>
                <dd class="col-sm-12">
                    <table class="table table-bordered table-striped font-size-12">
                        <thead>
                            <tr>
                                <td>type</td>
                                <td>message</td>
                                <td>reason</td>
                                <td>status</td>
                                <td>lastProbeTime</td>
                                <td>lastTransitionTime</td>
                            </tr>
                        </thead>
                        <tbody th:if="*{status.conditions.isEmpty()}">
                            <tr>
                                <td colspan="6" class="text-center pt-30 pb-30" th:text="#{container.status.condition.list.empty}">등록된 condition이 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="*{status.conditions.isEmpty()}">
                            <tr th:each="condition : *{status.conditions}">
                                <td th:text="${condition.type}"></td>
                                <td th:text="${condition.message}"></td>
                                <td th:text="${condition.reason}"></td>
                                <td th:text="${condition.status}"></td>
                                <td><span data-plugin="moment" th:attr="data-utc-date=${condition.lastProbeTime}" th:if="${condition.lastProbeTime}">-</span></td>
                                <td><span data-plugin="moment" th:attr="data-utc-date=${condition.lastTransitionTime}" th:if="${condition.lastTransitionTime}">-</span></td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
            <dl class="dl-horizontal row" th:unless="${service}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        service is null
                    </h5>
                </dt>
            </dl>
            <dl class="dl-horizontal row" th:object="${service}" th:if="${service}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        service
                    </h5>
                </dt>

                <dt class="col-sm-2">name</dt>
                <dd class="col-sm-4" th:text="*{metadata.name}">metadata.name</dd>
                <dt class="col-sm-2">creationTimestamp</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=*{metadata.creationTimestamp}">-</dd>

                <dt class="col-sm-12 pt-10">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        service ports
                    </h5>
                </dt>
                <dd class="col-sm-12">
                    <table class="table table-bordered table-striped font-size-12">
                        <thead>
                            <tr>
                                <td>name</td>
                                <td>nodePort</td>
                                <td>port</td>
                                <td>protocol</td>
                                <td>targetPort</td>
                            </tr>
                        </thead>
                        <tbody th:if="*{spec.ports.isEmpty()}">
                            <tr>
                                <td colspan="5" class="text-center pt-30 pb-30" th:text="#{container.spec.port.list.empty}">등록된 포트가 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="*{spec.ports.isEmpty()}">
                            <tr th:each="port : *{spec.ports}">
                            <td th:text="${port.name}"></td>
                            <td th:text="${port.nodePort}"></td>
                            <td th:text="${port.port}"></td>
                            <td th:text="${port.protocol}"></td>
                            <td th:text="${port.targetPort}"></td>
                        </tr>
                        </tbody>
                    </table>
                </dd>

            </dl>

            <dl class="dl-horizontal row" th:object="${persistentVolume}" th:if="${persistentVolume}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        persistentVolume
                    </h5>
                </dt>

                <dt class="col-sm-2">name</dt>
                <dd class="col-sm-4" th:text="*{metadata.name}">metadata.name</dd>
                <dt class="col-sm-2">creationTimestamp</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=*{metadata.creationTimestamp}">-</dd>

                <dt class="col-sm-2">accessModes</dt>
                <dd class="col-sm-4" th:text="*{spec.accessModes}">spec.accessModes</dd>
                <dt class="col-sm-2">persistentVolumeReclaimPolicy</dt>
                <dd class="col-sm-4" th:text="*{spec.persistentVolumeReclaimPolicy}">spec.persistentVolumeReclaimPolicy</dd>
                <dt class="col-sm-2">capacity</dt>
                <dd class="col-sm-4" th:text="*{spec.capacity}">spec.capacity</dd>
                <dt class="col-sm-2">hostPath</dt>
                <dd class="col-sm-4" th:text="*{spec.hostPath}">spec.hostPath</dd>

                <dt class="col-sm-2">status</dt>
                <dd class="col-sm-10" th:text="*{status}">status</dd>
            </dl>

            <dl class="dl-horizontal row" th:object="${persistentVolumeClaim}" th:if="${persistentVolumeClaim}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        persistentVolumeClaim
                    </h5>
                </dt>

                <dt class="col-sm-2">name</dt>
                <dd class="col-sm-4" th:text="*{metadata.name}">metadata.name</dd>
                <dt class="col-sm-2">creationTimestamp</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=*{metadata.creationTimestamp}">-</dd>

                <dt class="col-sm-2">resources</dt>
                <dd class="col-sm-10" th:text="*{spec.resources}">spec.resources</dd>

                <dt class="col-sm-2">accessModes</dt>
                <dd class="col-sm-4" th:text="*{spec.accessModes}">spec.accessModes</dd>
                <dt class="col-sm-2">storageClassName</dt>
                <dd class="col-sm-4" th:text="*{spec.storageClassName}">spec.storageClassName</dd>
                <dt class="col-sm-2">volumeMode</dt>
                <dd class="col-sm-4" th:text="*{spec.volumeMode}">spec.volumeMode</dd>
                <dt class="col-sm-2">volumeName</dt>
                <dd class="col-sm-4" th:text="*{spec.volumeName}">spec.volumeName</dd>

                <dt class="col-sm-2">status</dt>
                <dd class="col-sm-10" th:text="*{status}">status</dd>
            </dl>

            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-md-10 pl-0">
                    <a th:href="@{/management/container/{username}/{containerId} (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                       class="btn btn-default btn-sm waves-effect waves-classic" th:text="#{common.button.previous}">돌아가기</a>
                </div>
                <div class="col-sm-12 col-md-2 pr-0 text-right">
                    <form method="post" class="inline"
                          th:action="@{/kube/{username}/{containerId}/update (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                          th:if="${deployment != null && pod != null && service != null}"
                          th:onsubmit="|return confirm('__#{common.confirm.update}__');|" >
                        <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.apply}">적용</button>
                    </form>
                    <form method="post" class="inline"
                          th:action="@{/kube/{username}/{containerId}/fail (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}"
                          th:onsubmit="|return confirm('__#{common.confirm.update}__');|" >
                        <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{common.button.force.fail}">실패처리</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<th:block layout:fragment="page-script">
    <script th:inline="javascript">
    </script>
</th:block>
</body>
</html>