<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.node.title}">노드 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.node.title}">노드 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.node.title}">노드 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.node.title}">노드 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <dl class="dl-horizontal row" th:unless="${nodeList}">
                <dt class="col-sm-12">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        nodeList is null
                    </h5>
                </dt>
            </dl>
            <dl class="dl-horizontal row" th:object="${nodeList}" th:if="${nodeList}">
                <dd class="col-sm-12">
                    <table class="table table-bordered font-size-12">
                        <thead>
                        <tr>
                            <td>name</td>
                            <td>labels</td>
                            <td>addresses</td>
                            <td>allocatable / capacity</td>
                            <td>creationTimestamp</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody th:if="*{items.isEmpty()}">
                        <tr>
                            <td colspan="7" class="text-center pt-30 pb-30">등록된 node가 없습니다.</td>
                        </tr>
                        </tbody>
                        <th:block th:each="node : *{items}" th:unless="*{items.isEmpty()}">
                        <tbody class="table-section" data-plugin="tableSection">
                            <tr>
                                <td>
                                    <span th:text="${node.metadata.name}">name</span>
                                    <i class="table-section-arrow"></i>
                                </td>
                                <td>
                                    <th:block th:each="label : ${node.metadata.labels}">
                                        <code><span th:text="${label.key}">label.value</span> : <span th:text="${label.value}">label.value</span></code><br>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:each="address : ${node.status.addresses}">
                                        <code><span th:text="${address.type}"></span> : <span th:text="${address.address}"></span></code><br>
                                    </th:block>
                                </td>

                                <td>
                                    <th:block th:each="entry : ${node.status.allocatable}">
                                        <code><span th:text="${entry.key}">label.value</span> : <span th:text="${entry.value.number}">entry.value.number</span> / <span th:text="${node.status.capacity.get(entry.key).number}">entry.value.number</span></code><br>
                                    </th:block>
                                </td>
                                <td data-plugin="moment" th:attr="data-utc-date=${node.metadata.creationTimestamp}">-</td>
                                <td>
                                    <form method="post" th:action="@{/kube/node/{nodeName}/update (nodeName=${node.metadata.name})}">
                                        <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic" th:text="#{common.button.apply}">적용</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="7" class="bg-grey-100">
                                    <span class="font-size-10" th:unless="${node.status.conditions ne null and !node.status.conditions.isEmpty()}" th:text="#{node.status.conditions.list.empty}">condition이 없습니다.</span>
                                    <table class="table table-hover table-bordered font-size-10 text-center mb-0" th:unless="${node.status.conditions.isEmpty()}">
                                        <thead>
                                        <tr class="bg-grey-200 font-weight-500">
                                            <td>lastHeartbeatTime</td>
                                            <td>lastTransitionTime</td>
                                            <td>message</td>
                                            <td>reason</td>
                                            <td>status</td>
                                            <td>type</td>
                                        </tr>
                                        </thead>
                                        <tr th:each="conditions : ${node.status.conditions}">
                                            <td data-plugin="moment" th:attr="data-utc-date=${conditions.lastHeartbeatTime}">-</td>
                                            <td data-plugin="moment" th:attr="data-utc-date=${conditions.lastTransitionTime}">-</td>
                                            <td th:text="${conditions.message}"></td>
                                            <td th:text="${conditions.reason}"></td>
                                            <td th:text="${conditions.status}"></td>
                                            <td th:text="${conditions.type}"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        </th:block>
                    </table>
                </dd>
            </dl>
            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-md-10 pl-0">
                    <a th:href="@{/admin/node}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.previous}">돌아가기</a>
                </div>
                <div class="col-sm-12 col-md-2 pr-0 text-right">
                </div>
            </div>
        </div>

    </div>
</div>


<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/table.js}"></script>
</th:block>
</body>
</html>