<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap material admin template">
<meta name="author" content="">

<title>{{@file.data.frontMatter.title}} | Remark Material Admin Template</title>

<link rel="apple-touch-icon" href="{{assets}}/images/apple-touch-icon.png">
<link rel="shortcut icon" href="{{assets}}/images/favicon.ico">

<!-- Stylesheets -->
<link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{assets}}/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="{{assets}}/css/site.min.css">

<!-- Plugins -->
{{#block "css_vendor"}}
<link rel="stylesheet" href="{{assets}}/vendor/animsition/animsition.css">
<link rel="stylesheet" href="{{assets}}/vendor/asscrollable/asScrollable.css">
<link rel="stylesheet" href="{{assets}}/vendor/switchery/switchery.css">
<link rel="stylesheet" href="{{assets}}/vendor/intro-js/introjs.css">
<link rel="stylesheet" href="{{assets}}/vendor/slidepanel/slidePanel.css">
<link rel="stylesheet" href="{{assets}}/vendor/flag-icon-css/flag-icon.css">
<link rel="stylesheet" href="{{assets}}/vendor/waves/waves.css">
{{/block}}
{{#block "css"}}

{{/block}}

<!-- Fonts -->
{{#block "fonts"}}
<link rel="stylesheet" href="{{assets}}/fonts/material-design/material-design.min.css">
<link rel="stylesheet" href="{{assets}}/fonts/brand-icons/brand-icons.min.css">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
{{/block}}

<!--[if lt IE 9]>
<script src="{{assets}}/vendor/html5shiv/html5shiv.min.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script src="{{assets}}/vendor/media-match/media.match.min.js"></script>
<script src="{{assets}}/vendor/respond/respond.min.js"></script>
<![endif]-->

<!-- Scripts -->
<script src="{{assets}}/vendor/breakpoints/breakpoints.js"></script>
<script>
  Breakpoints();
</script>
