<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.credit.title}">크레딧 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.credit.title}">크레딧 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item" th:text="#{management.payment.title}">결제 관리</li>
        <li class="breadcrumb-item active" th:text="#{management.credit.title}">크레딧 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.credit.title}">카드 목록</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{credit.creditName}">크레딧</td>
                            <td th:text="#{credit.creditAmount}">총 금액</td>
                            <td th:text="#{credit.remainCreditAmount}">잔여 금액</td>
                            <td th:text="#{credit.expiryStartDateFormat}">유효기간 시작일</td>
                            <td th:text="#{credit.expiryEndDateFormat}">유효기간 종료일</td>
                            <td th:text="#{credit.validYn}">유효여부</td>
                            <td th:text="#{credit.createdAt}">등록일</td>
                            <td th:text="#{credit.payment.list}">내역</td>
                        </tr>
                        </thead>
                        <tbody th:if="${userCreditList.isEmpty()}">
                            <tr>
                                <td colspan="9" class="text-center pt-30 pb-30" th:text="#{credit.list.empty}">등록된 크레딧이 없습니다.</td>
                            </tr>
                        </tbody>
                        <th:block th:each="userCredit : ${userCreditList}" th:unless="${userCreditList.isEmpty()}">
                        <tbody class="table-section" data-plugin="tableSection">
                            <tr>
                                <td th:text="${userCreditStat.index + 1}"></td>
                                <td th:text="${userCredit.credit.creditName}"></td>
                                <td th:text="${{userCredit.creditAmount}}"></td>
                                <td th:text="${{userCredit.remainCreditAmount}}"></td>
                                <td th:text="${userCredit.expiryStartDateFormat}"></td>
                                <td th:text="${userCredit.expiryEndDateFormat}"></td>
                                <td th:text="#{'credit.validYn.' + ${userCredit.isValidCredit()}}">validYn</td>
                                <td data-plugin="moment" th:attr="data-utc-date=${userCredit.createdAt}">-</td>
                                <td><i class="table-section-arrow"></i></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="9" class="bg-grey-100">
                                    <span class="font-size-10" th:unless="${userCredit.userCreditPaymentList ne null and !userCredit.userCreditPaymentList.isEmpty()}" th:text="#{credit.payment.list.empty}">사용 내역이 없습니다.</span>
                                    <table class="table table-hover table-bordered font-size-10 text-center mb-0" th:unless="${userCredit.userCreditPaymentList.isEmpty()}">
                                        <thead>
                                        <tr class="bg-grey-200 font-weight-500">
                                            <td th:text="#{payment.paymentId}">결제 아이디</td>
                                            <td th:text="#{payment.creditPaymentAmount}">크레딧 결제 금액</td>
                                            <td th:text="#{payment.creditPreviousAmount}">보유 크레딧</td>
                                            <td th:text="#{payment.creditRemainAmount}">잔여 크레딧</td>
                                            <td th:text="#{payment.paymentDate}">결제일</td>
                                        </tr>
                                        </thead>
                                        <tr th:each="userCreditPayment : ${userCredit.userCreditPaymentList}">
                                            <td th:text="${userCreditPayment.userCreditPaymentPK.paymentId}"></td>
                                            <td th:text="${{userCreditPayment.creditPaymentAmount}}"></td>
                                            <td th:text="${{userCreditPayment.creditPreviousAmount}}"></td>
                                            <td th:text="${{userCreditPayment.creditRemainAmount}}"></td>
                                            <td data-plugin="moment" th:attr="data-utc-date=${userCreditPayment.paymentDate}"></td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        </th:block>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/table.js}"></script>
</th:block>
</body>
</html>
