<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.card.title}">카드 관리</title>

    <link rel="stylesheet" th:href="@{/assets/vendor/formvalidation/formValidation.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.card.title}">카드 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.card.title}">카드 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.card.title}">카드 등록</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${userCardForm}" id="userCardForm" autocomplete="off">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="cardNo"><span th:text="#{card.cardNo}">카드번호</span><br/>(DDDD-DDDD-DDDD-DDDD)</label>
                    <input type="text" th:field="*{cardNo}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9" required="required" placeholder="DDDD-DDDD-DDDD-DDDD"/>
                    <input type="hidden" th:field="*{customerUid}" th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('*{cardNo}')}" class="invalid-feedback text-right mt-0" th:errors="*{cardNo}">에러 메세지</div>
                    <div th:if="${#fields.hasErrors('*{customerUid}')}" class="invalid-feedback text-right mt-0" th:errors="*{customerUid}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="cardExpiry"><span th:text="#{card.cardExpiry}">유효기간</span><br/>(MMYY)</label>
                    <input type="text" th:field="*{cardExpiry}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9" required="required" placeholder="MMYY"/>
                    <div th:if="${#fields.hasErrors('*{cardExpiry}')}" class="invalid-feedback text-right mt-0" th:errors="*{cardExpiry}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="cardBirth"><span th:text="#{card.cardBirth}">생년월일</span><br/>(YYMMDD)</label>
                    <input autocomplete="off" type="text" th:field="*{cardBirth}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9" required="required" placeholder="YYMMDD"/>
                    <div th:if="${#fields.hasErrors('*{cardBirth}')}" class="invalid-feedback text-right mt-0" th:errors="*{cardBirth}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="cardPassword" th:text="#{card.cardPassword}">비밀번호 앞 두자리</label>
                    <input autocomplete="new-password" type="password" th:field="*{cardPassword}" th:errorclass="is-invalid" required="required" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{cardPassword}')}" class="invalid-feedback text-right mt-0" th:errors="*{cardPassword}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/management/card}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="button" id="card-certification" class="btn btn-info btn-sm waves-effect waves-classic" th:text="#{common.button.card.certification}">카드 인증</button>
                        <button type="submit" th:text="#{common.button.save}" name="save" id="complete" class="btn btn-primary btn-sm waves-effect waves-classic" style="display:none;">저장</button>
                        <a th:href="@{/management/card}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<th:block layout:fragment="page-script">

    <!--<script th:src="@{/assets/vendor/formvalidation/formValidation.min.js}"></script>-->
    <!--<script th:src="@{/assets/vendor/formvalidation/framework/bootstrap.min.js}"></script>-->
    <script th:inline="javascript">
        $(document).ready(function() {



            $('#card-certification').click(function () {


                // $('#userCardForm').formValidation({
                //     fields: {
                //         cardNo: {
                //             validators: {
                //                 notEmpty: {message: "The cardNo is required"},
                //                 stringLength: {
                //                     min: 5,
                //                     max: 15}
                //             }
                //         }
                //     }
                // });


                $.ajax({
                    type: 'POST',
                    url: '/iamport/customer-uid',
                    data: $('#userCardForm').serialize()
                }).done(function (data, textStatus, jqXHR) {
                    console.log(data.data);
                    console.log(data.status);
                    if (data.status === 'SUCCESS') {
                        $('input[name=customerUid]').val(data.data.customerUid);
                        console.log(data.data.customerUid);
                        var message = '카드 인증에 성공하였습니다.';
                        if ($.i18n.messages != undefined) {
                            message = $.i18n.getMessage("register.card.certification.success");
                        }
                        alert(message);
                        $('#card-certification').css('display', 'none');
                        $('#complete').css('display', '');
                    } else {
                        alert(data.data.message);
                        $('#card-certification').css('display', '');
                        $('#complete').css('display', 'none');
                    }
                }).fail(function (jqXHR) {
                    var message = '카드 인증에 실패하였습니다.';
                    if ($.i18n.messages != undefined) {
                        message = $.i18n.getMessage("register.card.certification.fail");
                    }
                    alert(message);
                    $('#card-certification').css('display', '');
                    $('#complete').css('display', 'none');
                });
            });

        });
    </script>
</th:block>

</body>
</html>