<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.card.title}">카드 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.card.title}">카드 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item" th:text="#{management.payment.title}">결제 관리</li>
        <li class="breadcrumb-item active" th:text="#{management.card.title}">카드 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.card.title}">카드 목록</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                            <tr>
                                <td>#</td>
                                <td th:text="#{card.cardNo}">카드번호</td>
                                <td th:text="#{card.cardExpiry}">유효기간</td>
                                <td th:text="#{card.useYn}">사용여부</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody th:if="${userCardList.isEmpty()}">
                            <tr>
                                <td colspan="5" class="text-center pt-30 pb-30" th:text="#{card.list.empty}">등록된 카드가 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${userCardList.isEmpty()}">
                            <tr th:each="userCard : ${userCardList}">
                                <td th:text="${userCardStat.index + 1}"></td>
                                <td th:text="${userCard.cardNoWithStar}"></td>
                                <td th:text="${userCard.cardExpiryWithFormat}"></td>
                                <td th:text="#{'card.useYn.' + ${userCard.useYn}}"></td>
                                <td>
                                    <form method="post" th:action="@{/management/card/{userCardNo}/delete (userCardNo=${userCard.userCardPK.userCardNo})}" th:unless="${userCard.useYn}">
                                        <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/management/card/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>