<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/login-layout}">
<head>
    <title th:text="#{password.title}">로그인</title>
    <link rel="stylesheet" th:href="@{/assets/css/cheetah/pages/login-v2.min.css}">
</head>
<body>

<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out"
     layout:fragment="page-content">
    <div class="page-content">
        <div class="page-brand-info">
            <div class="brand">
                <img class="brand-img" th:src="@{/assets/images/cheetah-logo.png}" style="height:55px;border-radius:50%" alt="...">
                <h2 class="brand-text font-size-40">CHEETAH</h2>
            </div>
            <p class="font-size-20">Intelligent GPU CLOUD system for you</p>
        </div>

        <div class="page-login-main animation-slide-right animation-duration-1">
            <div class="brand hidden-md-up">
                <img class="brand-img" th:src="@{/assets/images/cheetah-logo.png}" style="height:55px;border-radius:50%" alt="...">
                <h3 class="brand-text font-size-40">CHEETAH</h3>
            </div>
            <h3 class="font-size-24" th:text="#{password.title}">비밀번호 찾기</h3>
            <p th:text="#{password.desc}">비밀번호 재설정을 위해 아이디와 이메일을 입력하세요.</p>


            <form method="post" action="#" th:object="${loginForm}">
                <th:block th:if="*{error}">
                    <div class="alert alert-danger" th:text="${#messages.msg(session.SPRING_SECURITY_LAST_EXCEPTION.message)}"></div>
                </th:block>
                <div class="alert alert-danger" th:if="${notExistUser}" th:text="#{AuthenticationProvider.userNotFound}">
                    일치하는 사용자가 없습니다.
                </div>
                <div class="form-group">
                    <label class="sr-only" for="username">username</label>
                    <input type="text" class="form-control" th:field="*{username}" placeholder="username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">email</label>
                    <input type="text" class="form-control" th:field="*{email}" placeholder="email">
                </div>
                <button type="submit" class="btn btn-primary btn-block" th:text="#{common.button.password.reset}">비밀번호 재설정</button>
            </form>

            <p><a href="/register" th:text="#{login.register}">회원가입</a> | <a th:href="@{/login}" th:text="#{common.button.login}">로그인</a></p>
            <footer class="page-copyright">
                <p>Made BY <i class="red-600 wb wb-heart"></i> N3N CLOUD</p>
                <p>© 2019. All RIGHT RESERVED.</p>
            </footer>
        </div>
    </div>

</div>


<th:block layout:fragment="page-script">
    <script th:src="@{/assets/vendor/screenfull/screenfull.js}"></script>

</th:block>
</body>
</html>