<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/register-layout}">
<head>
    <title th:text="#{signup.title}">회원가입</title>
    <link rel="stylesheet" th:href="@{/assets/css/cheetah/pages/register-v3.min.css}">
</head>
<body>

<div class="page-content vertical-align-middle" layout:fragment="page-content">
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
                <h3 class="text-left mb-5">GPU CLOUD CHEETAH - <span th:text="#{'code.UR.' + ${userForm.userRoleCode}}">userRole</span></h3>
                <p class="text-left mb-15" th:text="#{register.card.desc}">결제정보를 입력하세요.</p>

                <div class="form-group text-left">


                    <form method="post" action="#" th:object="${userForm}" id="userCardForm" role="form"
                          th:action="@{/register/complete}" autocomplete="off">
                        <input type="hidden" th:field="*{userRoleCode}"  />
                        <input type="hidden" th:field="*{username}" th:errorclass="is-invalid">
                        <input type="hidden" th:field="*{name}" th:errorclass="is-invalid">
                        <input type="hidden" th:field="*{password}" />
                        <input type="hidden" th:field="*{confirmPassword}" />
                        <input type="hidden" th:field="*{phoneNo}" />
                        <input type="hidden" th:field="*{email}" th:errorclass="is-invalid">
                        <input type="hidden" th:field="*{groupName}" />
                        <input type="hidden" th:field="*{groupTypeCode}"  />
                        <input type="hidden" th:field="*{organizationName}" />
                        <input type="hidden" th:field="*{teamName}"  />

                        <h5 th:text="#{register.card.title}">결제 정보</h5>
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="cardNo" class="form-control-label-sm col-sm-4" th:text="#{register.card.cardNo}">카드번호</label>
                            <input type="text" th:field="*{cardNo}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8" placeholder="DDDD-DDDD-DDDD-DDDD">
                            <input type="hidden" th:field="*{customerUid}" th:errorclass="is-invalid">
                            <div th:if="${#fields.hasErrors('*{cardNo}')}" th:errors="*{cardNo}"
                                 class="invalid-feedback">error cardNo</div>
                            <div th:if="${#fields.hasErrors('*{customerUid}')}" th:errors="*{customerUid}"
                                 class="invalid-feedback">error customerUid</div>
                        </div>
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="cardExpiry" class="form-control-label-sm col-sm-4" th:text="#{register.card.cardExpiry}">유효기간 (MMYY)</label>
                            <input type="text" th:field="*{cardExpiry}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8" placeholder="MMYY">
                            <div th:if="${#fields.hasErrors('*{cardExpiry}')}" th:errors="*{cardExpiry}"
                                 class="invalid-feedback">error cardExpiry</div>
                        </div>
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="cardNo" class="form-control-label-sm col-sm-4" th:text="#{register.card.cardBirth}">생년월일 (YYMMDD)</label>
                            <input autocomplete="off" type="text" th:field="*{cardBirth}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8" placeholder="YYMMDD">
                            <div th:if="${#fields.hasErrors('*{cardBirth}')}" th:errors="*{cardBirth}"
                                 class="invalid-feedback">error cardBirth</div>
                        </div>
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="cardPassword" class="form-control-label-sm col-sm-4" th:text="#{register.card.cardPassword}">비밀번호 앞 두자리</label>
                            <input autocomplete="new-password" type="password" th:field="*{cardPassword}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                            <div th:if="${#fields.hasErrors('*{cardPassword}')}" th:errors="*{cardPassword}"
                                 class="invalid-feedback">error cardPassword</div>
                        </div>

                        <div class="form-group row ml-5 mr-5 pt-10">
                            <div class="col-sm-6 pl-0 text-left">
                                <a href="#" onclick="prevForm(); return false;" class="btn btn-default waves-effect waves-classic ml-0">
                                    <i class="icon md-long-arrow-left font-size-16 mr-15" aria-hidden="true"></i>
                                    <span th:text="#{common.button.previous}">이전</span>
                                </a>
                            </div>
                            <div class="col-sm-6 pr-0 text-right">
                                <button type="button" id="card-certification" class="btn btn-primary waves-effect waves-classic">
                                    <span th:text="#{common.button.card.certification}">카드인증</span>
                                </button>
                                <button type="submit" id="complete" class="btn btn-primary waves-effect waves-classic" style="display:none;">
                                    <span th:text="#{common.button.complete}">완료</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="mt-15"><span th:text="#{register.login.info.prefix}">이미 가입되어 있다면</span> <a class="btn btn-xs btn-info" th:href="@{/login}" th:text="#{common.button.login}">로그인</a> <span th:text="#{register.login.info.postfix}">하세요.</span></p>


                <footer class="page-copyright">
                    <p>Made BY <i class="red-600 wb wb-heart"></i> N3N CLOUD</p>
                    <p>© 2019. All RIGHT RESERVED.</p>
                </footer>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
    <script type="text/javascript">

        function prevForm() {
            $('#userCardForm').attr("action", "/register/form");
            $('#userCardForm').submit();
        }

        $(document).ready(function() {



            $('#card-certification').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/iamport/customer-uid',
                    data: $('#userCardForm').serialize()
                }).done(function (data, textStatus, jqXHR) {
                    console.log(data.data);
                    console.log(data.status);
                    if (data.status === 'SUCCESS') {
                        $('input[name=customerUid]').val(data.data.customerUid);
                        console.log(data.data.customerUid);
                        var message = '카드 인증에 성공하였습니다.';
                        if ($.i18n.messages != undefined) {
                            message = $.i18n.getMessage("register.card.certification.success");
                        }
                        alert(message);
                        $('#card-certification').css('display', 'none');
                        $('#complete').css('display', '');
                    } else {
                        alert(data.data.message);
                        $('#card-certification').css('display', '');
                        $('#complete').css('display', 'none');
                    }
                }).fail(function (jqXHR) {
                    var message = '카드 인증에 실패하였습니다.';
                    if ($.i18n.messages != undefined) {
                        message = $.i18n.getMessage("register.card.certification.fail");
                    }
                    alert(message);
                    $('#card-certification').css('display', '');
                    $('#complete').css('display', 'none');
                });
            });

        });

    </script>
</th:block>
</body>
</html>