<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/register-layout}">
<head>
    <title th:text="#{signup.title}">회원가입</title>
    <link rel="stylesheet" th:href="@{/assets/css/cheetah/pages/register-v3.min.css}">
</head>
<body>
    <div class="page-content vertical-align-middle" layout:fragment="page-content">
        <div class="page-content">
            <div class="panel">
                <div class="panel-body">
                    <h3 class="text-left mb-5" th:text="#{register.role.title}">GPU CLOUD CHEETAH - 회원가입</h3>
                    <p class="text-left mb-15" th:text="#{register.group.desc}">그룹가입키를 입력하세요.</p>

                    <div class="form-group mt-100 mb-100 text-center">
                        <form method="post" autocomplete="off" th:object="${userForm}">

                            <div class="row ml-100 mr-100">
                                <input type="text" th:field="*{groupInviteKey}" th:errorclass="is-invalid" class="form-control col-md-8" th:placeholder="#{register.group.desc}">
                                <button type="submit" class="btn btn-sm btn-primary col-md-4 pl-5">
                                    <span th:text="#{common.button.register}">가입</span>
                                </button>
                                <div th:if="${#fields.hasErrors('*{groupInviteKey}')}" th:errors="*{groupInviteKey}"
                                 class="invalid-feedback text-left">error groupInviteKey</div>
                            </div>
                        </form>
                    </div>

                    <p class="mt-15"><span th:text="#{register.login.info.prefix}">이미 가입되어 있다면</span> <a class="btn btn-xs btn-info" th:href="@{/login}" th:text="#{common.button.login}">로그인</a> <span th:text="#{register.login.info.postfix}">하세요.</span></p>


                    <footer class="page-copyright">
                        <p>Made BY <i class="red-600 wb wb-heart"></i> N3N CLOUD</p>
                        <p>© 2019. All RIGHT RESERVED.</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>