<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/register-layout}">
<head>
    <title th:text="#{signup.title}">회원가입</title>
    <link rel="stylesheet" th:href="@{/assets/css/cheetah/pages/register-v3.min.css}">
</head>
<body>
    <div class="page-content vertical-align-middle" layout:fragment="page-content">
        <div class="page-content">
            <div class="panel">
                <div class="panel-body">
            <h3 class="text-left mb-5" th:text="#{register.role.title}">GPU CLOUD CHEETAH - 회원가입</h3>
            <p class="text-left mb-15" th:text="#{register.role.desc}">회원구분을 선택하세요.</p>
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="pricing-list">
                        <div class="pricing-header">
                            <div class="pricing-title bg-indigo-400 font-weight-300" th:text="#{code.UR.GROUP_ADMIN}">그룹관리자</div>
                            <div class="pricing-price">
                                <img class="brand-img" th:src="@{/assets/images/cheetah-GROUP_ADMIN.png}" style="height:100px;border-radius:50%" alt="...">
                            </div>
                        </div>
                        <ul class="pricing-features font-size-12">
                            <li th:text="#{register.groupAdmin.target}">학교, 기업, 단체 관리자</li>
                            <li th:text="#{register.groupAdmin.desc}">결제 정보 필요</li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn btn-primary waves-effect waves-classic" role="button" th:href="@{/register/form?userRoleCode=GROUP_ADMIN}">
                                <i class="icon md-long-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                <span th:text="#{common.button.select}">선택</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="pricing-list">
                        <div class="pricing-header">
                            <div class="pricing-title bg-indigo-300 font-weight-300" th:text="#{code.UR.GROUP_USER}">그룹사용자</div>
                            <div class="pricing-price">
                                <img class="brand-img" th:src="@{/assets/images/cheetah-GROUP_USER.png}" style="height:100px;border-radius:50%" alt="...">
                            </div>
                        </div>
                        <ul class="pricing-features font-size-12">
                            <li th:text="#{register.groupUser.target}">학교, 기업, 단체 사용자</li>
                            <li th:text="#{register.groupUser.desc}">GPU 컨테이너</li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn btn-primary waves-effect waves-classic" role="button" th:href="@{/register/group}">
                                <i class="icon md-long-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                <span th:text="#{common.button.select}">선택</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="pricing-list">
                        <div class="pricing-header">
                            <div class="pricing-title bg-indigo-400 font-weight-300" th:text="#{code.UR.GENERAL_USER}">일반사용자</div>
                            <div class="pricing-price">
                                <img class="brand-img" th:src="@{/assets/images/cheetah-GENERAL_USER.png}" style="height:100px;border-radius:50%" alt="...">
                            </div>
                        </div>
                        <ul class="pricing-features font-size-12">
                            <li th:text="#{register.generalUser.target}">일반사용자</li>
                            <li th:text="#{register.generalUser.desc}">GPU 컨테이너</li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn btn-primary waves-effect waves-classic" role="button" th:href="@{/register/form?userRoleCode=GENERAL_USER}">
                                <i class="icon md-long-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                <span th:text="#{common.button.select}">선택</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                    <p class="mt-15"><span th:text="#{register.login.info.prefix}">이미 가입되어 있다면</span> <a class="btn btn-xs btn-info" th:href="@{/login}" th:text="#{common.button.login}">로그인</a> <span th:text="#{register.login.info.postfix}">하세요.</span></p>


                    <footer class="page-copyright">
                <p>Made BY <i class="red-600 wb wb-heart"></i> N3N CLOUD</p>
                <p>© 2019. All RIGHT RESERVED.</p>
            </footer>
                </div>
            </div>
        </div>
</div>
</body>
</html>