<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/login-layout}">
<head>
    <title th:text="#{management.group.title}">회원 가입 - 사용자 정보 입력</title>
</head>
<body>

<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out"
     layout:fragment="page-content">


    <form method="post" action="#" th:object="${userForm}" th:action="@{/register/form}">
        사용자 구분 :
        <input type="text" th:field="*{userRoleCode}"  /><br/>

        <th:block th:if="*{userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_USER}">
            그룹 선택 : <input type="text" th:field="*{parentUsername}" /><br/>
        </th:block>

        사용자아이디 : <input type="text" th:field="*{username}" /><br/>
        비밀번호 : <input type="password" th:field="*{password}" /><br/>
        비밀번호 확인 : <input type="password" th:field="*{confirmPassword}" /><br/>
        전화번호 : <input type="text" th:field="*{phoneNo}" /><br/>
        이메일 : <input type="text" th:field="*{email}" /><br/>

        <th:block th:if="*{userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_ADMIN}">
            <p>그룹 정보</p>

            그룹명 : <input type="text" th:field="*{groupName}" /><br/>
            그룹구분 : <input type="radio" th:each="groupType : ${groupTypeList}" th:field="*{groupTypeCode}" th:value="${groupType.codePK.code}" th:text="#{'code.GT' + ${groupType.codePK.code}}" />

            <p>결제 정보</p>

            카드 번호: <input type="text" th:field="*{cardNo}" /><br/>
            빌링키: <input type="text" th:field="*{customerUid}" /><br/>
            유효기간: <input type="text" th:field="*{cardExpiry}" /><br/>

        </th:block>

        <a href="/register">previous</a>
        <button type="submit" class="btn btn-primary btn-block" >next</button>
    </form>


</div>
</body>
</html>