<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/register-layout}">
<head>
    <title th:text="#{signup.title}">회원가입</title>
    <link rel="stylesheet" th:href="@{/assets/css/cheetah/pages/register-v3.min.css}">
</head>
<body>

<div class="page-content vertical-align-middle" layout:fragment="page-content">
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
                <h3 class="text-left mb-5">GPU CLOUD CHEETAH - <span th:text="#{'code.UR.' + ${userForm.userRoleCode}}">userRole</span></h3>
                <p class="text-left mb-15" th:text="#{register.form.desc}">회원정보를 입력하세요.</p>

            <div class="form-group text-left">
                <form method="post" th:object="${userForm}" autocomplete="off" role="form"
                      th:action="${@environment.getProperty('cheetah.payment') and (userForm.userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_ADMIN or userForm.userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GENERAL_USER)}
                                    ? @{/register/card} : @{/register/complete}">
                    <input type="hidden" th:field="*{userRoleCode}" />

                    <h5 th:text="#{register.form.terms.title}">약관 동의</h5>
                    <div class="form-group">
                        <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                            <input type="checkbox" id="inputTerms" th:field="*{agreeTerms}"
                                   th:errorclass="is-invalid">
                            <label for="agreeTerms"></label>
                        </div>
                        <p class="ml-30">
                            <span th:text="#{register.form.terms.desc}">약관에 동의해주세요.</span>
                            <a href="#" class="ml-15" data-target="#modalTerms" data-toggle="modal"
                               th:text="#{common.button.view}">보기</a>
                       </p>
                        <div th:if="${#fields.hasErrors('*{agreeTerms}')}" th:errors="*{agreeTerms}"
                             class="invalid-feedback d-block">
                            에러 메세지
                        </div>
                    </div>

                    <h5 th:text="#{register.form.privacy.title}">개인정보처리방침</h5>
                    <div class="form-group">
                        <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                            <input type="checkbox" id="inputPrivacy" th:field="*{agreePrivacy}"
                                   th:errorclass="is-invalid">
                            <label for="agreePrivacy"></label>
                        </div>
                        <p class="ml-30">
                            <span th:text="#{register.form.privacy.desc}">약관에 동의해주세요.</span>
                            <a href="#" class="ml-15" data-target="#modalPrivacy" data-toggle="modal"
                               th:text="#{common.button.view}">보기</a>
                        </p>
                        <div th:if="${#fields.hasErrors('*{agreePrivacy}')}" th:errors="*{agreePrivacy}"
                             class="invalid-feedback d-block">
                            에러 메세지
                        </div>
                    </div>

                    <h5 th:text="#{register.form.info.title}">회원 정보</h5>

                    <th:block th:if="*{userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_USER}">
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="parentUsername" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.group}">그룹</label>
                            <strong th:text="*{groupName}">groupName</strong>
                            <input type="hidden" th:field="*{groupName}">
                            <input type="hidden" th:field="*{parentUsername}">
                            <input type="hidden" th:field="*{groupInviteKey}">
                            <div th:if="${#fields.hasErrors('*{parentUsername}')}" th:errors="*{parentUsername}" class="invalid-feedback">error parentUsername</div>
                        </div>
                    </th:block>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="username" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.username}">사용자 ID</label>
                        <input autocomplete="off" type="text" th:field="*{username}" class="form-control form-control-sm col-sm-8" th:errorclass="is-invalid">
                        <div th:if="${#fields.hasErrors('*{username}')}" th:errors="*{username}" class="invalid-feedback">error username</div>
                    </div>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="name" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.name}">이름</label>
                        <input type="text" th:field="*{name}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}" class="invalid-feedback">error name</div>
                    </div>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="password" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.password}">비밀번호</label>
                        <input autocomplete="new-password" type="password" th:field="*{password}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}" class="invalid-feedback">error password</div>
                    </div>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="confirmPassword" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.confirmPassword}">비밀번호 확인</label>
                        <input type="password" th:field="*{confirmPassword}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{confirmPassword}')}" th:errors="*{confirmPassword}" class="invalid-feedback">error confirmPassword</div>
                    </div>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="phoneNo" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.phoneNo}">전화번호</label>
                        <input type="text" th:field="*{phoneNo}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{phoneNo}')}" th:errors="*{phoneNo}" class="invalid-feedback">error phoneNo</div>
                    </div>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="email" class="form-control-label-sm col-sm-4" th:text="#{register.form.info.email}">이메일</label>
                        <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{email}')}" th:errors="*{email}" class="invalid-feedback">error email</div>
                    </div>

                    <th:block th:if="*{userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_ADMIN}">
                        <div class="form-group ">
                            <h5 th:text="#{register.form.group.title}">그룹 정보</h5>
                        </div>
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="groupName" class="form-control-label-sm col-sm-4" th:text="#{register.form.group.name}">그룹명</label>
                            <input type="text" th:field="*{groupName}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                            <div th:if="${#fields.hasErrors('*{groupName}')}" th:errors="*{groupName}"
                                 class="invalid-feedback">error groupName</div>
                        </div>
                        <div class="form-group row ml-5 mr-5 mb-5">
                            <label for="groupTypeCode" class="form-control-label-sm form-control-sm col-sm-4" th:text="#{register.form.group.type}">그룹구분</label>

                            <div class="col-md-8 pl-0 pr-0">
                                <th:block th:each="groupType : ${groupTypeList}">
                                <div class="radio-custom radio-primary radio-inline">
                                    <input type="radio" th:field="*{groupTypeCode}" th:id="${groupType}" class="" th:value="${groupType.codePK.code}" th:errorclass="is-invalid">
                                    <label class=" pl-5" th:for="${groupType}" th:text="#{'code.GT.' + ${groupType.codePK.code}}">codeName</label>
                                </div>
                                </th:block>
                            </div>

                            <div th:if="${#fields.hasErrors('*{groupTypeCode}')}" th:errors="*{groupTypeCode}"
                                 class="invalid-feedback">error groupTypeCode</div>
                        </div>
                    </th:block>

                    <div class="form-group ">
                        <h5 th:text="#{register.form.additional.title}">부가 정보</h5>
                    </div>

                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="organizationName" class="form-control-label-sm col-sm-4" th:text="#{register.form.additional.organizationName}">단체(회사/학교) 명</label>
                        <input autocomplete="off" type="text" th:field="*{organizationName}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{organizationName}')}" th:errors="*{organizationName}" class="invalid-feedback">error organizationName</div>
                    </div>
                    <div class="form-group row ml-5 mr-5 mb-5">
                        <label for="teamName" class="form-control-label-sm col-sm-4" th:text="#{register.form.additional.teamName}">팀(부서/학과) 명</label>
                        <input autocomplete="off" type="text" th:field="*{teamName}" th:errorclass="is-invalid" class="form-control form-control-sm col-sm-8">
                        <div th:if="${#fields.hasErrors('*{teamName}')}" th:errors="*{teamName}" class="invalid-feedback">error teamName</div>
                    </div>

                    <div class="form-group row ml-5 mr-5 pt-10">
                        <div class="col-sm-6 pl-0 text-left">
                            <a href="/register" class="btn btn-default waves-effect waves-classic ml-0">
                                <i class="icon md-long-arrow-left font-size-16 mr-15" aria-hidden="true"></i>
                                <span th:text="#{common.button.previous}">이전</span>
                            </a>
                        </div>
                        <div class="col-sm-6 pr-0 text-right">
                            <button type="submit" class="btn btn-primary waves-effect waves-classic">
                                <i class="icon md-long-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                <th:block th:if="${@environment.getProperty('cheetah.payment')}">
                                    <span th:text="#{common.button.next}" th:unless="*{userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_USER}">다음</span>
                                    <span th:text="#{common.button.complete}" th:if="*{userRoleCode eq T(com.mybclab.cheetah.common.constant.Code.ROLE).GROUP_USER}">완료</span>
                                </th:block>
                                <th:block th:unless="${@environment.getProperty('cheetah.payment')}">
                                    <span th:text="#{common.button.complete}">완료</span>
                                </th:block>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <p class="mt-15"><span th:text="#{register.login.info.prefix}">이미 가입되어 있다면</span> <a class="btn btn-xs btn-info" th:href="@{/login}" th:text="#{common.button.login}">로그인</a> <span th:text="#{register.login.info.postfix}">하세요.</span></p>
            <footer class="page-copyright">
                <p>Made BY <i class="red-600 wb wb-heart"></i> N3N CLOUD</p>
                <p>© 2019. All RIGHT RESERVED.</p>
            </footer>
        </div>
    </div>
</div>

    <div class="modal fade modal-fade-in-scale-up" id="modalPrivacy" aria-hidden="true"
         aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" th:text="#{register.form.privacy.title}">개인정보처리방침</h4>
                </div>
                <div class="modal-body">
                    <div class="scrollable is-enabled scrollable-vertical">
                        <div data-role="container" class="scrollable-container" style="height: 500px;">
                            <div data-role="content" class="scrollable-content text-color-box text-left"
                                 style="color: #757575;">
                                <p class="font-weight-bold">치타 머신러닝 플랫폼 서비스 개인정보처리방침</p>
                                <p>주식회사 엔쓰리엔클라우드 (이하 “회사”라고 함)는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법, 통신비밀보호법, 전기통신사업법 등 정보통신 서비스 제공자가 준수하여야 할 관련 법령상의 개인정보보호규정을 준수하며, 관련 법령에 의거한 개인정보처리방침을 정하여 고객 권익 보호에 최선을 다하고 있습니다. 본 개인정보처리방침은 회사에서 제공하는 서비스에 적용되며 다음과 같은 내용을 담고 있습니다.</p>

                                <p>제1장 수집하는 개인정보의 항목 및 수집방법</p>

                                <p>제1조 (수집하는 개인정보의 항목)</p>
                                <p class="pl-10">① 회사는 회원 가입, 원활한 고객상담, 각종 서비스의 제공 등을 위해 아래와 같은 최소한의 개인정보를 필수 항목으로 수집하고 있습니다.</p>
                                <p class="pl-20">1. 회원가입</p>
                                <p class="pl-30">- 개인고객 필수 항목 : 이름, 휴대폰번호, 주소, 비밀번호, 직장명, 소속</p>
                                <p class="pl-30">- 기업고객 필수 항목 : 사업자명, 사업자번호 (사업자등록증), 전화번호, 주소, 비밀번호</p>
                                <p class="pl-20">2. 자동 결제 수단 등록</p>
                                <p class="pl-30">- 신용카드 : 생년월일, 신용카드번호, 카드 유효기간</p>
                                <p class="pl-30">- 계좌이체 : 은행명, 사업자명, 사업자등록번호, 계좌번호</p>

                                <p class="pl-10">② 서비스 이용과정이나 서비스 제공 업무처리 과정에서 아래와 같은 정보들이 자동으로 생성되거나 추가로 수집될 수 있습니다.</p>
                                <p class="pl-20">- IP Address, 쿠키, 접속 로그, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 결제기록</p>

                                <p>제2조 (개인정보 수집방법)</p>
                                <p class="pl-10">① 회사는 다음과 같은 방법으로 개인정보를 수집합니다.</p>
                                <p class="pl-20">1. 홈페이지 수집, 서면 양식, 팩스, 전화, 상담 게시판, 이메일, 오프라인 수집 (이벤트 응모, 세미나 참석)</p>
                                <p class="pl-20">2. 협력 회사로부터의 제공</p>
                                <p class="pl-20">3. 생성 정보 수집 툴을 통한 수집</p>

                                <p>제2장 개인정보의 수집 및 이용목적</p>
                                <p>제3조 (서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산)</p>
                                <p class="pl-10">① 콘텐츠 제공, 특정 맞춤 서비스 제공, 물품배송 또는 청구서 등 발송, 본인인증, 구매 및 요금 결제, 요금 추심 등 서비스 제공에 관련한 목적으로 개인정보를 수집합니다.</p>

                                <p>제4조 (회원관리)</p>
                                <p class="pl-10">① 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 불량회원의 부정 이용 방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달 등 회원관리와 관련된 목적으로 개인정보를 수집합니다.</p>

                                <p>제5조 (신규 서비스 개발 및 마케팅 〮광고에의 활용)</p>
                                <p class="pl-10">신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스 이용에 대한 통계 등 신규 서비스 개발과 마케팅 활용에 관련된 목적으로 개인정보를 수집합니다.</p>


                                <p>제3장 개인정보의 제공 및 처리 위탁</p>
                                <p>제6조 (개인정보의 제공)</p>
                                <p class="pl-10">① 회사는 고객들의 개인정보를 “제2장 개인정보의 수집목적 및 이용목적”에서 고지한 범위 내에서 사용하며, 고객의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 고객의 개인정보를 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
                                <p class="pl-20">1. 고객들이 사전에 동의한 경우</p>
                                <p class="pl-20">2. 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</p>
                                <p class="pl-20">3. 고객 사전 동의 후 개인정보 제공이 발생하는 경우</p>
                                <p class="pl-10">② 주식회사 엔쓰리엔클라우드 파트너 서비스를 제공받는 자의 경우는 수시로 변경되는 당사와 파트너서간의 계약으로 인해 개인정보처리방침 개정의 어려움으로 파트너사 리스트를 웹페이지 링크로 명시합니다.</p>

                                <p>제7조 (개인정보의 처리 위탁)</p>
                                <p class="pl-10">① 회사는 서비스 향상을 위해서 개인정보를 위탁할 수 있으며, 관계 법령에 따라 위탁계약시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 위탁 처리기관과 위탁업무 내용은 웹페이지와 본 개인정보처리방침에 반영하고 명시합니다.</p>


                                <p>제4장 개인정보의 보유 및 이용기간</p>
                                <p>고객의 개인정보는 원칙적으로 개인정보 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간동안 보존합니다.</p>
                                <p>제8조 (회사 내부 방침에 의한 정보 보유 사유)</p>
                                <p class="pl-10">① 부정이용기록의 경우 부정이용 방지를 위해 1년간 회사는 정보를 보유합니다.</p>
                                <p class="pl-10">② 고객 상담 처리를 위해서 문의 / 제휴 내용 (고객에게 별도의 동의를 구한 경우)은 6개월 동안 정보를 보유합니다.</p>

                                <p>제9조 (관련법령에 의한 정보 보유 사유)</p>
                                <p>상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존 기간은 다음과 같습니다.</p>
                                <div class="pl-20">
                                    <table class="table table-bordered font-size-10 text-center">
                                        <thead>
                                        <tr class="bg-grey-100">
                                            <td>보관하는 정보</td>
                                            <td>보존이유</td>
                                            <td>보존기간</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>계약 또는 청약철회 등에 관한 기록</td>
                                            <td rowspan="4">전자상거래 등에서의 소비자보호에 관한 법률</td>
                                            <td>5년</td>
                                        </tr>
                                        <tr>
                                            <td>대금결제 및 재화 등의 공급에 대한 기록</td>
                                            <td>5년</td>
                                        </tr>
                                        <tr>
                                            <td>소비자의 불만 또는 분쟁 처리에 관한 기록</td>
                                            <td>3년</td>
                                        </tr>
                                        <tr>
                                            <td>표시/광고에 관한 기록</td>
                                            <td>6개월</td>
                                        </tr>
                                        <tr>
                                            <td>세법이 규정하는 모든 거래에 관한 정부 및 증빙서류</td>
                                            <td>국세기본법, 법인세법</td>
                                            <td>5년</td>
                                        </tr>
                                        <tr>
                                            <td>전자금융 거래에 관한 기록</td>
                                            <td>전자금융거래법</td>
                                            <td>5년</td>
                                        </tr>
                                        <tr>
                                            <td>로그인 기록</td>
                                            <td>통신비밀보호법</td>
                                            <td>3개월</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <p>제5장 개인정보 파기절차 및 방법</p>
                                <p>고객의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 회사의 개인정보 파기절차 및 방법은 다음과 같습니다.</p>
                                <p>제10조 (파기절차)</p>
                                <p class="pl-10">① 고객이 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 (보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.</p>
                                <p class="pl-10">② 동 개인정보는 법률에 의한 경우를 제외하고 보유되는 이외의 다른 목적으로 이용되지 않습니다.</p>

                                <p>제11조 (파기방법)</p>
                                <p class="pl-10">① 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
                                <p class="pl-10">② 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>


                                <p>제6장 고객 및 법정대리인의 권리</p>
                                <p>제12조 (권리 및 행사방법)</p>
                                <p class="pl-10">① 고객 및 법정대리인은 언제든지 등록되어 있는 자신의 개인정보를 조회, 수정 또는 가입해지를 요청할 수 있습니다.</p>
                                <p class="pl-10">② 고객의 개인정보 조회, 수정을 위해서는 “회원정보 변경 (웹페이지 내 “내 정보관리”)”, 가입해지 (동의철회)를 위해서는 “회원탈퇴 (웹페이지 내 “회원탈퇴”)” 페이지에서 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.</p>
                                <p class="pl-10">③ 개인정보보호책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</p>
                                <p class="pl-10">④ 고객이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.</p>
                                <p class="pl-10">⑤ 회사는 고객 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “제4장 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</p>

                                <p>제7장 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</p>
                                <p>제13조 (쿠키의 정의)</p>
                                <p class="pl-10">① 회사는 개인화되고 맞춤화 된 서비스를 제공하기 위해서 고객의 정보를 저장하고 수시로 불러오는 “쿠키(cookie)”를 사용합니다.</p>
                                <p class="pl-10">② 쿠키는 웹사이트를 운영하는데 이용되는 서버가 고객의 브라우저에게 보내는 아주 적은 텍스트 파일로 고객 컴퓨터의 하드디스크에 저장됩니다. 이후 고객이 웹 사이트에 방문할 경우 웹사이트 서버는 고객의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어고객의 환경설정을 유지하고 맞춤화 된 서비스를 제공하기 위해 이용됩니다.</p>
                                <p class="pl-10">③ 쿠키는 개인을 식별하는 정보를 자동적 / 능동적으로 수집하지 않으며, 고객은 언제든지 이러한 쿠키의 저장을 거부하거나 삭제할 수 있습니다.</p>

                                <p>제14조 (쿠키의 사용 목적)</p>
                                <p class="pl-10">① 회사는 개인화되고 맞춤화 된 서비스를 제공하기 위해서 고객의 정보를 저장하고 수시로 불러오는 “쿠키(cookie)”를 사용합니다.</p>
                                <p class="pl-10">② 쿠키는 웹사이트를 운영하는데 이용되는 서버가 고객의 브라우저에게 보내는 아주 작은 텍스트 파일로 고객 컴퓨터의 하드디스크에 저장됩니다. 이후 고객이 웹 사이트를 방문할 경우 웹 사이트 서버는 고객의 하드 디스크에 저장되어 있는 쿠키의 내용을 읽어 고객의 환경설정을 유지하고 맞춤화 된 서비스를 제공하기 위해 이용됩니다.</p>
                                <p class="pl-10">③ 쿠키는 개인을 식별하는 정보를 자동적 / 능동적으로 수집하지 않으며, 고객은 언제든지 이러한 쿠키의 저장을 거부하거나 삭제할 수 있습니다.</p>

                                <p>제15조 (쿠키의 설치/운영 및 거부)</p>
                                <p class="pl-10">① 고객은 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 고객은 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.</p>
                                <p class="pl-10">② 다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 회사의 일부 서비스는 이용에 어려움이 있을 수 있습니다.</p>
                                <p class="pl-10">③ 쿠키 설치 허용 여부를 지정하는 방법 (Internet Explorer의 경우)은 다음과 같습니다.</p>
                                <p class="pl-20">1. [도구] 메뉴에서 [인터넷 옵션]을 선택합니다.</p>
                                <p class="pl-20">2. [개인정보 탭]을 클릭합니다.</p>
                                <p class="pl-20">3. [개인정보취급 수준]을 설정하시면 됩니다.</p>
                                <p class="pl-10">④ 쿠키 설치 허용 여부를 지정하는 방법 (Chrome의 경우)은 다음과 같습니다.</p>
                                <p class="pl-20">1. [설정]에서 [사용자]를 선택합니다.</p>
                                <p class="pl-20">2. [사용자] 내용 중 [동기화 및 Google서비스를 클릭합니다.</p>
                                <p class="pl-20">3. [다른 Google 서비스] 중 [검색어 및 URL 자동완성] 기능을 끈다.</p>

                                <p>제8장 개인정보의 기술적/관리적 보호 대책</p>
                                <p>회사는 고객들의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 다음과 같은 대책을 강구하고 있습니다.</p>

                                <p>제16조 (비밀번호 암호화)</p>
                                <p>회원 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.</p>

                                <p>제17조 (해킹 등에 대비한 대책)</p>
                                <p>회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. 개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 고객들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화 통신 등을 통하여 네트워크 상에서 개인정보를 안전하게 전송될 수 있도록 하고 있습니다. 그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 노력을 하고 있습니다.</p>

                                <p>제18조 (개인정보 처리 직원의 최소화 및 교육)</p>
                                <p>회사의 개인정보 관련 처리 직원은 담당자에 한정시키고 있고 이를 위한 별도의비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 개인정보처리방침의 준수를 항상 강조하고 있습니다.</p>

                                <p>제19조 (개인정보보호 전담기구의 운영)</p>
                                <p>사내 개인정보보호전담기구 등을 통하여 개인정보처리방침의 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로잡을 수 있도록 노력하고 있습니다. 단, 회사가 개인정보보호 의무를 다 하였음에도 불구하고 고객 본인의 부주의나 회사가 관리하지 않는 영역에서의 사고 등 회사의 귀책에 기인하지 않은 손해에 대해서는 회사는 책임을 지지 않습니다.</p>


                                <p>제9장 기타</p>
                                <p>제20조 (개인정보보호책임자 및 담당자의 연락처)</p>
                                <p class="pl-10">① 고객이 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 고객들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
                                <p class="pl-10">② 개인정보 보호 책임자 : 신동진</p>
                                <p class="pl-10">소속 : 기술지원팀</p>
                                <p class="pl-10">연락처 : 1599-4855</p>
                                <p class="pl-10">메일 : sdjman@n3ncloud.co.kr</p>

                                <p>제21조 (예외사항)</p>
                                <p>회사의 인터넷 서비스에 링크되어 있는 웹사이트들이 개인정보를 수집하는 행위에 대해서는 본 “개인정보처리방침”이 적용되지 않음을 알려드립니다.</p>

                                <p>제22조 (고지의 의무)</p>
                                <p>현 개인정보처리방침 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 “공지사항”을 통해 고지할 것입니다. 다만, 개인정보의 수집 및 활용, 제3자 제공 등과 같이 고객 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.</p>


                                <p>이 개인정보처리방침은 2019년 09월 01일부터 적용됩니다.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light waves-round"
                            data-dismiss="modal" th:text="#{common.button.close}">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-fade-in-scale-up" id="modalTerms" aria-hidden="true"
         aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" th:text="#{register.form.terms.title}">이용 약관</h4>
                </div>
                <div class="modal-body">
                    <div class="scrollable is-enabled scrollable-vertical">
                        <div data-role="container" class="scrollable-container" style="height: 500px;">
                            <div data-role="content" class="scrollable-content text-color-box text-left"
                                 style="color: #757575;">
                                <p class="font-weight-bold">치타 머신러닝플랫폼 서비스 이용약관</p>

                                <p>제1장 일반조건</p>

                                <p>제1조 (목적)</p>
                                <p>본 서비스 약관 (이하 "약관")은 주식회사 엔쓰리엔클라우드 (이하 "회사")가 제공하는 치타 머신러닝 플랫폼 서비스를 이용하는 고객 (이하 "고객")의 권리와 의무 및 기타 이에 관련된 사항을 명시하는 것을 목적으로 합니다.</p>

                                <p>제2조 (용어 정의)</p>
                                <p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                                <p class="pl-10">① "서비스"라 함은 GPU, 서버, 스토리지, 네트워크, 플랫폼 서비스 등을 제공하는 구축형 서비스와 플랫폼서비스만을 제공하는 머신러닝 플랫폼 서비스를 통칭합니다.</p>
                                <p class="pl-10">② "고객"이라 함은 "회사"의 "서비스"에 접속하여 본 약관에 따라 "회사"와 이용계약을 체결하고 "회사"가 제공하는 "서비스"를 이용하는 개인 또는 법인, 공공기관 등을 말합니다.</p>
                                <p class="pl-10">③ "아이디(ID)"라 함은 "고객"의 식별과 "서비스"이용을 위하여 "고객"이 정하고 "회사"가 승인하는 문자와 숫자의 조합 또는 고객의 이메일 주소를 의미합니다.</p>
                                <p class="pl-10">④ "비밀번호"라 함은 "고객"이 설정한 "아이디(ID)"와 일치되는 고객임을 확인하고 비밀보호를 위해 고객 자신이 정한 문자 또는 숫자의 조합을 의미합니다.</p>
                                <p class="pl-10">⑤ "크레딧"이라 함은 "회사"가 회사의 정책, 프로모션에 따라 "고객"에게 부여하는 사용권으로, 부여된 크레딧 만큼 상품을 무료로 이용할 수 있는 것을 의미합니다.</p>
                                <p class="pl-10">⑥ "고객의 정보"라 함은 "고객"이 "회사"의 "서비스"에 저장하는 정보 (국가정보화기본법 제3조 제1호에 따른 정보, 개인인 경우에는 개인정보와 신용정보를 포함합니다.)로써 "고객"이 소유 또는 관리하는 정보를 의미합니다.</p>
                                <p class="pl-10">⑦ "영업일"이라 함은 대한민국 내 위치한 시중은행이 실제 영업하는 날을 의미합니다.</p>
                                <p class="pl-10">⑧ "사용시간"이라 함은 고객의 사용시간이 아닌 "컨테이너 생성"부터 "컨테이너 반납"까지의 시간을 의미합니다.</p>
                                <p class="pl-10">⑨ "가상머신(VM)"이라 함은 컴퓨팅 자원을 추상화 하여, 이를 하나 또는 다수의 가상 시스템으로 사용할 수 있게 하는 것을 의미합니다.</p>
                                <p class="pl-10">⑩ "컨테이너"란 격리된 가상공간에서 소프트웨어 프로세스만 동작하여 사용하게 하는 기술을 의미합니다.</p>

                                <p>제3조 (약관의 개시와 수정)</p>
                                <p class="pl-10">① 약관은 회사의 서비스 웹사이트(http://www.n3ncloud.co.kr/cheetah)에서 확인 가능합니다. 약관은 고객이 회사의 서비스 웹사이트에 접속 또는 이용할 때 그리고 서비스 계약 성립에 따라 제공되는 서비스에 적용됩니다. 고객이 회사 서비스 웹사이트에 접속 또는 이용하기 위해서는 약관에 동의해야 합니다.</p>
                                <p class="pl-10">② 회사는 "약관의 규제에 관한 법률", "정보통신망이용촉진 및 정보보호 등에 관한 법률", "클라우드 컴퓨팅 발전 및 이용자 보호에 관한 법률" 등 관련법을 위배하지 않는 범위 내에서 본 약관을 개정할 수 있습니다.</p>
                                <p class="pl-10">③ 회사는 회사의 서비스 웹사이트 내 수정 약관의 게시 등 합리적인 방법을 통해 약관을 수정할 수 있습니다. 이 때 회사는 약관 수정 사항의 효력이 발생하기 최소 7일 전에 효력 발생일과 자세한 내용을 명시하여 회사 서비스 웹사이트를 통해 이를 공지합니다. 단, 수정 사항이 고객의 권리 및 의무와 관련해 불리하게 작용하는 경우 회사는 본 약관에 명시된 바에 따라 효력 발생일 최소 30일 이전에 해당 고객에게 이를 통지합니다.</p>
                                <p class="pl-10">④ 회사가 전항에 따라 개정약관을 공지 또는 통지하면서 고객에게 30일 기간 내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 명확하게 공지 또는 통지하였음에도 고객이 명시적으로 거부의 의사표시를 하지 아니한 경우, 고객이 개정약관에 동의한 것으로 봅니다.</p>
                                <p class="pl-10">⑤ 고객이 개정약관의 적용에 동의하지 않는 경우 회사 또는 고객의 이용계약을 해지할 수 있습니다. 이 경우 회사는 고객에게 서면, 전자우편 또는 이에 준하는 방법으로 해지 사유, 해지일, 환급 비용을 통지합니다.</p>

                                <p>제4조 (약관에 명시되지 않은 사항)</p>
                                <p class="pl-10">① 본 약관에서 정하지 아니한 사항은 준거법, 규정, 상관습 및 서비스 웹사이트 내 개별서비스 운영정책(해당 시)에 따릅니다. 더불어, 회사는 각각의 개별서비스에 대한 별도 운영정책을 실시할 수 있습니다.</p>
                                <p class="pl-10">② 회사는 개별서비스에 적용될 사항을 정하여 개별 약관으로 운영할 수 있습니다. 개별 약관의 내용이 본 약관과 상충할 경우 별도로 정한 바가 없다면 개별 약관이 우선 적용됩니다.</p>
                                <p class="pl-10">③ 개별 약관에 규정이 없는 경우 본 약관에 따릅니다.</p>

                                <p>제2장 서비스 이용</p>
                                <p>제5조 (서비스 이용의 신청)</p>
                                <p class="pl-10">① 서비스 이용 신청자(이하 "신청인")가 약관에 동의한 후 서비스 이용을 신청하고, 회사가 이에 승인을 함으로써 서비스 이용계약(이하 "서비스계약")이 성립됩니다.</p>
                                <p class="pl-10">② 서비스 이용 신청 시, 신청인은 실명과 실제 정보를 제공해야 합니다. 신청인이 불법적으로 가명을 사용하거나 거짓정보를 제공한 경우에는 약관에서 정한 권리를 누리거나 주장할 수 없으며, 회사는 서비스 계약을 해지할 수 있습니다.</p>
                                <p class="pl-10">③ 신청인이 서비스 신청 시, 제공한 개인정보는 준거법 및 규정, 회사의 개인정보보호 정책에 따라 보호됩니다.</p>
                                <p class="pl-10">④ 신청인이 민법상 미성년자인 경우 법정대리인(보호자)의 동의가 있어도 서비스 이용이 불가하며, 회사는 미성년자의 서비스 신청을 거절할 수 있습니다.</p>

                                <p>제6조 (서비스 계약의 성립)</p>
                                <p class="pl-10">① 신청인이 상기 제5조에서 명시한 정보를 성실하고 정확하게 작성화면 회사는 특별한 사유가 없는 한 신청을 승인합니다.</p>
                                <p class="pl-10">② 신청을 접수한 이후 다음과 같은 사항에 해당하는 경우, 회사는 서비스 이용 신청 승인을 거부하거나 연기할 수 있으며 또는 서비스 계약을 해지할 수 있습니다.</p>

                                    <p class="pl-20">1. 신청인이 실명을 사용하지 않았거나 타인의 명의를 이용한 경우</p>
                                    <p class="pl-20">2. 신청인이 거짓 정보를 제공하거나 회사가 요구하는 정보를 제출하지 않은 경우</p>
                                    <p class="pl-20">3. 신청인이 법률 위반 또는 불법 행위 등 부정한 용도로 서비스를 이용하려 하는 경우</p>
                                    <p class="pl-20">4. 신청인의 귀책 사유로 인해 신청의 승인이 불가하거나, 신청이 회사의 정책에 위반하는 경우</p>
                                    <p class="pl-20">5. 신청인이 서비스 이용요금을 체불하거나 부적절한 서비스 이용 내역이 있는 경우</p>
                                    <p class="pl-20">6. 그 밖에 제1호에서 제5호까지에 준하는 사유로써, 승낙하는 것이 상당히 부적절하다고 판단되는 경우</p>

                                <p class="pl-10">③ 회사가 서비스 이용 신청을 거부하거나 연기할 것을 결정한 경우 신청인에게 이를 통지합니다.</p>

                                <p>제7조 (고객에 대한 통지)</p>
                                <p class="pl-10">① 회사가 고객에게 통지해야 하는 경우, 회사는 약관에서 별도로 명시하지 않는 한 서비스 이용 신청 시 고객이 등록한 이메일 주소를 이용하여 통지합니다.</p>
                                <p class="pl-10">② 고객 전체에 통지해야 하는 경우, 회사는 상기 제1항에서 명시한 방식 대신 서비스 웹사이트에 7일 이상 공지함으로써 통지를 대신할 수 있습니다. 단 고객의 권리 및 의무와 관련해 불리한 변경 사항을 통지하는 경우에는 본 조항이 적용되지 않습니다.</p>
                                <p class="pl-10">③ 고객은 회사의 통지 사항을 수신할 수 있도록 연락처 정보 (이메일 주소, 휴대폰 번호, 유선 전화번호 등)를 항상 최신 상태로 유지할 의무가 있습니다. 연락처 정보가 업데이트 되어 있지 않아 고객에게 발생하는 불이익에 대해 회사는 어떠한 책임도 지지 않습니다.</p>

                                <p>제8조 (개별서비스의 유형 및 변경)</p>
                                <p class="pl-10">① 회사는 개별서비스의 종류, 세부 사항 및 가격 뿐만 아니라 개별서비스의 이용약관, 운영 규칙 등을 포함한 세부 사항을 서비스 웹사이트에 게시합니다. 고객은 서비스 웹사이트에 게재된 세부사항을 충분히 숙지하고 관련 정보를 바탕으로 서비스를 신청해야 합니다.</p>
                                <p class="pl-10">② 서비스 웹사이트 상에 새로운 정보를 게재하거나 제7조에 따라 고객에게 통지하는 경우에 한해, 회사는 개별서비스의 형태 또는 가격을 추가하거나 변경할 수 있습니다. 고객은 변경사항이 고객의 권리 및 의무에 불리하게 작용할 수 있는 경우 제7조에 명시된 조건에 따라 이를 통지 받으며, 제3조 제5항에 명시된 권리를 보유합니다.</p>
                                <p class="pl-10">③ 서비스가 종료되는 경우 회사는 서비스가 종료되기 60일 이전에 만료 또는 종료 사실을 통지합니다.</p>

                                <p>제9조 (서비스 제공)</p>
                                <p class="pl-10">① 원칙적으로 회사는 하루 24시간, 주 7일의 서비스를 제공합니다. 단, 설비의 점검 등 회사가 필요한 경우 또는 설비의 장애, 서비스 이용의 폭주 등 불가항력의 상황으로 인하여 서비스 이용에 지장이 있는 경우 예외적으로 서비스 이용의 전부 또는 일부를 제한할 수 있습니다.</p>
                                <p class="pl-10">② 서비스 제공에 필수적인 경우 회사는 정기점검을 실시할 수 있고 그 일정은 서비스 웹사이트에 공지한 바에 따릅니다.</p>
                                <p class="pl-10">③ 회사는 개인정보가 무단으로 공개 또는 유출될 위험이 있는 경우, 서비스 이용의 전부 또는 일부를 제한할 수 있습니다.</p>

                                <p>제10조 (고객 계정 관리)</p>
                                <p class="pl-10">① 고객은 자신의 ID 및 비밀번호를 관리하고 제3자가 이용하지 못하도록 방지할 책임이 있습니다.</p>
                                <p class="pl-10">② 고객은 자신의 ID 및 비밀번호가 도용된 사실 또는 제3자가 이용한 사실을 알게 된 경우, 해당 사실을 회사에 즉시 알리고 회사의 가이드라인에 따라야 합니다.</p>
                                <p class="pl-10">③ 본 조의 의무를 위반하여 발생하는 모든 책임은 고객에게 있습니다. 고객이 본 조의 의무를 위반하거나 회사 지침 또는 가이드라인을 따르지 않아 발생하는 불이익에 대하여 회사는 책임을 지지 않습니다.</p>
                                <p class="pl-10">④ 회사는 개별 고객이 회사의 정책에 따라 보유할 수 있는 계정의 수를 제한할 수 있습니다.</p>

                                <p>제11조 (고객 개인정보의 변경)</p>
                                <p class="pl-10">① 고객은 서비스 웹사이트의 개인정보 관리 페이지에서 언제든 개인정보를 확인하고 수정할 수 있습니다. 그러나, 기업 고객의 이름, 개인 고객의 실명, 사업자 등록번호 또는 고유 ID 번호 등을 포함하되 이에 한정되지 않는 서비스 관리 상의 필수 정보는 임의 수정이 불가합니다. 단, 기업고객의 이름, 개인 고객의 실명이 변경된 경우, 회사가 요청하는 서류를 제공함으로써 수정이 가능합니다.</p>
                                <p class="pl-10">② 서비스 이용 신청이 제출된 이후 고객 정보가 바뀌면 고객은 서비스 웹 상에서 정보를 수정하고 이메일 또는 기타 방법을 통해 이를 회사에 알려야 합니다.</p>
                                <p class="pl-10">③ 고객이 회사에 제공한 개인정보가 정확하지 않거나 제 2 항의 변경사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다.</p>

                                <p>제12조 (양도 및 관련 고객 정보 변경)</p>
                                <p class="pl-10">① 어떠한 고객도 임의로 서비스 계약 상의 권리 및 의무 또는 본 계약에서 이용하는 기타 권리를 타인에게 이전하거나 양도, 담보설정 등으로 처분할 수 없습니다.</p>
                                <p class="pl-10">② 고객에게 상속, 합병, 분할의 사유가 발생하여 고객이 아닌 제3자 (이하 "양수인")가 고객이 회사와 맺은 서비스 계약에 대한 법적 지위를 승계하는 경우 고객 및 양수인은 즉시 회사에 지위승계를 입증할 수 있는 서류를 첨부하여 회사가 지정한 방법과 절차에 따라 통지하여야 합니다.</p>
                                <p class="pl-10">③ 상기 제2항에 따른 고객 정보 변경의 경우, 양수인은 승계 이전에 약관 및 서비스 계약의 조건들을 완전히 이행할 책임이 있습니다. 승계와 관련하여 문제가 발생하는 경우, 고객과 양수인이 연대하여 책임을 집니다.</p>

                                <p>제13조 (회사에 의한 서비스 이용의 정지 또는 종료)</p>
                                <p class="pl-10">① 회사는 다음 각 호의 사유에 해당하는 경우 사전 통지 없이 고객의 서비스 이용을 정지할 수 있습니다.</p>

                                    <p class="pl-20">1. 고객이 요금을 납부일까지 납입하지 않은 경우</p>
                                    <p class="pl-20">2. 안정된 서비스 운용을 저해할 수 있는 다량의 정보 전송, 광고성 정보를 전송 또는 매개하는 행위를 하거나 이러한 행위가 발생하는 경우</p>
                                    <p class="pl-20">3. 고객 서버에서 실행중인 프로그램으로 인해 다른 고객 시스템의 운영에 피해가 발생하거나, 회사의 서비스 운영 또는 장애가 발생한 경우 또는 그러한 피해 내지 지장, 장애가 발생한 경우 또는 그러한 피해 내지 지장, 장애가 발생할 위험이 있는 경우</p>
                                    <p class="pl-20">4. 고객이 서비스를 이용하여 운영중인 시스템과 관련하여 비정상 과다 트래픽이 발생하여 네트워크에 영향을 끼치는 경우</p>
                                    <p class="pl-20">5. 고객이 보안 업데이트를 서버에 적절히 설치하지 않음으로 말미암아 회사의 서비스 운영에 위험요소로 판단되는 경우</p>
                                    <p class="pl-20">6. 고객이 국가적 이익이나 공익에 반하는 목적을 위해 서비스를 이용하는 경우</p>
                                    <p class="pl-20">7. 고객의 서비스 이용이 관련 법령을 위반하거나 공공 윤리나 질서에 반하는 경우</p>
                                    <p class="pl-20">8. 고객의 행위가 타인의 명예를 손상시키거나 불이익을 초래하는 경우</p>
                                    <p class="pl-20">9. 고객이 이용 중인 서버가 바이러스에 감염 또는 해킹되었거나 그러한 것으로 의심되는 경우</p>
                                    <p class="pl-20">10. 서비스를 통해 고객이 처리하는 고객의 정보에 대해 제3자가 권리 침해를 주장하는 등 (이를 포함하되 이에 한정 짓지 않음) 고객의 서비스 이용을 정지시킬 만한 법적 근거가 있는 경우</p>
                                    <p class="pl-20">11. 고객이 회사가 서비스 이용을 위해 정한 조건, 서비스 이용과 관련하여 고지한 제약 또는 제한 사항을 회피하는 방식 (예를 들면, 무료로 서비스를 이용하거나 특가 혜택을 받기 위하여 복수의 회사 계정을 생성하는 등)으로 본 건 서비스에 접근하거나 사용하는 경우</p>
                                    <p class="pl-20">12. 법적 절차에 따라 정부기관이 서비스의 일시적 이용정지를 요청 또는 명령하는 경우</p>
                                    <p class="pl-20">13. 기타 관련 법령이나 회사가 정한 이용약관, 이용 조건에 위배되는 경우</p>

                                <p class="pl-10">② 상기 제1항에 따른 사유로 인해 고객의 서비스 이용을 정지시키는 경우, 회사는 해당 고객에게 정지 사유, 이용 정지 기간 및 공식적인 이의 제기 수단을 통지해야 합니다. 회사는 제1항과 관련한 사유가 제거되거나 더 이상 유효하지 않은 경우 지체없이 고객의 서비스 이용 권리를 회복시킵니다.</p>
                                <p class="pl-10">③ 이용정지 사유가 계속해서 존재하는 경우 회사는 해당 서비스 계약을 해지할 수 있습니다. 이 경우 회사는 제7조에 명시된 방법에 따라 고객에게 통지합니다.</p>
                                <p class="pl-10">④ 회사는 본 조에서 기술된 사유로 인해 서비스가 정지된 기간동안 발생한 요금을 청구할 수 있습니다.</p>

                                <p>제14조 (서비스 중단)</p>
                                <p class="pl-10">① 다음에 해당하는 경우 회사는 서비스 제공을 중단할 수 있습니다.</p>

                                    <p class="pl-20">1. 서비스 제공과 관련된 회사와 제3자간의 계약의 종료/해지, 설비 수리 및 기타 유지보수 작업 등 불가피한 사유가 발생한 경우</p>
                                    <p class="pl-20">2. 국가적 비상사태, 설비 결함 또는 서비스 이용 급증 등으로 정상적인 서비스 운영에 장애가 발생할 위험이 있는 경우</p>
                                    <p class="pl-20">3. 천재지변 등 불가피한 사유로 인해 회사가 실질적으로 안정적인 서비스를 제공할 수 없는 경우</p>
                                    <p class="pl-20">4. 전기통신 서비스 제공업체 (전기통신사업법에 명시)가 통신 서비스를 중단한 경우</p>

                                <p class="pl-10">② 회사는 상기 제1항 제1호에 명시된 사항에 해당하는 경우 사전에 고객이 지정한 통지 방법을 이용해 또는 서비스 접속화면이나 서비스 웹사이트 상에 게재함으로써 서비스 중단을 공지합니다. 단, 회사가 통제할 수 없는 사유로 인한 서비스의 중단 (회사의 고의, 과실이 없는 설비 장애, 시스템 장애 등)으로 인하여 사전 통지가 불가능한 경우에는 그러하지 아니합니다.</p>
                                <p class="pl-10">③ 회사는 상기 제1항 제2호, 제3호, 제4호에 명시된 사항에 대해서는 사전 통지 없이 해당 서비스를 일시 중단할 수 있습니다.</p>

                                <p>제15조 (고객에 의한 서비스의 중지 또는 해지)</p>
                                <p class="pl-10">① 고객이 서비스 계약을 중지하거나 해지하기 원하는 경우, 서비스 웹사이트에 게시한 절차와 방법을 통해 회사에게 이를 통지해야 합니다. 회사는 정상적인 조건 하에서 고객이 요청한 날짜에 중지 일정에 따라 서비스를 중지시키거나 서비스 계약을 종료합니다. 그러나 고객이 계약 해지를 요청한 날 납부해야 할 이용 요금이 남아 있다면, 해당 고객이 이용요금을 납부 완료한 후에 해지절차를 진행할 수 있습니다.</p>
                                <p class="pl-10">② 서비스 이용 기간 중에 고객이 잠정적으로 서비스 계약을 중지하고자 하는 경우, 허용 가능한 중지 기간, 중지 기간 중 이용요금, 중지 조건, 그리고 중지의 효력 등의 문제는 서비스 웹사이트에 게시된 세부 사항에 따릅니다.</p>
                                <p class="pl-10">③ 고객이 상기 제2항에 명시된 서비스 이용 중지 사유의 일부에 해당하여 서비스 이용을 중지하는 경우, 서비스는 한 번에 1개월까지, 12 개월 동안 누적 2개월까지 중지될 수 있습니다. 고객이 서비스 중지 기간이 경과한 경우, 회사는 고객의 별도 요청이 없는 한, 서비스의 사용이 재개된 것으로 판단하고 서비스에 대한 요금을 청구합니다. 이 경우, VM 또는 컨테이너는 반납하여야 하며, 사용할 수 없는 상태가 됩니다. Internal Storage의 데이터는 반납 즉시 삭제되기 때문에 반납 전에 고객 스스로 백업하지 않아 발생하는 피해에 대해서 회사는 책임을 지지 않습니다. 반납된 자원의 데이터에 대해서 "회사"는 백업 및 복구의 의무가 없습니다. 외장 스토리지에 저장된 고객 데이터는 사용 재개되는 시점까지 저장이 가능하나 그 기간은 최대 1개월을 넘지 않습니다. 고객이 요청한 중지 기간 동안 발생하는 이용 요금은 스토리지 사용량에 따라 회사가 결정하여 중지 시점 이전에 통지합니다.</p>
                                <p class="pl-10">④ 고객은 서비스 이용 기간 동안 사용해온 서버에 저장된 데이터를 서비스 계약 해지 이전에 직접 백업해야 합니다. 회사는 서비스 계약 해지와 동시에 내장 스토리지에 저장된 데이터는 즉시 삭제하며, 외장 스토리지에 저장된 데이터에 대해서 최대 1개월 간의 백업가능 기간을 두고 있으나, 손상된 고객 데이터에 대해서는 책임지지 않습니다. 또한, 계약 해지 이후 1개월 이전에 삭제한 데이터에 대해서 회사는 책임지지 않습니다. 삭제된 데이터는 어떠한 이유로든 복구되지 않습니다.</p>

                                <p>제16조 (회사의 서비스 이용계약의 직권 해지)</p>
                                <p class="pl-10">① 다음에 해당하는 경우, 회사는 고객과 추가 협의 없이 고유 재량으로 서비스 계약을 해지할 수 있습니다.</p>

                                    <p class="pl-20">1. 고객이 서비스 계약에 명시된 기간 내 미납 이용요금과 관련하여 적절한 조치를 취하지 않는 경우</p>
                                    <p class="pl-20">2. 서비스 이용 신청서에 기입한 정보가 거짓으로 판명되는 경우</p>
                                    <p class="pl-20">3. 고객이 회사의 서비스 운영을 고의적으로 방해하여 회사에 손실을 입히는 경우</p>
                                    <p class="pl-20">4. 고객이 회사의 서비스를 가상화폐 채굴 용도로 이용하는 경우</p>
                                    <p class="pl-20">5. 제26조 (고객의 의무)에서 정한 고객의 의무를 위반하고 있으며, 회사의 해소 요구에 대하여 상당한 기간동안 적절한 조치를 취하지 않고 있는 경우</p>
                                    <p class="pl-20">6. 제13조 (이용의 정지)에 대한 회사의 해소 요구에 대하여 상당한 기간 동안 적절한 조치를 취하지 않고 있는 경우</p>
                                    <p class="pl-20">7. 고객의 서비스 이용 목적 및 방법이 국내 및 국제법을 위반하여 정부기관이 적법한 절차를 통해 해당 서비스 종료를 요청하는 경우</p>
                                    <p class="pl-20">8. '개인정보 유효 기간제'에 따라 1년간 서비스를 이용하지 않은 "고객"의 개인정보 보호를 위하여 해당 정보의 삭제가 필요한 경우</p>

                                <p class="pl-10">② 상기 제1항 제1호, 제2호, 제4호 또는 제5호의 경우, 회사는 고객에게 명시된 기간 내 문제 해결을 요청할 수 있습니다. 그럼에도 불구하고 고객이 문제 해결에 필요한 조치를 취하지 않는 경우 회사는 서비스 계약을 종료할 수 있습니다.</p>
                                <p class="pl-10">③ "서비스 계약" 후 1년간 이용내역이 없는 고객에 대한 사전통지는 제7조에 정한 방식으로 진행합니다.</p>

                                <p>제17조 (스팸 메일 발신자에 대한 이용 제한)</p>
                                <p class="pl-10">① 이용 고객이 스팸메일 발송 (용어의 목적상, 메일 수신을 거부하는 수신인의 분명한 의사에 반하여 일방적으로 전송 또는 게시함으로써 수익을 창출하고자 하는 광고성 정보를 "스팸"으로 분류합니다.)과 관련하여 다음에 해당하는 경우 회사는 서비스를 제한하거나 서비스 계약을 해지할 수 있습니다.</p>

                                    <p class="pl-20">1. 한국방송통신위원회 또는 한국인터넷진흥원이 고객의 스팸발송 행위를 감지하여 이용 중단을 요청하는 경우</p>
                                    <p class="pl-20">2. 고객이 대량 스팸을 발송하고 서비스 시스템 장애를 유발한 경우, 또는 이 같은 장애가 발생할 소지가 있는 경우</p>
                                    <p class="pl-20">3. 스팸 수신인이 자신의 주소 삭제를 요청했음에도 스팸을 계속 발송하는 경우</p>

                                <p class="pl-10">② 회사가 스팸 불만 접수에 대한 조치와 관련하여 요청을 했음에도 불구하고 고객이 요청에 응하지 않을 경우, 수신인의 분명한 거부 의사에 반하여 일방적으로 상업적 목적의 광고성 정보를 발송 또는 게시한 행위에 대하여 고객은 민형사상의 법적 책임을 지게 됩니다.</p>

                                <p>제3장 이용요금 및 관리</p>
                                <p>제18조 (서비스 이용요금)</p>
                                <p class="pl-10">① 회사는 이용요금 및 그 변경사항을 서비스 웹사이트 상에 게시합니다.</p>
                                <p class="pl-10">② 서비스는 종량제 서비스로 제공됩니다.</p>
                                <p class="pl-10">③ 특별한 사유가 있지 않는 한 서비스 계약 기간 동안 이용요금이 변경되더라도 변경된 이용요금은 서비스 계약 기간 전체에 걸쳐 소급 적용되지 않습니다.</p>

                                <p>제19조 (서비스 이용 요금 산정 및 정산)</p>
                                <p class="pl-10">① 서비스 이용요금은 매월 1일부터 말일까지 사용한 양으로 산정되어 익월 1일에 청구됩니다.</p>
                                <p class="pl-10">② 카드결제는 매월 2일 (또는 신용카드사 결제일)에 전월 요금에 대하여 결제가 진행됩니다.</p>
                                <p class="pl-10">③ 월 중간에 서비스 이용이 개시되는 경우 개시일부터 개시일이 속한 해당 월의 말일까지의 서비스 이용요금은 일할 계산됩니다.</p>

                                <p>제20조 (해지 수수료)</p>
                                <p class="pl-10">① 서비스 계약이 제13조 제3항, 제15조 또는 제16조, 또는 기타 고객의 사유로 해지되는 경우, 고객은 해지 수수료를 회사에 납부해야 합니다. 해지 수수료는 다음과 같이 산정됩니다.</p>
                                    <p class="pl-20">1. 합의한 계약 기간 내에 해지하는 경우, 해지수수료
                                        = [(약정 월 이용요금) X 12 /365] X [약정 잔존 일수]</p>
                                    <p class="pl-20">2. 합의한 계약 기간 내에 해지하고 무료 사용 할인을 받은 경우
                                        = [(약정 월 이용요금) X 12 /365] X [약정 잔존 일수] + [무료사용 개월 수 X 약정 월 이용요금]</p>
                                    <p class="pl-20">3. 합의한 계약 기간 종료 1개월 이내부터는 해지수수료 납부 안함</p>
                                <p class="pl-10">② 다음에 해당하는 경우, 고객은 전항의 해지 수수료를 납부하지 않고 서비스 계약을 해지 할 수 있다.</p>
                                    <p class="pl-20">1. 회사의 귀책사유로 인해 누적 서비스 장애가 한달 동안 72시간을 초과한 경우</p>
                                    <p class="pl-20">2. 회사의 귀책사유로 인해 1시간 이상 지속되는 서비스 장애가 한달 동안 5회 이상 발생한 경우</p>


                                <p>제21조 (이용요금 납입의 책임)</p>
                                <p class="pl-10">① 회사는 이용요금 발생 해당 월의 다음달에 고객에게 청구서를 발행하며, 고객은 회사가 사전에 명시한 지급기일 당일 또는 그 이전에 청구된 금액을 납부해야 합니다.</p>
                                <p class="pl-10">② 서비스 이용에 대한 이용요금 납입수단은 다음과 같습니다.</p>
                                    <p class="pl-20">1. 회원 가입 유형이 대한민국 사업자 또는 공공기관인 경우 : 신용카드, 계좌이체 중 선택</p>
                                    <p class="pl-20">2. 제1호 외의 회원 가입 유형인 경우 : 신용카드만 허용</p>
                                <p class="pl-10">③ 회사는 고객이 이용요금 지급기일 최소 1영업일 전에 서비스 이용요금 청구서를 받을 수 있도록 사전에 발송합니다.</p>
                                <p class="pl-10">④ 고객이 지급 기일 내에 이용요금을 납부하지 않는 경우, 회사는 이메일을 통해 미납 이용요금에 대한 통지를 합니다. 미납 이용요금에 대해서는 가산금 (매월 미납금액의 2%)이 추가되어 익월요금에 합산되어 청구됩니다. 미납요금을 익월 청구일 이전에 납부해도 미납요금에 대한 가산금은 일할 계산 되지 않습니다.</p>
                                <p class="pl-10">⑤ 고객이 미납 월의 익익월 5일까지 이용요금을 납부하지 않는 경우, 회사는 약관에 명시되고 서비스 웹사이트에 게시된 절차와 방법에 따라 서비스를 해지할 수 있습니다.</p>

                                <p>제22조 (이용요금 납부 및 청구)</p>
                                <p class="pl-10">① 고객은 서비스 이용요금을 납입할 책임이 있습니다. 단, 고객이 납입주체를 사용고객과 다르게 할 경우, 미납이 발생해도 납입에 대한 책임은 고객에게 있습니다.</p>

                                <p>제23조 (청구서에 대한 이의제기)</p>
                                <p class="pl-10">① 고객이 청구된 이용요금에 동의하지 않는 경우, 고객은 서면 또는 이메일을 통해 회사에 대해 공식적으로 이의를 제기할 수 있습니다.</p>
                                <p class="pl-10">② 회사는 제1항의 공식 이의제기 문서를 접수한 이후 7영업일 이내에 검토하여 고객에게 그 결과를 알립니다. 상기 언급한 이의제기와 관련한 결과를 정해진 기간 내에 고객에게 통지하지 못하는 경우, 회사는 고객에게 지연 사유를 통지해야 합니다.</p>

                                <p>제24조 (이용요금의 환불)</p>
                                <p class="pl-10">① 회사는 고객이 납부한 이용요금에 과오납이 있는 경우 과오납된 요금액을 고객의 익월 이용요금에서 상계할 수 있습니다.</p>
                                <p class="pl-10">② 제1항의 상계 이전에 고객이 과오납 금액에 대하여 환불을 요구하는 경우 회사는 고객에게 해당금액을 반환합니다.</p>


                                <p>제4장 계약당사자의 의무</p>
                                <p>제25조 (회사의 의무)</p>
                                    <p class="pl-10">① 회사는 안정적이고 지속적인 방식으로 고객이 요청하는 서비스를 제공하기 위해 노력합니다.</p>
                                    <p class="pl-10">② 서비스의 정상 운영에 지장을 주는 장애가 발생하는 경우, 회사는 실행할 수 있는 최대한 빨리 정비 또는 복구하고 서비스를 안정적으로 운영하는데 최선을 다합니다.</p>
                                    <p class="pl-10">③ 회사는 고객이 제기한 의견이나 불만을 공정하게 즉시 또는 기간 내에 처리하며, 회사가 정한 절차에 따릅니다.</p>
                                    <p class="pl-10">④ 서비스를 원활히 운영하기 위하여 회사는 서비스 웹사이트에 게시된 개인정보보호정책에 따라 고객 개인정보를 수집하고 보관할 수 있습니다. 회사는 고객의 동의 없이 고객의 개인정보를 제3자에게 제공하지 않습니다. 단, 관련법 및 규정에 따라 조사의 목적 등으로 법원 또는 기타 사법기관이 발행하는 영장 등을 통해 고객 개인정보 제공을 요청 받을 경우, 예외로 할 수 있습니다.</p>
                                    <p class="pl-10">⑤ 회사는 이용약관에 벗어난 목적으로 서비스와 관련한 고객의 정보에 접근하거나 데이터를 처리하지 않습니다. 다만, 장애 처리, 고객의 정보 보호 등 원활한 서비스 제공을 위하여 접근이 필요한 경우, 고객의 정보에 접근, 내용을 파악할 수 있습니다.</p>
                                    <p class="pl-10">⑥ 회사는 제5항에 따라 파악한 고객의 정보에 대하여 원활한 서비스 제공을 위하여 삭제, 변경 등 데이터 처리가 필요한 경우, 고객의 동의를 받습니다. 다만, 고객의 동의가 없거나 동의를 하지 않더라도 회사의 서비스 운영 및 다른 고객의 서비스 이용에 방해가 되는 경우 회사는 해당 고객의 서비스 이용을 정지할 수 있으며, 그 절차는 제13조 제2항 이하에서 정한 바에 따릅니다.</p>

                                <p>제26조 (고객의 의무)</p>
                                    <p class="pl-10">① 고객은 명시된 지불기일 또는 그 이전에 이용요금을 납부해야 합니다.</p>
                                    <p class="pl-10">② 고객은 회사의 서비스 운영 또는 다른 고객의 서비스 이용을 방해하거나 제3자의 권리를 침해해서는 안됩니다.</p>
                                    <p class="pl-10">③ 고객은 서비스를 통해 운영하는 사이트 또는 Q&A 등을 음란 정보, 불법 정보, 유해정보, 불법도박정보 등을 유통, 게재, 링크하기 위한 목적으로 사용할 수 없으며, 법률상의 불법적인 행위를 할 수 없습니다. 또한 고객이 서비스를 이용하여 취급하는 서비스 및 정보 등 고객의 정보와 관련한 소유 및 관리 등 일체의 책임은 고객 본인에게 있습니다.</p>
                                    <p class="pl-10">④ 서비스를 이용하여 제3자의 개인정보를 처리, 관리, 이용 또는 이에 접속하는 경우, 고객은 관련법 및 규정을 준수하여 해당 개인정보를 관리하고 보호해야 하며, 회사는 이와 같은 행위로 인해 발생하는 제3자의 정보유출 등을 포함하되 이에 한정되지 않는 결과, 손실 또는 손해에 대하여 책임을 지지 않습니다.</p>
                                    <p class="pl-10">⑤ 고객은 서비스의 유지를 위한 보안 업데이트, OS 업데이트 정책 등에 대해 회사의 정책에 따라야 합니다.</p>
                                    <p class="pl-10">⑥ 고객이 서비스를 통해 사용하는 모든 데이터에 대한 저작권 등의 법적 문제 발생 시, 회사는 책임지지 않습니다.</p>
                                    <p class="pl-10">⑦ 고객이 서비스를 통해 불법 소프트웨어 또는 스팸메일을 배포 또는 발송하여 다른 고객 또는 제3자에게 피해를 준 경우, 회사는 이에 대한 책임이 없으며 해당 고객은 회사를 면책 시키고, 의무, 손실, 손해배상, 회사를 상대로 제기되는 소송 등으로부터 회사가 피해를 입지 않도록 해야 합니다.</p>
                                    <p class="pl-10">⑧ 고객은 서비스, 여타 컴퓨터 코드, 파일 또는 프로그램의 안정적인 운영을 방해하거나 파괴시키는 소프트웨어 바이러스를 포함하는 데이터를 게시 또는 전송해서는 안됩니다.</p>
                                    <p class="pl-10">⑨ 고객은 준거법, 약관, 회사의 서비스 웹사이트와 지침에 명시되어 있는 가이드라인과 예방조치 등을 완벽하게 숙지하고 체득하여 준수할 의무가 있습니다. 고객은 회사의 업무에 방해되는 행위를 하여서는 안됩니다.</p>
                                    <p class="pl-10">⑩ 고객은 서비스를 이용하면서 취급하는 데이터를 백업하고 저장할 의무가 있으며 데이터 관리 소홀로 인한 손실이 발생한 경우 이에 대한 책임을 져야 합니다. 단, 회사가 제공하는 별도의 백업서비스를 신청하고 이용하는 고객의 경우 백업 서비스 조항에 명시된 범위 내에서 회사가 데이터 관리 소홀에 대한 책임을 집니다.</p>
                                    <p class="pl-10">⑪ 고객은 회사의 동의없이 제3자에게 서비스를 재판매 혹은 재임대 할 수 없습니다.</p>


                                <p>제5장 손해배상</p>
                                <p>제27조 (회사의 손해배상)</p>
                                <p class="pl-10">① 회사의 과실로 서비스가 제공되어지지 않아 고객이 서비스 이용과 관련해 손해를 입은 경우, 고객의 손해배상 청구에 대하여 회사는 다음 기준에 따라 손해를 배상하게 됩니다.</p>
                                    <p class="pl-20">1. 월 가용률 (%) = 100 X [1-(회사의 귀책사유로 인해 서비스를 이용하지 못한 장애시간의 합 (분단위) / 서비스 이용 월 시간 (분단위)]</p>
                                    <p class="pl-20">2. 서비스 장애 시간 : 본 시간은 고객이 회사에 서비스 이용 불가에 대해 통지한 순간을 기점으로 산정합니다. 고객이 서비스 장애 발생 사실을 통지하기 이전에 회사가 알게 된 경우 회사가 이 사실을 알게 된 순간을 기점으로 산정합니다.</p>
                                    <p class="pl-20">3. 월 이용요금 : 할인율이 반영되어 실제 고객이 회사에 납입하는 월 이용요금 중 장애가 발생하여 월 가용률 측정의 대상이 되는 개별 서비스의 요금 부분을 의미합니다.</p>
                                    <div class="pl-20">
                                        <table class="table table-bordered font-size-10 text-center">
                                            <thead>
                                            <tr class="bg-grey-100">
                                                <td>서비스 월 가용률</td>
                                                <td>할인율 적용 손해배상액 (%)</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>99%이상 99.90%미만</td>
                                                <td>월 이용요금의 10%</td>
                                            </tr>
                                            <tr>
                                                <td>95.00%이상 99%미만</td>
                                                <td>월 이용요금의 25%</td>
                                            </tr>
                                            <tr>
                                                <td>95%미만</td>
                                                <td>월 이용요금의 50%</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <p class="pl-10">② 고객은 손해배상 청구 시, 회사에 청구 사유, 청구금액, 그리고 피해 산정의 근거 등을 명시한 청구 서류를 제출해야 합니다. 회사는 배상 금액에서 고객의 월 이용요금을 제할 수 있습니다.</p>
                                <p class="pl-10">③ 본 조항은 회사의 유료 서비스를 이용하는 고객에게만 적용되며, 무료 이용 고객에게 발생한 손해에 대해서는 회사가 책임지지 않습니다.</p>

                                <p>제28조 (고객의 손해배상)</p>
                                <p class="pl-10">① 고객은 다음과 같은 사유로 분쟁이 발생하는 경우 회사, 계열사, 각각에 해당하는 임직원, 대리인, 협력사 및 라이선스 사용 허가권자를 면책 시키고 방어하며, 이들이 피해를 입지 않도록 하는데 동의합니다.</p>
                                    <p class="pl-20">1. 고객이 약관, 준거법 및 규정 위반 또는 침해한 경우</p>
                                    <p class="pl-20">2. 회사가 약관 위반으로 의심되는 것을 조사하거나 약관 위반이 발생한 것으로 판단하여 취하는 조치</p>
                                <p class="pl-10">② 고객이 회사에 대하여 손해를 배상하게 되는 경우 회사는 법률 비용, 경비 그리고 상기 명시한 청구에서 비롯되는 손해배상액을 포함하여 청구합니다.</p>

                                <p>제29조 (법적 책임 제한)</p>
                                <p class="pl-10">① 다른 규정에도 불구하고, 다음에 해당하는 경우 그것이 예측 가능한 상황이라 할지라도 회사는 이와 관련하여 발생하는 어떠한 손실이나 손해에 대하여 책임을 지지 않습니다.</p>
                                    <p class="pl-20">1. 천재지변이나 전쟁 등 불가항력</p>
                                    <p class="pl-20">2. 고객의 고의 (미필적 고의 포함), 부작위 또는 과실</p>
                                    <p class="pl-20">3. 회사 이외의 서비스 제공업체가 제공한 통신 서비스에 대한 장애</p>
                                    <p class="pl-20">4. 회사가 고의 또는 중과실로 서비스를 중단한 경우를 제외하고, 서비스 진단, 정기점검 실행 등 부득이한 사정으로 인해 사전 공지 후 서비스를 중단한 경우</p>
                                    <p class="pl-20">5. 고객의 이용이 서비스 계약에서 정의하는 서비스 범위를 초과하는 경우</p>
                                    <p class="pl-20">6. 제3자의 손해가 고객이 서비스에 게시한 정보의 부정확, 부적법함 등으로 인해 발생한 경우</p>
                                    <p class="pl-20">7. 고객의 시스템 보안관련 내용 미준수로 인하여 침해가 발생한 경우</p>
                                    <p class="pl-20">8. 국가적 비상새태, 전국적 네트워크 장애, 또는 이에 상응하는 불가항력으로 인해 서비스가 중단된 경우</p>
                                    <p class="pl-20">9. 서비스를 이용하는 고객의 사용으로 인해 발생한 사고의 확산을 방지하기 위해 서비스가 중단되는 경우</p>
                                    <p class="pl-20">10. 회사가 관련 법령에 따른 보호조치를 하였음에도 외부로부터의 불법적 침해로 인해 서비스 장애가 발생한 경우</p>
                                    <p class="pl-20">11. 회사 서비스 상에 고객이 임의로 소프트웨어, 어플리케이션 또는 OS에서 장애가 발생한 경우</p>
                                    <p class="pl-20">12. 고객이 무료 서비스를 이용하는 경우</p>
                                <p class="pl-10">② 계약 또는 불법행위 (과실 포함), 기타에서 비롯되는 모든 손해, 손실 및 소송 사유에 대하여 회사가 책임지는 최대 누적 배상 금액은 소송사유의 요인이 되는 상황의 발생일 직전 6개월 내 서비스 이용을 위해 고객이 회사에 납부한 총 합계 금액의 한도 내에서 합니다. 법적 책임제한은 어떠한 종류이든 (본 약관 상의 본 조항 및 기타 조항 포함) 회사와 계열사 그리고 이들의 승계인 및 양수인의 이익에 부합하기 위한 것입니다.</p>



                                <p>제30조 (준거법 및 사법 관할)</p>
                                <p class="pl-10">① 약관은 법률 상충의 원칙 및 고객 소재지와 상관없이 대한민국 법률의 적용을 받습니다.</p>
                                <p class="pl-10">② 고객과 회사는 서울중앙지방법원의 독점적 사법권과 재판관할권에 영구히 동의하며, 이에 대한 사법권, 재판관할권의 불편함에 대한 이의권을 포기합니다. 전항에도 불구하고, 서울중앙지방법원의 판결 및 판시 사항은 고객 또는 회사 소재지의 어느 법원에서나 집행이 가능합니다.</p>

                                <p>제31조 (책임 면제 조항)</p>
                                <p class="pl-10">① 준거법에서 허용하는 최대 한도 내에서 서비스는 "있는 그대로", "유효한" 범위에서 제공되며, 회사는 조건, 품질, 내구성, 수행능력, 정확성, 신뢰성, 상업성 또는 특별 목적에 대한 적합성, 그리고 침해 방지, 또는 원활한 서비스, 오류방지, 유해 요소 방지, 보안 또는 기능이나 데이터의 손해나 손실유발 방지 등을 포함하되 이에 한정 짓지 않는 내용에 대하여 암시적으로나 명시적으로 일체의 보장을 하지 않습니다.</p>
                                <p class="pl-10">② 회사는 준거법에서 허용하는 최대 한도 내에서 서비스가 제공하는 정보의 유효성, 정확성, 신뢰성, 품질, 안정성, 완전성 또는 현재성을 대표 또는 보장하지 않습니다. 일부 관할지에서는 묵시적 보증의 배제나 묵시적 보증의 유효기간 제한을 허용하지 않으므로, 위배제나 고객에게 적용되지 않을 수 있습니다.</p>


                                <p>제32조 (분리 규정)</p>
                                <p class="pl-10">① 만약 어떤 조항이 법원 또는 관할 재판소에 의해 무효 또는 집행 불가하다고 판단되더라도 그 나머지 조항들의 집행 가능성은 이에 영향 받지 않고 여전히 유효하며 강제력을 갖습니다.</p>

                                <p>제33조 (권리 불포기 조항)</p>
                                <p class="pl-10">① 고객의 약관 위반과 관련하여 회사가 권리 실행이나 조치를 취하지 않았다고 하더라도, 이후 결과적으로 또는 유사하게 발생하는 행위에 대해 회사가 약관의 권리 및 해당 권리 실행을 포기하는 것으로 간주되지 않습니다.</p>


                                <p>제34조 (언어)</p>
                                <p class="pl-10">① 본 약관 상 회사가 게시하거나 통지하는 모든 의사교환 수단은 대한민국 국문으로 합니다. 이 경우 회사는 이용자의 편의를 위하여 국문과 함께 영문 번역문을 제공할 수 있습니다. 단, 회사가 본 약관에 대한 영문 번역문을 제공하거나 게시 또는 통지를 함에 있어 영문 번역문을 제공하는 경우, 국문본과 영문 번역문 사이의 불일치 사항에 대해서는 국문본이 우선합니다. 그럼에도 불구하고 고객은 회사에 대한 의사교환 수단으로써 국문 또는 영문을 선택하여 진행할 수 있습니다.</p>





                                <p class="font-weight-bold">치타 머신러닝 플랫폼 서비스 Kubernetes Service 이용 약관</p>

                                <p>제1조 (목적)</p>
                                <p>본 약관은 주식회사 엔쓰리엔클라우드 (이하 "회사")가 제공하는 치타 머신러닝 플랫폼 서비스 (이하 "플랫폼 서비스") 중 Kubernetes 서비스를 이용하고자 하는 고객 (치타 머신러닝 플랫폼 서비스 이용약관에 동의한 회원으로써 치타 머신러닝 플랫폼 서비스에 포함되어 있는 Kubernetes 서비스를 이용하는 자. 이하 "고객")과 회사 간의 권리와 의무 및 기타 필요한 사항을 규정하는데 그 목적이 있습니다.</p>

                                <p>제2조 (용어의 정의)</p>
                                <p>본 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.</p>
                                <p class="pl-10">① Kubernetes 서비스 (이하 "본 서비스"라 합니다)이라 함은 플랫폼 서비스를 이용하는 고객이 회사가 제공하는 시스템을 이용하여 컨테이너를 생성하고 반납하며 고객의 작업을 실행할 수 있도록 지원하는 컨테이너 관리 서비스를 의미하며, 작업자 노드 전체를 포함합니다.</p>
                                <p class="pl-10">② "작업자 노드"라 함은 생성된 컨테이너를 유지 관리하고 Kubernetes 런타임 환경을 제공하는 서버를 의미합니다.</p>
                                <p class="pl-10">③ "시스템 관리 키"라 함은 "회사"가 본 서비스의 유지, 운영관리하고 컨테이너의 생성과 반납에 대한 영역에 접근하여 작업할 수 있도록 하기 위하여 발급된 키를 의미합니다.</p>
                                <p class="pl-10">④ "인증키"라 함은 고객이 컨테이너를 생성 및 반납할 수 있도록 고객에게 제공되는 "키"를 의미합니다.</p>
                                <p class="pl-10">⑤ 본 약관에서 별도로 정의하지 않은 용어는 플랫폼 서비스 이용약관에서 정의한 바에 따릅니다.</p>

                                <p>제3조 (Kubernetes 서비스 이용 계약의 체결 및 효력)</p>
                                <p class="pl-10">① 고객은 플랫폼 서비스 이용약관에 동의 및 이용신청을 하고 회사가 이를 승낙함으로써 본 서비스 이용계약이 성립합니다.</p>
                                <p class="pl-10">② 본 서비스 이용약관에 명시하지 않은 사항은 치타 머신러닝 플랫폼 서비스 이용약관, 관계법령, 상관례 및 홈페이지에 명시된 서비스 안내를 적용합니다.</p>

                                <p>제4조 (권리 및 의무)</p>
                                <p class="pl-10">① 고객은 회사에서 제공하는 메뉴 또는 가이드에 따라 컨테이너 설정을 진행하여야 하며, 이를 위반하여 분쟁이 발생하는 경우, 모든 책임은 고객에게 있습니다.</p>
                                <p class="pl-10">② 고객의 인증키 관리부실이나 조작 부주의로 인하여 오류, 서버 자원 정지 또는 삭제 등의 문제가 발생하는 등 고객의 사정으로 본 서비스의 이용에 장애가 발생할 경우 회사는 장애 발생에 책임을 지지 않습니다.</p>
                                <p class="pl-10">③ 고객이 GPU, OS 등 자원 설정 등을 진행하면 생기는 문제는 회사에 문의하여 가이드라인에 따라 작동하여야 하며, 회사의 가이드라인을 무시하고 진행했을 때 발생한 장애는 회사가 책임지지 않습니다.</p>

                                <!--<p>공지 일자: 2019년 10월 10일</p>-->
                                <!--<p>적용 일자: 2019년 10월 10일</p>-->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light waves-round"
                            data-dismiss="modal" th:text="#{common.button.close}">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">

</th:block>
</body>
</html>