<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.container.title}">컨테이너 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/xterm/xterm.css}" />
    <link rel="stylesheet" th:href="@{/assets/vendor/xterm/fullscreen.css}" />

    <script th:src="@{/assets/vendor/xterm/xterm.js}"></script>
    <script th:src="@{/assets/vendor/xterm/terminado.js}"></script>
    <script th:src="@{/assets/vendor/xterm/fit.js}"></script>
    <script th:src="@{/assets/vendor/xterm/fullscreen.js}"></script>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.container.title}">컨테이너 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.container.title}">컨테이너 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.container.title}">컨테이너 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div id="terminal-container"></div>

            <input type="hidden" id="externalIp" th:value="${externalIp}" />
            <input type="hidden" id="websocketPort" th:value="${websocketPort}" />
        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
    <script th:inline="javascript">
        terminado.apply(Terminal);
        Terminal.applyAddon(fit);
        Terminal.applyAddon(fullscreen);

        var term = new Terminal(),
        socketURL = "ws://" + $('#externalIp').val() + ":" + $('#websocketPort').val() + "/websocket";
        sock = new WebSocket(socketURL);

        sock.addEventListener('open', function () {
            term.terminadoAttach(sock);
        });

        term.open(document.getElementById('terminal-container'));
        term.fit();
    </script>
</th:block>
</body>
</html>