<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.volume.title}">클라우드 자원관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/jquery-labelauty/jquery-labelauty.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/select2/select2.min.css}">
    <style type="text/css">

        .port label {
            min-width: 150px !important;}

    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.volume.title}">클라우드 자원관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.volume.title}">클라우드 자원관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.volume.title}">클라우드 자원관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">


                <form method="post" th:object="${volumeForm}">
                    <input type="hidden" th:field="*{username}" />
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="cloudType" th:text="#{volume.cloudType}">클라우드</label>
                        <div class="input-group col-md-9 p-0">
                            <div class="form-group w-md-160 mr-5 mb-5" th:each="code : ${referenceData.cloudTypeList}">
                                <input type="radio" class="to-labelauty" th:field="*{cloudType}" data-plugin="labelauty" th:errorclass="is-invalid"
                                       th:attr="data-labelauty=${code.codeName}" th:value="${code.codePK.code}"/>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors('*{cloudType}')}" class="invalid-feedback text-right mt-0" th:errors="*{cloudType}">에러 메세지</div>
                    </div>

                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="name" th:text="#{volume.name}">디스크 이름</label>
                        <input type="text" th:field="*{name}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{name}')}" class="invalid-feedback text-right mt-0" th:errors="*{name}">에러 메세지</div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="size" th:text="#{volume.size}">디스크 사이즈</label>
                        <select th:field="*{size}" class="form-control form-control-sm col-md-4" >
                            <option th:each="diskAllocationUnit : ${referenceData.diskAllocationUnits}" th:value="${diskAllocationUnit.codeId}" th:text="${diskAllocationUnit.codeName}"/>
                        </select>
                        <div th:if="${#fields.hasErrors('*{size}')}" class="invalid-feedback text-right mt-0" th:errors="*{size}">에러 메세지</div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="deviceName" th:text="#{volume.deviceName}">device 명</label>
                        <select th:field="*{deviceName}" class="form-control form-control-sm col-md-4" >
                            <option th:each="attachDeviceName : ${referenceData.attachDeviceNames}" th:value="${attachDeviceName.codeId}" th:text="${attachDeviceName.codeName}"/>
                        </select>
                        <div th:if="${#fields.hasErrors('*{deviceName}')}" class="invalid-feedback text-right mt-0" th:errors="*{deviceName}">에러 메세지</div>
                    </div>

                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="description" th:text="#{volume.description}">설명</label>
                        <textarea th:field="*{description}" th:errorclass="is-invalid" class="form-control col-md-9" rows="3"></textarea>
                        <div th:if="${#fields.hasErrors('*{description}')}" class="invalid-feedback text-right mt-0" th:errors="*{description}">에러 메세지</div>
                    </div>


                    <div class="row ml-0 mr-0 mt-5">
                        <div class="col-sm-12 col-md-10 pl-0">
                            <a th:href="@{/management/volume}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                        </div>
                        <div class="col-sm-12 col-md-2 pr-0 text-right">
                            <button type="submit" th:text="#{common.button.create}" name="save" onclick="this.disabled='disabled'; this.form.submit();"  class="btn btn-primary btn-sm waves-effect waves-classic" >생성</button>
                            <a th:href="@{/management/volume}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/jquery-labelauty.js}"></script>
    <script th:src="@{/assets/vendor/jquery-labelauty/jquery-labelauty.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function () {


            // function findZones(poolId) {
            //     $.ajax({
            //         type: 'GET',
            //         url: '/cloud/pool/' + poolId
            //     }).done(function (data, textStatus, jqXHR) {
            //         if (data.status === 'SUCCESS') {
            //
            //             var zoneList = data.data.zoneList;
            //             $("select[name=zoneId] option").remove();
            //             for (var i = 0; i < zoneList.length; i++) {
            //                 var zone = zoneList[i];
            //                 $("select[name=zoneId]").append($('<option>', {
            //                     value: zone.id,
            //                     text: zone.name,
            //                     // selected: selectedChargingMethodCode == chargingMethod.codePK.code
            //                 }));
            //             }
            //         } else {
            //             console.log("fail");
            //         }
            //     }).fail(function (jqXHR) {
            //         console.log("fail");
            //     });
            // }
            //
            // var poolId = $('select[name=poolId]').val();
            // console.log('poolId : ' + poolId);
            // findZones(poolId);
            //
            // $('select[name=poolId]').change(function() {
            //     findZones($(this).val());
            // });


            $('select[name=cloudType]').change(function() {
                findZones($(this).val());
            });





        });
        // ]]>
    </script>
</th:block>

</body>
</html>