<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.volume.title}">클라우드 자원관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/select2/select2.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.volume.title}">볼륨 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.volume.title}">볼륨 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.volume.title}">볼륨 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">


                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>#</td>
                            <td th:text="#{volume.pool}">풀 이름</td>
                            <td th:text="#{volume.name}">볼륨 이름</td>
                            <td th:text="#{volume.nativeState}">볼륨 상태</td>
                            <td><span th:text="#{volume.size}">볼륨 크기</span>(GB)</td>
                            <td th:text="#{volume.createdDate}">생성일자</td>
                        </tr>
                        </thead>
                        <tbody th:if="${volumePage.content.isEmpty()}">
                        <tr>
                            <td colspan="6" class="text-center pt-30 pb-30" th:text="#{volume.list.empty}">등록된 볼륨 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${volumePage.content.isEmpty()}">
                        <tr th:each="volume : ${volumePage.content}">
                            <td th:text="${volumeStat.index + 1}">#</td>
                            <td th:text="${volume.pool.name}"></td>
                            <td th:text="${volume.name}"></td>
                            <td th:text="${volume.nativeState}"></td>
                            <td th:text="${volume.size}"></td>
                            <td th:text="${{volume.createdDate}}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <!--th:if="${#authentication.getPrincipal().username}"-->
                        <!-- TODO 클라우드 권한 있는 사람만... 해야 하는데 -->
                        <a th:href="@{/management/volume/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.create}" >생성</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>