<!DOCTYPE html>
<html class="no-js css-menubar" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="N3N CLOUD">
    <meta name="description" content="N3N CLOUD - Cheetah GPU Cloud">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Cheetah</title>
    <link rel="apple-touch-icon" th:href="@{/assets/images/apple-touch-icon.png}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-extend.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/site.min.css}">

    <!-- Plugins -->
    <link rel="stylesheet" th:href="@{/assets/vendor/animsition/animsition.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/asscrollable/asScrollable.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/switchery/switchery.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/intro-js/introjs.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/slidepanel/slidePanel.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/flag-icon-css/flag-icon.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/toastr/toastr.css}">

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/assets/fonts/material-design/material-design.css}">
    <!--link rel="stylesheet" th:href="@{/assets/fonts/font-awesome/font-awesome.min.css}"-->
    <link rel="stylesheet" th:href="@{/assets/fonts/weather-icons/weather-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/web-icons/web-icons.min.css}">
    <!--link rel="stylesheet" th:href="@{/assets/fonts/brand-icons/brand-icons.min.css}"-->
    <link rel="stylesheet" th:href="@{/assets/fonts/Spoqa/Spoqa.min.css}">

    <!--[if lt IE 9]>
    <script th:src="@{/assets/vendor/html5shiv/html5shiv.min.js}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script th:src="@{/assets/vendor/media-match/media.match.min.js}"></script>
    <script th:src="@{/assets/vendor/respond/respond.min.js}"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130171685-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-130171685-1');
    </script>

    <!-- Scripts -->
    <script th:src="@{/assets/vendor/breakpoints/breakpoints.js}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition page-error layout-full" style="animation-duration: 800ms; opacity: 1;">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="page" layout:fragment="page-content">
    page content is here
</div>

<section layout:replace="~{fragments/site-scripts :: site-scripts}" th:remove="tag">
    this will replace with page-script
</section>

<section layout:fragment="page-script" th:remove="tag">
    <script type="text/javascript">
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;

            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
</section>

</body>
</html>
