<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.group.title}">그룹 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/dropify/dropify.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.group.title}">그룹 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.group.title}">그룹 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.group.title}">내 정보 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${groupForm}" enctype="multipart/form-data">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="groupName" th:text="#{user.groupName}">그룹명</label>
                    <input type="text" th:field="*{groupName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{groupName}')}" class="invalid-feedback text-right mt-0" th:errors="*{groupName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="name" th:text="#{group.type}">그룹구분</label>
                    <th:block th:each="groupType : ${groupTypeList}">
                        <div class="radio-custom radio-primary radio-inline">
                            <input type="radio" th:field="*{groupTypeCode}" class="form-control" th:value="${groupType.codePK.code}">
                            <label class="form-control-label-sm pl-5" for="inputHorizontalMale" th:text="#{'code.GT.' + ${groupType.codePK.code}}">codeName</label>
                        </div>
                    </th:block>
                    <div th:if="${#fields.hasErrors('*{groupTypeCode}')}" class="invalid-feedback text-right mt-0" th:errors="*{groupTypeCode}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="groupName" th:text="#{group.image}">그룹이미지</label>
                    <div class="col-md-9 pl-0">
                        <div>
                            <input type="hidden" th:field="*{groupImageFileSn}" />
                            <p id="uploadGroupImageFile" class="mb-5" th:classappend="*{groupImageFileSn == null ? 'd-block' : 'd-none'}">
                                <input type="file" th:field="*{groupImageFile}" accept="image/gif, image/jpeg, image/png" th:errorclass="is-invalid" />
                            </p>
                            <p id="showGroupImageFile" class="mb-5" th:classappend="*{groupImageFileSn != null ? 'd-block' : 'd-none'}">
                                <img th:src="@{/download/{groupImageFileSn} (groupImageFileSn=*{groupImageFileSn})}" style="width:130px;height:24px;" alt="group_logo">
                                <a href="#" class="btn btn-info btn-xs waves-effect waves-classic ml-5" id="btnDeleteGroupImage"><i class="icon md-delete" aria-hidden="true"></i><span th:text="#{common.button.delete}">삭제</span></a>
                            </p>
                            <div th:if="${#fields.hasErrors('*{groupImageFile}')}" class="invalid-feedback text-right mt-0" th:errors="*{groupImageFile}">에러 메세지</div>
                            <p class="font-size-12"><i class="icon md-info" aria-hidden="true"></i>&nbsp;<span th:text="#{group.image.desc}">그룹이미지 등록 시, 좌측 상단 로고로 사용되며 재 로그인 시 반영됨 (권장 사이즈 : 130 x 24)</span></p>
                        </div>
                    </div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/management/group}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function () {

            $("#btnDeleteGroupImage").click(function() {
                $("input[name=groupImageFileSn]").val("");
                $("#uploadGroupImageFile").addClass('d-block').removeClass('d-none');
                $("#showGroupImageFile").addClass('d-none').removeClass('d-block');

            });

        });
        /* ]]>*/
    </script>
</th:block>

</body>
</html>
