<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.group.title}">그룹 관리</title>

    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.group.title}">그룹 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.group.title}">그룹 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.group.title}">내 정보 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body container-fluid" th:object="${group}">

            <div class="card">
                <div class="card-header white bg-indigo-400 p-30 clearfix">
                    <a class="float-left mr-20" href="javascript:void(0)" th:if="*{groupImageFileSn}">
                        <img th:src="@{/download/{groupImageFileSn} (groupImageFileSn=*{groupImageFileSn})}" style="width:130px;height:24px;" alt="group_logo">
                    </a>
                    <div class="float-left">
                        <div class="font-size-20 mb-15" th:text="*{groupName}">Robin Ahrens</div>

                        <p class="mb-5 text-nowrap"><i class="icon md-city mr-10" aria-hidden="true"></i>
                            <span class="text-break" th:text="#{'code.GT.'+ *{groupTypeCode}}">email</span>
                        </p>
                        <p class="mb-5 text-nowrap"><i class="icon md-key mr-10" aria-hidden="true"></i>
                            <span class="text-break" th:text="*{groupInviteKey}">organizationName</span>
                        </p>
                    </div>
                </div>
                <ul class="list-group list-group-bordered mb-0 font-size-12">
                    <li class="list-group-item">
                        <i class="icon md-key" aria-hidden="true" draggable="true"></i><span th:text="#{group.invite.key}">그룹 가입 키</span>
                        <div class="ml-20 mt-5">
                            <span th:text="*{groupInviteKey}">key</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <i class="icon md-toys" aria-hidden="true" draggable="true"></i><span th:text="#{user.resource.title}">GPU</span>
                        <div class="ml-20 mt-5" th:if="*{userGpuList.isEmpty()}">
                            <span th:text="#{user.resource.list.empty}"></span>
                        </div>
                        <div class="ml-20 mt-5" th:unless="*{userGpuList.isEmpty()}" th:each="userGpu : *{userGpuList}">
                            <code th:text="${userGpu.gpu.gpuName}">resourceName</code>&nbsp;<span th:text="#{mypage.gpu.use.count}">사용</span> <span th:text="${userGpu.groupUseQuantity}">useQuantity</span> / <span th:text="#{mypage.gpu.remain.count}">잔여</span> <span th:text="${userGpu.groupQuotaQuantity - userGpu.groupUseQuantity}">remainQuotaQuantity</span> / <span th:text="#{mypage.gpu.allocate.count}">할당</span> <span th:text="${userGpu.groupQuotaQuantity}">groupQuotaQuantity</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-md-10 pl-0">
                    <button class="btn btn-sm btn-info waves-effect waves-classic" data-target="#groupInviteModal" data-toggle="modal" type="button"><i class="icon md-email"></i><span th:text="#{group.invite.mail.btn}">그룹 가입링크 메일전송</span></button>
                </div>
                <div class="col-sm-12 col-md-2 pr-0 text-right">
                    <a th:href="@{/management/group/{username}/modify (username=${group.username})}" th:text="#{common.button.modify}" class="btn btn-primary btn-sm waves-effect waves-classic">수정</a>
                </div>
            </div>


            <input type="hidden" id="viewModal" th:value="${viewModal}"/>
            <!-- Modal -->
            <div class="modal fade" id="groupInviteModal" aria-hidden="false" aria-labelledby="groupInviteModalLabel"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-simple">
                    <form class="modal-content" method="post" th:object="${groupInviteForm}" th:action="@{/management/group/{username}/invite (username=${group.username})}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="groupInviteModalLabel" th:text="#{group.invite.mail.title}">초대할 사용자의 이메일을 입력하세요.</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xl-12 form-group">
                                    <input type="text" class="form-control" th:field="*{emails}" data-plugin="tokenfield" th:errorclass="is-invalid">
                                    <div><small th:text="#{group.invite.mail.desc}">입력 후 엔터를 클릭하세요. 여러명일 경우 엔터로 구분해서 입력하세요.</small></div>
                                    <div th:if="${#fields.hasErrors('*{emails}')}" class="invalid-feedback" style="display: block !important;" th:errors="*{emails}">에러 메세지</div>
                                </div>
                                <div class="col-md-12 float-right">
                                    <button class="btn btn-primary" type="submit" th:text="#{common.button.send}">전송</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Modal -->

        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
    <script th:src="@{/assets/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.js}"></script>

    <script>
        $(document).ready(function () {

            if ($('#viewModal').val()) {
                let viewModalId = $('#viewModal').val();

                $('#' + viewModalId).modal('show');
            }

            $("#emails").tokenfield({
                createTokensOnBlur: true,
                delimiter: [';', ','],
                typeahead: [
                    {
                        minLength: 1,
                        highlight:true
                    },
                    {
                        source: engine.ttAdapter(),
                        templates: {
                        }
                    }
                ]
            });
        });
    </script>
</th:block>

</body>
</html>
