<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.code.title}">코드 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.code.title}">코드 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">시스템 관리</a></li>
        <li class="breadcrumb-item active" th:text="#{management.code.title}">코드 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <!-- Panel -->
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span th:text="#{management.code.title}">코드 관리</span>
            </h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/code/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">
                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                            <tr>
                                <th>#</th>
                                <th th:text="#{code.group.codeGroupId}">코드 그룹 ID</th>
                                <th th:text="#{code.group.codeGroupName}">코드 그룹 명</th>
                            </tr>
                        </thead>
                        <tbody th:if="${codeGroupList.isEmpty()}">
                            <tr>
                                <td colspan="3" class="text-center pt-30 pb-30">등록된 공지사항이 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr th:each="codeGroup : ${codeGroupList}" th:unless="${codeGroupList.isEmpty()}">
                                <td th:text="${codeGroupStat.index + 1}">1</td>
                                <td>
                                    <a th:href="@{/admin/code/{codeGroupId}(codeGroupId=${codeGroup.codeGroupId})}"
                                       th:text="${codeGroup.codeGroupId}">코드그룹 ID</a>
                                </td>
                                <td th:text="${codeGroup.codeGroupName}">코드그룹 명</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
