<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.code.title}">code 관리 - 등록</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.code.title}">code 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{management.code.title}">code 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <!-- Panel -->
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span th:text="#{management.code.title}">code 관리</span>
            </h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <!--<a th:href="@{/system/codes/reloadCache/{codeGroupId}(codeGroupId=${codeGroupId})}"-->
                   <!--class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>-->
            </div>
        </div>
        <div class="panel-body container-fluid" th:object="${codeGroup}">
            <dl class="dl-horizontal row">
                <dt class="col-sm-2" th:text="#{code.group.codeGroupId}">코드 그룹 ID</dt>
                <dd class="col-sm-4" th:text="*{codeGroupId}">코드 그룹 ID</dd>
                <dt class="col-sm-2" th:text="#{code.group.codeGroupName}">코드 그룹 명</dt>
                <dd class="col-sm-4" th:text="*{codeGroupName}">코드 그룹 명</dd>
            </dl>

            <dl class="row mt-30">
                <dd class="col-sm-12">
                    <table class="table table-hover border-bottom font-size-12">
                        <thead class="bg-grey-100 font-weight-600">
                            <tr>
                                <th>#</th>
                                <th th:text="#{code.code}">코드 ID</th>
                                <th th:text="#{code.codeName}">코드 명</th>
                                <th th:text="#{code.codeDescription}">설명</th>
                                <th th:text="#{code.odr}">순서</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody th:if="${codeGroup.codes.isEmpty()}">
                            <tr>
                                <td colspan="5" class="text-center pt-30 pb-30" th:text="#{code.list.empty}">등록된 코드가 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr th:each="code : ${codeGroup.codes}" th:unless="${codeGroup.codes.isEmpty()}">
                                <td th:text="${codeStat.index + 1}">1</td>
                                <td>
                                    <span class="badge" th:classappend="${code.activeYn ? 'badge-success' : 'badge-dark'}" th:text="#{'code.activeYn.' + ${code.activeYn}}">활성화 여부</span>
                                    <span th:text="${code.codePK.code}">코드 ID</span>
                                </td>

                                <td th:text="${code.codeName}">코드 명</td>
                                <td th:text="${code.codeDescription}">설명</td>
                                <td th:text="${code.odr}">순서</td>
                                <td>
                                    <form autocomplete="off"
                                          th:action="@{/admin/code/{codeGroupId}/{code}/activeYn(codeGroupId=${code.codePK.codeGroupId},code=${code.codePK.code})}" method="post">
                                        <button type="submit" class="btn btn-xs btn-primary" th:if="${!code.activeYn}" th:text="#{common.button.active.on}">활성화</button>
                                        <button type="submit" class="btn btn-xs btn-primary" th:if="${code.activeYn}" th:text="#{common.button.active.off}">비활성화</button>
                                    </form>
                                </td>
                        </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
</th:block>

</body>
</html>
