<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{post.__${path}__.title}">QNA</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{post.__${path}__.title}">QNA</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Help</a></li>
        <li class="breadcrumb-item active" th:text="#{post.__${path}__.title}">QNA</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{post.__${path}__.title}">QNA</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body container-fluid" th:object="${post}">

            <div class="card-block p-0 pl-5 pr-5">
                <h3 class="card-title mb-5">
                    <span th:text="*{title}">title</span>
                </h3>
                <p class="card-text mb-5">
                    <small>
                        <span th:text="#{post.user}">등록자</span>&nbsp;<span th:text="*{createdBy}" style="color:#9e9e9e;"></span>&nbsp;|&nbsp;<span th:text="#{post.readCount}">조회수</span>&nbsp;<span th:text="*{readCount}" style="color:#9e9e9e;">readCount</span>
                        &nbsp;|&nbsp;<span th:text="#{post.useYn}">사용여부</span>&nbsp;<span th:text="*{useYn ? '사용' : '미사용'}" style="color:#9e9e9e;">useYn</span>
                        &nbsp;|&nbsp;<span th:text="#{post.createdAt}">등록일</span>&nbsp;<span data-plugin="moment" th:attr="data-utc-date=${post.createdAt}" data-date-format="YYYY-MM-DD HH:mm" style="color:#9e9e9e;">-</span>
                        <th:block th:if="*{{updatedAt}}">
                            &nbsp;|&nbsp;<span th:text="#{post.updatedAt}">수정일</span>&nbsp;<span data-plugin="moment" th:attr="data-utc-date=${post.updatedAt}" data-date-format="YYYY-MM-DD HH:mm" style="color:#9e9e9e;">-</span>
                        </th:block>
                    </small>
                </p>
                <div class="card-text mt-0 border-top p-10" style="min-height:250px;">
                    <span th:utext="*{contents}"  >contents</span>
                </div>
            </div>
            <div class="row m-0 border-top pt-10">
                <div class="col-sm-12 col-md-10 pl-0">
                    <a th:href="@{/help/__${path}__}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                </div>
                <div class="col-sm-12 col-md-2 pr-0 text-right">
                    <th:block sec:authorize="isAuthenticated()" th:if="${post.createdBy == #authentication.getPrincipal().username}">
                        <form method="post" th:action="@{/help/__${path}__/{postSn}/delete (postSn=${post.postSn})}">
                            <a th:href="@{/help/__${path}__/{postSn}/modify (postSn=${post.postSn})}" th:text="#{common.button.modify}"
                               class="btn btn-primary btn-sm waves-effect waves-classic">수정</a>
                            <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{common.button.delete}"/>
                        </form>
                    </th:block>
                </div>
            </div>


            <div class="comments mx-0 mt-30">
                <h5 class="card-title pl-10 pr-10 mb-5">
                    <i class="icon md-view-list-alt" aria-hidden="true" draggable="true"></i>
                    <span th:text="#{post.comment.title}">댓글</span>&nbsp;
                    <span class="badge badge-pill badge-info" th:text="${post.postCommentList.size()}">6</span>
                    <!--<span th:text="${post.postCommentList.size()}">size</span>-->
                </h5>
                <div class="comment border-top text-center font-size-12" th:if="${post.postCommentList.isEmpty()}" th:text="#{post.comment.list.empty}">
                    등록된 댓글이 없습니다.
                </div>
                <div class="comment media p-10 font-size-12" th:each="postComment : ${post.postCommentList}" th:unless="${post.postCommentList.isEmpty()}">
                    <div class="comment-body media-body">
                        <a class="comment-author" th:text="${postComment.createdBy}">Nathan Watts</a>
                        <div class="comment-meta">
                            <span class="date" th:text="${{postComment.createdAt}}">5 days ago</span>
                        </div>
                        <div class="comment-content">
                            <pre style="border:0px;" class="p-0 font-size-12" th:utext="${postComment.contents}">Dude, this is awesome. Thanks so much</pre>
                        </div>
                    </div>
                </div>


                <div class="comment media border-bottom-0" sec:authorize="isAuthenticated()">
                    <div class="comment-body media-body font-size-12">
                        <form class="comment-reply mt-0" th:action="@{/help/__${path}__/{postSn}/comment/save (postSn=${post.postSn})}" method="post" th:field="${postCommentForm}">
                            <input type="hidden" th:field="*{postSn}" />
                            <input type="hidden" name="useYn" value="1" />
                            <div class="form-group mb-5">
                                <textarea class="form-control font-size-12" rows="5" th:field="${postCommentForm.contents}" placeholder="Comment here" th:errorclass="is-invalid"></textarea>
                                <div th:if="${#fields.hasErrors('${postCommentForm.contents}')}" class="invalid-feedback" th:errors="${postCommentForm.contents}">에러 메세지</div>
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/bootstrap-markdown/bootstrap-markdown.js}"></script>
    <script th:src="@{/assets/vendor/marked/marked.js}"></script>
    <script th:src="@{/assets/vendor/to-markdown/to-markdown.js}"></script>
</th:block>

</body>
</html>