<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{post.__${path}__.title}">QNA</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{post.__${path}__.title}">QNA</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Help</a></li>
        <li class="breadcrumb-item active" th:text="#{post.__${path}__.title}">QNA</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{post.__${path}__.title}">QNA</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">
                <div class="row">
                    <table class="table table-hover border-bottom font-size-12">
                        <thead class="bg-grey-100 font-weight-600 text-center">
                            <tr>
                                <td>#</td>
                                <td style="width:60%;" th:text="#{post.title}">제목</td>
                                <td th:text="#{post.comments}">댓글</td>
                                <td th:text="#{post.useYn}">사용여부</td>
                                <td th:text="#{post.readCount}">조회수</td>
                                <td th:text="#{post.user}">작성자</td>
                                <td th:text="#{post.createdAt}">등록일</td>
                            </tr>
                        </thead>
                        <tbody th:if="${postPage.getContent().isEmpty()}">
                            <tr>
                                <td colspan="7" class="text-center pt-30 pb-30">등록된 게시물이 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${postPage.getContent().isEmpty()}" class="text-center">
                            <tr th:each="post : ${postPage.getContent()}">
                                <td th:text="${post.postSn}"></td>
                                <td class="text-left">
                                    <a th:href="@{/help/__${path}__/{postSn} (postSn=${post.postSn})}"><span th:text="${post.title}"></span></a>
                                    <!--<span class="badge badge-pill badge-dark">7</span>-->
                                </td>
                                <td th:text="${post.postCommentList.size()}"></td>
                                <td th:text="#{'post.useYn.' + ${post.useYn}}"></td>
                                <td th:text="${post.readCount}"></td>
                                <td th:text="${post.createdBy}"></td>
                                <td data-plugin="moment" th:attr="data-utc-date=${post.createdAt}">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                        <nav th:replace="fragments/site-pagination::pagination (pages=${postPage})"></nav>
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/help/__${path}__/save}" th:text="#{common.button.insert}"
                           sec:authorize="isAuthenticated()"
                           th:if="${path != 'notice' or (path == 'notice' and (user.isGroupAdmin() or user.isSystemAdmin()))}"
                           class="btn btn-primary btn-sm waves-effect waves-classic">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>