<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{post.__${path}__.title}">QNA</title>

    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-markdown/bootstrap-markdown.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{post.__${path}__.title}">QNA</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Help</a></li>
        <li class="breadcrumb-item active" th:text="#{post.__${path}__.title}">QNA</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{post.__${path}__.title}">QNA</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body container-fluid">

            <form method="post" th:object="${postForm}">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-sm-2" for="title" th:text="#{post.title}">제목</label>
                    <div class="input-group col-sm-6">
                        <input type="text" th:field="*{title}" th:errorclass="is-invalid" class="form-control form-control-sm "/>
                        <div th:if="${#fields.hasErrors('*{title}')}" class="invalid-feedback  mt-0 " th:errors="*{title}">에러 메세지</div>
                        <input type="hidden" th:field="*{postSn}" th:errorclass="is-invalid">
                        <input type="hidden" th:field="*{groupId}" th:errorclass="is-invalid">
                    </div>

                    <label class="col-sm-2" for="useYn" th:text="#{post.useYn}">사용 여부</label>
                    <div class="checkbox-custom checkbox-primary col-sm-2 mt-0">
                        <input type="checkbox" th:field="*{useYn}" class="form-control" th:errorclass="is-invalid" />
                        <label for="useYn" th:text="#{post.useYn.true}">사용</label>
                        <div th:if="${#fields.hasErrors('*{useYn}')}" class="invalid-feedback  mt-0" th:errors="*{useYn}">에러 메세지</div>
                    </div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <textarea name="content" data-provide="markdown" data-width="w-p100" data-height="300" data-iconlibrary="fa" rows="10"
                              th:field="*{contents}" class="md-input"></textarea>

                    <div th:if="${#fields.hasErrors('*{contents}')}" class="invalid-feedback mt-0 d-block" th:errors="*{contents}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/help/__${path}__}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/help/__${path}__}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/bootstrap-markdown/bootstrap-markdown.js}"></script>
    <script th:src="@{/assets/vendor/marked/marked.js}"></script>
    <script th:src="@{/assets/vendor/to-markdown/to-markdown.js}"></script>
</th:block>

</body>
</html>