<table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr height="32px"></tr>
    <tr align="center">
        <td width="32px"></td>
        <td>
            <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <span style="font-weight:bold;font-size:28px;letter-spacing: -1px;">GPU CLOUD CHEETAH</span><span style="font-weight:normal;font-size:28px;letter-spacing: -1px;color:#666"> by N3N CLOUD</span>
                                </td>
                                <td align="right">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="height:5px"></tr>
                <tr>
                    <td>
                        <table bgcolor="#D94235" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
                            <tbody>
                            <tr>
                                <td height="72px" colspan="3"></td>
                            </tr>
                            <tr>
                                <td width="32px"></td>
                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25;min-width:300px">GPU CLOUD '<span th:text="${groupName}" style="color:yellow">groupName</span>'에 초대합니다.</td>
                                <td width="32px"></td>
                            </tr>
                            <tr>
                                <td height="18px" colspan="3"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px">
                            <tbody>
                            <tr height="16px">
                                <td width="32px" rowspan="3"></td>
                                <td></td>
                                <td width="32px" rowspan="3"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="min-width:300px" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding-bottom:12px">안녕하세요. GPU Cloud 서비스입니다.</td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding:6px 0">
                                                <b><span th:text="${name}">권혁</span>님이 GPU CLOUD 그룹 '<span th:text="${groupName}">groupName</span>'에 초대합니다.</b>
                                                <br>
                                                <br>
                                                <a th:href="|http://${groupInviteUrl}|"><span th:text="${groupName}">groupName</span> 가입하기</a>
                                                <br>
                                                <br>위 링크로 회원가입 후 관리자 승인 후에 사용가능합니다.
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding-top:28px">Cheetah 운영팀</td>
                                        </tr>
                                        <tr height="16px"></tr>
                                        <tr>
                                            <td>
                                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:12px;color:#b9b9b9;line-height:1.5">
                                                    <tbody>
                                                    <tr>
                                                        <td>본 이메일은 발신 전용입니다.</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr height="32px"></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="16"></tr>
                <tr>
                    <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5"></td>
                </tr>
                <tr>
                    <td>
                        <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px">
                            <tbody>
                            <tr>
                                <td>
                                    <div style="direction:ltr;text-align:left">© 2019 <b>N3N CLOUD</b> Inc.</div>
                                    <div style="display:none!important;max-height:0px;max-width:0px">et:28</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="32px"></td>
    </tr>
    <tr height="32px"></tr>
    </tbody>
</table>
