<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{help.price.title}">요금 안내</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{help.price.title}">요금 안내</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Help</a></li>
        <li class="breadcrumb-item active" th:text="#{help.price.title}">요금 안내</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{help.price.title}">요금 안내</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">
                <div class="row">
                    <table class="table table-hover table-bordered font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td>Node</td>
                            <td>GPU</td>
                            <td>vCPU</td>
                            <td>Memory</td>
                            <td>Internal Disk</td>
                            <td>External Disk</td>
                            <td>Traffic</td>
                            <td>금액(시간)</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="font-weight-bold font-size-14">2080Ti 11G</td>
                            <td>1</td>
                            <td>9</td>
                            <td>32</td>
                            <td>SSD 250G</td>
                            <td>300G</td>
                            <td>10M bps<br/>(아웃바운드 2.5TB/월)</td>
                            <td>1,000원</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold font-size-14">1080Ti 11G</td>
                            <td>1</td>
                            <td>2</td>
                            <td>8</td>
                            <td>SSD 125G</td>
                            <td>300G</td>
                            <td>10M bps<br/>(아웃바운드 2.5TB/월)</td>
                            <td>700원</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold font-size-14">Tencent 32Core/64G</td>
                            <td>0</td>
                            <td>32</td>
                            <td>64</td>
                            <td>50G</td>
                            <td>300G</td>
                            <td>10M bps<br/>(아웃바운드 2.5TB/월)</td>
                            <td>1,500원</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Pricing Policy</h4>
                <ul>
                    <li>요금은 시간 단위로 책정됨</li>
                    <li>요금기준은 컨테이너가 생성된 시점으로부터 컨테이너가 완전히 반납된 시점</li>
                    <li>네트워크 트래픽은 10M bps이며, 아웃바운드 트래픽이 2.5TB/월 초과시 추가요금 발생</li>
                </ul>
                <h4>Data Protection Policy</h4>
                <ul>
                    <li>Internal Disk는 컨테이너 반납 즉시 회수됨</li>
                    <li>External Disk는 컨테이너 반납 후 2주간 추가 과금없이 유지되고, 15일 이후에는 고지 없이 회수됨</li>
                </ul>
            </div>

        </div>
    </div>
</div>


</body>
</html>
