<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.login.history.title}">로그인 이력</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.css}">
    <style>
        .datepicker { z-index: 99999999 !important; }

    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.login.history.title}">로그인 이력</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.login.history.title}">로그인 이력</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.login.history.title}">로그인 이력</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper nav-tabs-horizontal container-fluid pl-0 pr-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/group}" th:text="#{user.tab.group}">그룹</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/user}" th:text="#{user.tab.user}">사용자</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/admin/login-history}" th:text="#{user.tab.login-history}">로그인 이력</a></li>
                </ul>
                <div class="tab-content pt-20">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-header card-bordered">
                                        <i class="icon md-notifications-active" aria-hidden="true" draggable="true"></i>
                                        <span class="font-weight-bold">&nbsp;실시간 로그인 사용자</span>
                                    </div>
                                    <ul class="list-group list-group-bordered font-size-12">
                                        <li class="list-group-item" th:each="loginUser : ${realLoginUserList}">
                                            <a th:href="@{/admin/user/{username} (username=${loginUser.username})}" th:text="|${loginUser.name} (${loginUser.username})|"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <form th:object="${loginHistoryCriteria}" method="get" autocomplete="off">
                                    <div class="row ml-0 mr-0">
                                        <div class="col-sm-10 col-md-10 pl-0">
                                            <div class="row no-space form-group mb-10">
                                                <div class="col-sm-2 col-xs-4">
                                                    <select th:field="*{parentUsername}"  class="form-control form-control-sm">
                                                        <option value="ALL" th:text="#{container.option.group.all}">그룹 전체</option>
                                                        <option value=""  th:text="#{container.option.general.all}">:: 일반 사용자 ::</option>
                                                        <option th:each="group : ${groupList}" th:value="${group.username}" th:text="${group.groupName}"/>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2 col-xs-4">
                                                    <select th:field="*{username}" class="form-control form-control-sm">
                                                        <option value="" th:text="#{container.option.user.all}">사용자 전체</option>
                                                        <option th:each="user : ${userList}" th:value="${user.username}" th:text="${user.name}"/>
                                                    </select>
                                                </div>
                                                <div class="col-sm-1 col-xs-4">
                                                    <input type="text" th:field="*{name}" class="form-control form-control-sm" th:placeholder="#{user.name}" />
                                                </div>
                                                <div class="col-sm-2 col-xs-4 pl-5">
                                                    <select th:field="*{loginHistoryCode}" class="form-control form-control-sm">
                                                        <option value="" th:text="#{login.history.option.all}">이력 전체</option>
                                                        <option th:each="code : ${referenceData.loginHistoryCodeList}" th:value="${code.codePK.code}" th:text="#{'code.LH.' + ${code.codePK.code}}"/>
                                                        <option value="FAIL_ALL" th:text="#{login.history.login.code.fail.all}">실패 (전체)</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-1 col-xs-4 pl-5">
                                                    <input type="text" th:field="*{loginIp}" class="form-control form-control-sm" th:placeholder="#{login.history.login.ip}" />
                                                </div>
                                                <div class="col-sm-4 col-xs-4 pl-5">
                                                    <div class="input-daterange">
                                                        <div class="input-group">
                                                          <span class="input-group-addon pl-10 pr-10 pt-3">
                                                            <i class="icon md-calendar" aria-hidden="true"></i>
                                                          </span>
                                                            <input type="text" class="form-control form-control-sm" style="z-index: 100000 !important;" data-format="YYYY-MM-DD" th:field="*{loginDateFrom}" th:placeholder="#{login.history.login.date.from}"/>
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon pl-10 pr-10 pt-3">to</span>
                                                            <input type="text" class="form-control form-control-sm" data-format="YYYY-MM-DD" th:field="*{loginDateTo}" th:placeholder="#{login.history.login.date.to}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 text-right pr-0">
                                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.search}">조회</button>
                                            <button type="submit" name="xls" class="btn btn-info btn-sm waves-effect waves-classic">
                                                <i class="icon md-download" aria-hidden="true"></i>
                                                <span th:text="#{common.button.download.xls}">조회</span</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row pb-5 pl-15 font-size-12">
                                    <span th:text="#{list.total.count(${loginHistoryPage.totalElements})}"></span>
                                    &nbsp;(<span th:text="${loginHistoryPage.number + 1}">number</span> / <span th:text="${loginHistoryPage.totalPages}">totalPages</span>)
                                </div>
                                <div class="row ml-0 mr-0">
                                    <table class="table table-hover border-bottom font-size-12 text-center">
                                        <thead class="bg-grey-100 font-weight-600">
                                        <tr>
                                            <td>#</td>
                                            <td th:text="#{user.group}">그룹</td>
                                            <td th:text="#{user.username}">사용자아이디</td>
                                            <td th:text="#{user.name}">이름</td>
                                            <td th:text="#{login.history.code}">성공여부</td>
                                            <td th:text="#{login.history.ip}">아이피</td>
                                            <td th:text="#{login.history.date}">일시</td>
                                        </tr>
                                        </thead>
                                        <tbody th:if="${loginHistoryPage.getContent().isEmpty()}">
                                        <tr>
                                            <td colspan="7" class="text-center p-30" th:text="#{login.history.list.empty}">로그인 이력이 없습니m다.</td>
                                        </tr>
                                        </tbody>
                                        <tbody th:unless="${loginHistoryPage.getContent().isEmpty()}">
                                        <tr th:each="loginHistory : ${loginHistoryPage.getContent()}" >
                                            <td th:text="${loginHistoryPage.totalElements - ((loginHistoryPage.number) * loginHistoryPage.size) - loginHistoryStat.index}"></td>
                                            <!--<td th:text="${loginHistory.loginHistorySn}"></td>-->
                                            <td>
                                                <span th:text="${loginHistory.user.group.groupName}" th:if="${loginHistory.user.parentUsername}"></span>
                                                <span th:text="${loginHistory.user.groupName}" th:if="${loginHistory.user.isGroupAdmin()}"></span>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/user/{username} (username=${loginHistory.username})}"><span th:text="${loginHistory.username}"></span></a>
                                            </td>
                                            <td th:text="${loginHistory.user.name}"></td>
                                            <td th:text="#{'code.LH.' + ${loginHistory.loginHistoryCode}}">loginHistoryCode</td>
                                            <td th:text="${loginHistory.loginIp}">loginIp</td>
                                            <td data-plugin="moment" th:attr="data-utc-date=${loginHistory.loginDate}">loginDate</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row ml-0 mr-0">
                                    <div class="col-sm-12 col-md-10 pl-0">
                                        <nav th:replace="fragments/site-pagination::pagination (pages=${loginHistoryPage})"></nav>
                                    </div>
                                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            $('input[name=loginDateFrom]').datepicker({
                format: "yyyy-mm-dd"
            });
            $('input[name=loginDateTo]').datepicker({
                format: "yyyy-mm-dd"
            });
        });
        /* ]]> */

    </script>

</th:block>

</body>
</html>