<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{__${path}__.user.title}">사용자 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{__${path}__.user.title}">사용자 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#" th:text="${path == 'admin' ? 'Admin' : 'Management'}">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{__${path}__.user.title}">사용자 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{__${path}__.user.title}">사용자 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <dl class="dl-horizontal row" th:object="${user}">


                <th:block th:if="${user.isGroupAdmin()}">
                    <dt class="col-sm-12">
                        <h5>
                            <i class="icon md-inbox" aria-hidden="true"></i>
                            <span th:text="#{user.group.title}">그룹 정보</span>
                        </h5>
                    </dt>

                    <th:block th:if="${user.isGroupAdmin()}" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                        <dt class="col-sm-2" th:text="#{user.groupName}">그룹명</dt>
                        <dd class="col-sm-4" th:text="*{groupName}">groupName</dd>
                        <dt class="col-sm-2" th:text="#{user.groupTypeCode}">그룹구분</dt>
                        <dd class="col-sm-4" th:text="#{'code.GT.' + *{groupTypeCode}}">groupTypeCode</dd>
                    </th:block>

                    <dt class="col-sm-2" th:text="#{user.inviteKey}">그룹 가입 키</dt>
                    <dd class="col-sm-4" th:text="*{groupInviteKey}">groupInviteKey</dd>

                    <dt class="col-sm-2" th:text="#{group.image}">그룹이미지</dt>
                    <dd class="col-sm-4">
                        <a class="float-left mr-20" href="javascript:void(0)" th:if="*{groupImageFileSn}">
                            <img th:src="@{/download/{groupImageFileSn} (groupImageFileSn=*{groupImageFileSn})}" style="width:130px;height:24px;" alt="group_logo">
                        </a>
                        <span th:unless="*{groupImageFileSn}" th:text="#{group.image.none}">없음</span>
                    </dd>

                    <th:block th:if="${user.isGroupAdmin() or user.isSystemAdmin()}">
                        <dt class="col-sm-2" th:text="#{user.slack.hook.url}">Slack hook URL</dt>
                        <dd class="col-sm-10" th:text="*{slackHookUrl}">slackHookUrl</dd>
                        <dt class="col-sm-2" th:text="#{user.slack.channel}">Slack Channel</dt>
                        <dd class="col-sm-10" th:text="*{slackChannel}">slackChannel</dd>
                    </th:block>

                </th:block>

                <dt class="col-sm-12 " th:classappend="${user.isGroupAdmin() ? 'pt-20' : ''}">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        <span th:text="#{user.info.title}">기본 정보</span>
                    </h5>
                </dt>

                <th:block th:if="*{parentUsername}">
                    <dt class="col-sm-2" th:text="#{user.group}">그룹</dt>
                    <dd class="col-sm-10" th:text="*{parentUsername}">parentUsername</dd>
                </th:block>

                <dt class="col-sm-2" th:text="#{user.username}">사용자아이디</dt>
                <dd class="col-sm-4">
                    <span th:text="*{username}">username</span>
                    <span class="badge" th:if="*{confirmYn}" th:text="#{'user.confirmYn.' + ${user.confirmYn}}" th:classappend="${user.confirmYn ? 'badge-info' : 'badge-dark'}">승인</span>
                </dd>
                <dt class="col-sm-2" th:text="#{user.name}">이름</dt>
                <dd class="col-sm-4" th:text="*{name}">name</dd>

                <dt class="col-sm-2" th:text="#{user.phoneNo}">전화번호</dt>
                <dd class="col-sm-4" th:text="*{phoneNo}">phoneNo</dd>
                <dt class="col-sm-2" th:text="#{user.email}">이메일</dt>
                <dd class="col-sm-4" th:text="*{email}">email</dd>

                <dt class="col-sm-2" th:text="#{user.image}">사용자이미지</dt>
                <dd class="col-sm-10">
                    <a class="float-left mr-20" href="javascript:void(0)" th:if="*{userImageFileSn}">
                        <img th:src="@{/download/{userImageFileSn} (userImageFileSn=*{userImageFileSn})}" style="width:100px;height:100px;" alt="user_logo">
                    </a>
                    <span th:unless="*{userImageFileSn}" th:text="#{user.image.none}">없음</span>
                </dd>


                <dt class="col-sm-2" th:text="#{user.role}">권한</dt>
                <dd class="col-sm-4">
                    <span th:each="userRole : *{userRoles}" th:text="#{'code.UR.' + ${userRole.role.codePK.code}}">role</span>
                    <form method="post" class="inline" th:action="@{/__${path}__/user/{username}/role/GROUP_ADMIN (username=${user.username})}" th:if="${user.isGeneralUser()}">
                        <button type="submit" class="btn btn-warning btn-xs waves-effect waves-classic" th:text="#{common.button.role.GROUP_ADMIN}" />
                    </form>
                </dd>
                <dt class="col-sm-2" th:text="#{user.confirmYn}">승인여부</dt>
                <dd class="col-sm-4" th:text="#{'user.confirmYn.' + ${user.confirmYn}}">confirmYn</dd>

                <dt class="col-sm-2" th:text="#{user.createdAt}">생성일</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=${user.createdAt}">-</dd>
                <dt class="col-sm-2" th:text="#{user.updatedAt}">수정일</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=${user.updatedAt}">-</dd>

                <dt class="col-sm-2" th:text="#{user.withdrawalDate}">탈퇴일시</dt>
                <dd class="col-sm-4" data-plugin="moment" th:attr="data-utc-date=${user.withdrawalDate}">-</dd>

                <dt class="col-sm-12 pt-20">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        <span th:text="#{user.additional.title}">부가 정보</span>
                    </h5>
                </dt>
                <dt class="col-sm-2" th:text="#{user.organizationName}">단체(회사/학교) 명</dt>
                <dd class="col-sm-4" th:text="*{organizationName}">organizationName</dd>
                <dt class="col-sm-2" th:text="#{user.teamName}">팀(부서/학과) 명</dt>
                <dd class="col-sm-4" th:text="*{teamName}">teamName</dd>



                <dt class="col-sm-12 pt-20">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        <span th:text="#{user.resource.title}">자원 할당량</span>
                    </h5>
                </dt>
                <dd class="col-sm-12">
                    <table class="table table-bordered table-striped font-size-12">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td th:text="#{user.resource.name}">자원 명</td>
                            <td th:text="#{user.resource.groupUseQuantity}" th:if="${user.isGroupAdmin() or user.isGroupUser()}">그룹사용수량</td>
                            <td th:text="#{user.resource.groupQuotaQuantity}" th:if="${user.isGroupAdmin() or user.isGroupUser()}">그룹할당수량</td>
                            <td th:text="#{user.resource.useQuantity}">사용수량</td>
                            <td th:text="#{user.resource.quotaQuantity}">할당수량</td>
                            <td th:text="#{user.resource.createdBy}">등록자</td>
                            <td th:text="#{user.resource.createdAt}">등록일</td>
                        </tr>
                        </thead>
                        <tbody th:if="${user.userGpuList.isEmpty()}">
                        <tr>
                            <td colspan="8" class="text-center pt-30 pb-30" th:text="#{user.resource.list.empty}">할당된 자원이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${user.userGpuList.isEmpty()}">
                            <tr th:each="userGpu : ${user.userGpuList}">
                                <td th:text="${userGpuStat.index + 1}"></td>
                                <td th:text="${userGpu.gpu.gpuName}">Nvidia 1080 Ti</td>
                                <td th:text="${userGpu.groupUseQuantity}" th:if="${user.isGroupAdmin() or user.isGroupUser()}">0</td>
                                <td th:text="${userGpu.groupQuotaQuantity}" th:if="${user.isGroupAdmin() or user.isGroupUser()}">1</td>
                                <td th:text="${userGpu.useQuantity}">0</td>
                                <td th:text="${userGpu.quotaQuantity}">1</td>
                                <td th:text="${userGpu.createdBy}">1</td>
                                <td data-plugin="moment" th:attr="data-utc-date=${userGpu.createdAt}">-</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>


                <th:block th:if="${(user.isGroupAdmin() or user.isGeneralUser()) and @environment.getProperty('cheetah.payment')}">
                    <dt class="col-sm-12 pt-20">
                        <h5>
                            <i class="icon md-inbox" aria-hidden="true"></i>
                            <span th:text="#{user.credit.title}">크레딧 목록</span>
                        </h5>
                    </dt>
                    <table class="table table-bordered table-striped font-size-12 mr-15 ml-15">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td th:text="#{credit.creditName}">크레딧</td>
                            <td th:text="#{credit.creditAmount}">총금액</td>
                            <td th:text="#{credit.remainCreditAmount}">잔여</td>
                            <td th:text="#{credit.expiry}">유효기간</td>
                            <td th:text="#{credit.validYn}">유효여부</td>
                            <td th:text="#{credit.createdAt}">생성일</td>
                            <td>Actions</td>
                        </tr>
                        </thead>
                        <tbody th:if="${user.userCreditList.isEmpty()}">
                        <tr>
                            <td colspan="8" class="text-center pt-30 pb-30" th:text="#{user.credit.list.empty}">부여된 크레딧이 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${user.userCreditList.isEmpty()}">
                        <tr th:each="userCredit : ${user.userCreditList}">
                            <td th:text="${userCredit.userCreditPK.userCreditNo}"></td>
                            <td th:text="${userCredit.credit.creditName}"></td>
                            <td th:text="${{userCredit.creditAmount}}"></td>
                            <td th:text="${{userCredit.remainCreditAmount}}"></td>
                            <td>
                                <span th:text="${userCredit.expiryStartDate}"></span>
                                ~ <span th:text="${userCredit.expiryEndDate}"></span>
                            </td>
                            <td th:text="#{'credit.validYn.'+ ${userCredit.isValidCredit()}}">validYn</td>
                            <td data-plugin="moment" th:attr="data-utc-date=${userCredit.createdAt}">-</td>
                            <td>
                                <form method="post" class="form-inline"
                                      th:action="@{/__${path}__/user/{username}/credit/{creditNo}/delete (username=${user.username}, creditNo=${userCredit.userCreditPK.userCreditNo})}"
                                      th:if="${userCredit.creditAmount eq userCredit.remainCreditAmount}">
                                    <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                        <form method="post" th:action="@{/admin/user/{username}/credit/add (username=${user.username})}">
                            <div class="input-group col-md-12 p-0 text-right">
                                <select name="creditId" class="form-control form-control-sm col-md-3 mr-5 ">
                                    <option th:each="credit : ${creditList}" th:value="${credit.creditId}" th:text="${credit.creditName}"></option>
                                </select>
                                <button type="submit" class="btn btn-info btn-sm waves-effect waves-classic" th:text="#{common.button.add}" />
                            </div>
                        </form>
                    </div>


                </th:block>

                <th:block th:unless="${user.isSystemAdmin()}">
                <dt class="col-sm-12 pt-20">
                    <h5 style="position: relative; margin: 10px 0;">
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        <span th:text="#{user.container.title}">컨테이너 목록</span>

                        <div class="col-sm-12 pl-0 pr-0 text-right" style="width: 50%; position: absolute; top: -3px; right: 0;" sec:authorize="hasAuthority('SYSTEM_ADMIN')" th:unless="${user.containerList.isEmpty()}">
                            <form method="post" class="inline-block" th:action="@{/management/container/{username}/delete/all (username=${user.username})}"
                                  th:onsubmit="|return confirm('__#{confirm.delete.all.exclude.return}__');|">
                                <input type="hidden" name="excludeStatusCode" value="RETURN" />
                                <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{button.delete.all.exclude.return}" />
                            </form>
                            <form method="post" class="inline-block" th:action="@{/management/container/{username}/delete/all (username=${user.username})}"
                                  th:onsubmit="|return confirm('__#{confirm.delete.all.include.return}__');|">
                                <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{button.delete.all.include.return}" />
                            </form>
                        </div>
                    </h5>
                </dt>
                <dd class="col-sm-12">
                    <table class="table table-bordered table-striped font-size-12 mb-5">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td th:text="#{container.name}">컨테이너</td>
                                <td th:text="#{container.status}">상태</td>
                                <td th:text="#{container.detail}">상세정보</td>
                                <td th:text="#{container.start.date}">시작일</td>
                                <td th:text="#{container.return.date}">반납일</td>
                                <td th:text="#{container.history.title}">이력</td>
                            </tr>
                        </thead>
                        <tbody th:if="${user.containerList.isEmpty()}">
                            <tr>
                                <td colspan="7" class="text-center pt-30 pb-30" th:text="#{user.container.list.empty}">등록된 컨테이너가 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${user.containerList.isEmpty()}">
                            <tr th:each="container : ${user.containerList}">
                                <td th:text="${user.containerList.size() - containerStat.index}"></td>
                                <td>
                                    <a th:href="@{/management/container/{username}/{containerId} (username=${container.containerPK.username}, containerId=${container.containerPK.containerId})}">
                                        <span th:text="${container.containerName}">containerName</span>
                                    </a>
                                </td>
                                <td>
                                    <span class="badge text-truncate pt-3" th:classappend="${container.statusCode.badgeClass}"
                                          th:if="${container.statusCode}"
                                          th:text="#{'code.CS.' + ${container.statusCode}}">statusCode</span>
                                    <span class="badge text-truncate pt-3" th:classappend="${container.podStatusCode.badgeClass}"
                                          th:if="${container.podStatusCode != null && container.statusCode == T(com.mybclab.cheetah.common.constant.Code.CONTAINER_STATUS).START}"
                                          th:text="${container.podStatusCode}">podStatus</span>
                                </td>
                                <td>
                                    <span th:text="${container.podFormat.podFormatName}">podFormatName</span>
                                    <br/><span th:text="|${container.gpu.gpuName} x ${container.gpuQuantity}|">gpu info</span>
                                </td>
                                <td data-plugin="moment" th:attr="data-utc-date=${container.startDate}">-</td>
                                <td data-plugin="moment" th:attr="data-utc-date=${container.returnDate}">-</td>
                                <td th:text="${container.containerHistoryList.size()}">containerHistoryList</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
                </th:block>

                <dt class="col-sm-12 pt-20">
                    <h5>
                        <i class="icon md-inbox" aria-hidden="true"></i>
                        <span th:text="#{login.history.title}">로그인 이력 목록</span>
                    </h5>
                </dt>
                <table class="table table-bordered table-striped font-size-12 mr-15 ml-15">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td th:text="#{login.history.code}">성공여부</td>
                        <td th:text="#{login.history.ip}">아이피</td>
                        <td th:text="#{login.history.date}">일시</td>
                    </tr>
                    </thead>
                    <tbody th:if="${user.loginHistoryList.isEmpty()}">
                    <tr>
                        <td colspan="4" class="text-center pt-30 pb-30" th:text="#{login.history.list.empty}">로그인 이력이 없습니m다.</td>
                    </tr>
                    </tbody>
                    <tbody th:unless="${user.loginHistoryList.isEmpty()}">
                    <tr th:each="loginHistory : ${user.loginHistoryList}">
                        <td th:text="${user.loginHistoryList.size() - loginHistoryStat.index}"></td>
                        <td th:text="#{'code.LH.' + ${loginHistory.loginHistoryCode}}">loginHistoryCode</td>
                        <td th:text="${loginHistory.loginIp}">loginIp</td>
                        <td data-plugin="moment" th:attr="data-utc-date=${loginHistory.loginDate}">loginDate</td>
                    </tr>
                    </tbody>
                </table>

            </dl>
            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-md-10 pl-0">
                    <a th:href="@{/__${path}__/user}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>

                </div>
                <div class="col-sm-12 col-md-2 pr-0 text-right">
                    <form method="post" class="inline" th:action="@{/__${path}__/user/{username}/update (username=${user.username})}" th:unless="${user.confirmYn}">
                        <button type="submit" class="btn btn-info btn-sm waves-effect waves-classic" th:text="#{common.button.confirm}" />
                    </form>
                    <a th:href="@{/__${path}__/user/{username}/modify (username=${user.username})}"
                       class="btn btn-default btn-sm waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                    <form method="post" class="inline" th:action="@{/__${path}__/user/{username}/delete (username=${user.username})}"
                          th:if="${user.containerList.isEmpty()}" sec:authorize="hasAuthority('SYSTEM_ADMIN')"
                          th:onsubmit="|return confirm('__#{common.confirm.delete}__');|">
                        <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{common.button.delete}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>