<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{__${path}__.user.title}">사용자 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{__${path}__.user.title}">사용자 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#" th:text="${path == 'admin' ? 'Admin' : 'Management'}">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{__${path}__.user.title}">사용자 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{__${path}__.user.title}">사용자 관리</h1>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">

            <form method="post" th:object="${userForm}" enctype="multipart/form-data">
                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{user.role.title}">권한 및 승인여부</span></h5>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="username" th:text="#{user.role}">권한</label>
                    <span class="col-md-9">
                        <span th:each="userRole : ${user.userRoles}" th:text="#{'code.UR.' + ${userRole.role.codePK.code}}">role</span>
                    </span>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="confirmYn" th:text="#{user.confirmYn}">승인여부</label>
                    <span class="col-md-9">
                        <div class="checkbox-custom checkbox-primary mt-0">
                            <input type="checkbox" th:field="*{confirmYn}" class="form-control" th:errorclass="is-invalid" />
                            <label for="useYn" th:text="#{'user.confirmYn.' + ${user.confirmYn}}">승인</label>
                            <div th:if="${#fields.hasErrors('*{confirmYn}')}" class="invalid-feedback  mt-0" th:errors="*{confirmYn}">에러 메세지</div>
                        </div>
                    </span>
                </div>
                <th:block th:if="${user.isGroupAdmin()}">
                    <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{user.group.title}">그룹 정보</span></h5>
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="name" th:text="#{user.groupTypeCode}">그룹구분</label>
                        <th:block th:each="groupType : ${groupTypeList}">
                            <div class="radio-custom radio-primary radio-inline">
                                <input type="radio" th:field="*{groupTypeCode}" class="form-control" th:value="${groupType.codePK.code}">
                                <label class="form-control-label-sm pl-5" for="inputHorizontalMale" th:text="#{'code.GT.' + ${groupType.codePK.code}}">Male</label>
                            </div>
                        </th:block>

                        <!--<input type="text" th:field="*{groupTypeCode}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <div th:if="${#fields.hasErrors('*{groupTypeCode}')}" class="invalid-feedback text-right mt-0" th:errors="*{groupTypeCode}">에러 메세지</div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="groupName" th:text="#{user.groupName}">그룹명</label>
                        <input type="text" th:field="*{groupName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{groupName}')}" class="invalid-feedback text-right mt-0" th:errors="*{groupName}">에러 메세지</div>
                    </div>

                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="groupName" th:text="#{group.image}">그룹이미지</label>
                        <div class="col-md-9 pl-0">
                            <div>
                                <input type="hidden" th:field="*{groupImageFileSn}" />
                                <p id="uploadGroupImageFile" class="mb-5" th:classappend="*{groupImageFileSn == null ? 'd-block' : 'd-none'}">
                                    <input type="file" th:field="*{groupImageFile}" accept="image/gif, image/jpeg, image/png" th:errorclass="is-invalid" />
                                </p>
                                <p id="showGroupImageFile" class="mb-5" th:classappend="*{groupImageFileSn != null ? 'd-block' : 'd-none'}">
                                    <img th:src="@{/download/{groupImageFileSn} (groupImageFileSn=*{groupImageFileSn})}" style="width:130px;height:24px;" alt="group_logo">
                                    <a href="#" class="btn btn-info btn-xs waves-effect waves-classic ml-5" id="btnDeleteGroupImage"><i class="icon md-delete" aria-hidden="true"></i><span th:text="#{common.button.delete}">삭제</span></a>
                                </p>
                                <div th:if="${#fields.hasErrors('*{groupImageFile}')}" class="invalid-feedback text-right mt-0 d-block" th:errors="*{groupImageFile}">에러 메세지</div>
                                <p class="font-size-12"><i class="icon md-info" aria-hidden="true"></i>&nbsp;<span th:text="#{group.image.desc}">그룹이미지 등록 시, 좌측 상단 로고로 사용되며 재 로그인 시 반영됨 (권장 사이즈 : 130 x 24)</span></p>
                            </div>
                        </div>
                    </div>

                </th:block>

                <th:block th:if="${user.isGroupUser()}">
                    <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{user.group.title}">그룹 정보</span></h5>
                    <label class="col-form-label col-md-3" for="username" th:text="#{user.group}">그룹</label>
                    <span class="col-md-9" th:text="*{parentUsername}">parentUsername</span>
                </th:block>

                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{user.info.title}">기본 정보</span></h5>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="username" th:text="#{user.username}">아이디</label>
                    <span class="col-md-9" th:text="*{username}">username</span>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="name" th:text="#{user.name}">이름</label>
                    <input type="text" th:field="*{name}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{name}')}" class="invalid-feedback text-right mt-0" th:errors="*{name}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="phoneNo" th:text="#{user.phoneNo}">전화번호</label>
                    <input type="text" th:field="*{phoneNo}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{phoneNo}')}" class="invalid-feedback text-right mt-0" th:errors="*{phoneNo}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="email" th:text="#{user.email}">이메일</label>
                    <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{email}')}" class="invalid-feedback text-right mt-0" th:errors="*{email}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="groupName" th:text="#{user.image}">사용자이미지</label>
                    <div class="col-md-9 pl-0">
                        <div>
                            <input type="hidden" th:field="*{userImageFileSn}" />
                            <p id="uploadUserImageFile" class="mb-5" th:classappend="*{userImageFileSn == null ? 'd-block' : 'd-none'}">
                                <input type="file" th:field="*{userImageFile}" accept="image/gif, image/jpeg, image/png" th:errorclass="is-invalid" />
                            </p>
                            <p id="showUserImageFile" class="mb-5" th:classappend="*{userImageFileSn != null ? 'd-block' : 'd-none'}">
                                <img th:src="@{/download/{userImageFileSn} (userImageFileSn=*{userImageFileSn})}" style="width:130px;height:24px;" alt="group_logo">
                                <a href="#" class="btn btn-info btn-xs waves-effect waves-classic ml-5" id="btnDeleteUserImage"><i class="icon md-delete" aria-hidden="true"></i><span th:text="#{common.button.delete}">삭제</span></a>
                            </p>
                            <div th:if="${#fields.hasErrors('*{userImageFile}')}" class="invalid-feedback text-right mt-0" th:errors="*{userImageFile}">에러 메세지</div>
                            <p class="font-size-12"><i class="icon md-info" aria-hidden="true"></i>&nbsp;<span th:text="#{user.image.desc}">그룹이미지 등록 시, 좌측 상단 로고로 사용되며 재 로그인 시 반영됨 (권장 사이즈 : 130 x 24)</span></p>
                        </div>
                    </div>
                </div>


                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{user.additional.title}">부가 정보</span></h5>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="organizationName" th:text="#{user.organizationName}">단체(회사/학교) 명</label>
                    <input type="text" th:field="*{organizationName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{organizationName}')}" class="invalid-feedback text-right mt-0" th:errors="*{organizationName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="teamName" th:text="#{user.teamName}">팀(부서/학과) 명</label>
                    <input type="text" th:field="*{teamName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{teamName}')}" class="invalid-feedback text-right mt-0" th:errors="*{teamName}">에러 메세지</div>
                </div>

                <th:block th:if="${user.isGroupAdmin() or user.isSystemAdmin()}">
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="slackHookUrl" th:text="#{user.slack.hook.url}">슬랙 HOOK URL</label>
                        <input type="text" th:field="*{slackHookUrl}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{slackHookUrl}')}" class="invalid-feedback text-right mt-0" th:errors="*{slackHookUrl}">에러 메세지</div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="slackChannel" th:text="#{user.slack.channel}">슬랙 채널</label>
                        <input type="text" th:field="*{slackChannel}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{slackChannel}')}" class="invalid-feedback text-right mt-0" th:errors="*{slackChannel}">에러 메세지</div>
                    </div>
                </th:block>

                <h5 class="pl-15"><i class="icon md-inbox" aria-hidden="true"></i><span th:text="#{user.resource.title}">자원 할당</span></h5>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" th:text="#{user.resource.title}">자원 할당</label>
                    <table class="table table-bordered table-striped table-sm col-md-9 font-size-12">
                        <thead>
                        <tr>
                            <th th:text="#{user.resource.name}">자원명</th>
                            <th th:text="#{user.resource.groupQuotaQuantity}" th:if="${user.isGroupAdmin()}">그룹할당량</th>
                            <th th:text="#{user.resource.groupRemainQuotaQuantity}" th:if="${user.isGroupAdmin() or user.isGroupUser()}"> 총 그룹 잔여/할당량</th>
                            <th th:text="#{user.resource.quotaQuantity}">개인할당량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="userGpuForm : *{userGpuFormList}">
                            <td th:text="${userGpuForm.gpuName}">Nvidia 1080 ti</td>
                            <td th:if="${user.isGroupAdmin()}">
                                <select th:field="*{userGpuFormList[__${userGpuFormStat.index}__].groupQuotaQuantity}" class="form-control form-control-sm" th:errorclass="is-invalid">
                                    <option th:value="${i}" th:text="${i}" th:each="i: ${#numbers.sequence(0, 10)}">0</option>
                                </select>
                                <div th:if="${#fields.hasErrors('*{userGpuFormList[__${userGpuFormStat.index}__].groupQuotaQuantity}')}" class="invalid-feedback text-right mt-0" th:errors="*{userGpuFormList[__${userGpuFormStat.index}__].groupQuotaQuantity}">에러 메세지</div>
                            </td>
                            <td th:if="${user.isGroupAdmin() or user.isGroupUser()}">
                                <span th:text="*{userGpuFormList[__${userGpuFormStat.index}__].remainGroupQuotaQuantity}"></span>&nbsp;/&nbsp;<span th:text="*{userGpuFormList[__${userGpuFormStat.index}__].totalGroupQuotaQuantity}"></span>
                            </td>
                            <td>
                                <input type="hidden" th:field="*{userGpuFormList[__${userGpuFormStat.index}__].gpuSn}" />
                                <input type="hidden" th:field="*{userGpuFormList[__${userGpuFormStat.index}__].remainGroupQuotaQuantity}" />
                                <input type="hidden" th:field="*{userGpuFormList[__${userGpuFormStat.index}__].totalGroupQuotaQuantity}" />
                                <select th:field="*{userGpuFormList[__${userGpuFormStat.index}__].quotaQuantity}" class="form-control form-control-sm " th:errorclass="is-invalid">
                                    <option th:value="${i}" th:text="${i}" th:each="i: ${#numbers.sequence(0, userForm.userGpuFormList[__${userGpuFormStat.index}__].maxRemainGroupQuotaquantity)}" th:if="${user.isGroupAdmin() or user.isGroupUser()}">0</option>
                                    <option th:value="${i}" th:text="${i}" th:each="i: ${#numbers.sequence(0, 10)}" th:unless="${user.isGroupAdmin() or user.isGroupUser()}">0</option>
                                </select>
                                <div th:if="${#fields.hasErrors('*{userGpuFormList[__${userGpuFormStat.index}__].quotaQuantity}')}" class="invalid-feedback text-right mt-0" th:errors="*{userGpuFormList[__${userGpuFormStat.index}__].quotaQuantity}">에러 메세지</div>
                            </td>
                        </tr>

                        </tbody>

                    </table>

                </div>

                <div class="row ml-15 mr-0 mt-5">
                    <div class="col-sm-12 col-md-10 pl-0">
                        <a th:href="@{/__${path}__/user/{username} (username=${user.username})}" th:text="#{common.button.previous}" class="btn btn-default btn-sm waves-effect waves-classic">이전</a>
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" name="save" class="btn btn-primary btn-sm waves-effect waves-classic" >저장</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            $("#btnDeleteGroupImage").click(function() {
                $("input[name=groupImageFileSn]").val("");
                $("#uploadGroupImageFile").addClass('d-block').removeClass('d-none');
                $("#showGroupImageFile").addClass('d-none').removeClass('d-block');

            });
            $("#btnDeleteUserImage").click(function() {
                $("input[name=userImageFileSn]").val("");
                $("#uploadUserImageFile").addClass('d-block').removeClass('d-none');
                $("#showUserImageFile").addClass('d-none').removeClass('d-block');

            });
        });
        /* ]]> */
    </script>
</th:block>



</body>
</html>