<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{__${path}__.user.title}">사용자 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/webui-popover/webui-popover.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{__${path}__.user.title}">사용자 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#" th:text="${path == 'admin' ? 'Admin' : 'Management'}">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{__${path}__.user.title}">사용자 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{__${path}__.user.title}">사용자 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper nav-tabs-horizontal container-fluid pl-0 pr-0">
                <ul class="nav nav-tabs" th:if="${path == 'admin'}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/group}" th:text="#{user.tab.group}">그룹</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/admin/user}" th:text="#{user.tab.user}">사용자</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/login-history}" th:text="#{user.tab.login-history}">로그인 이력</a></li>
                </ul>
                <div class="tab-content pt-20">
                    <div class="tab-pane active">
                        <form th:object="${userCriteria}" method="get" autocomplete="off">
                            <div class="row ml-0 mr-0">
                                <div class="col-sm-10 col-md-10 pl-0">
                                    <div class="row no-space form-group mb-10">
                                        <th:block sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                                            <div class="col-sm-2 col-xs-6" sec:authorize="hasAuthority('SYSTEM_ADMIN')">
                                                <select th:field="*{parentUsername}"  class="form-control form-control-sm">
                                                    <option value="ALL" th:text="#{user.option.group.all}">그룹 전체</option>
                                                    <option value="" th:text="#{user.option.group.none}">(그룹없음)</option>
                                                    <option th:each="group : ${groupList}" th:value="${group.username}" th:text="${group.groupName}"/>
                                                </select>
                                            </div>
                                        </th:block>
                                        <div class="col-sm-2 col-xs-6">
                                            <select th:field="*{confirmYn}" class="form-control form-control-sm">
                                                <option value="" th:text="#{user.option.confirmYn.all}">승인 여부 전체</option>
                                                <option value="true" th:text="#{user.option.confirmYn.true}">승인</option>
                                                <option value="false" th:text="#{user.option.confirmYn.false}">미승인</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <select th:field="*{withdrawalYn}" class="form-control form-control-sm">
                                                <option value="" th:text="#{user.option.withdrawalYn.all}">탈퇴 여부 전체</option>
                                                <option value="true" th:text="#{user.option.withdrawalYn.true}">탈퇴</option>
                                                <option value="false" th:text="#{user.option.withdrawalYn.false}">미탈퇴</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-xs-4">
                                            <input type="text" th:field="*{name}" class="form-control form-control-sm" th:placeholder="#{user.name}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 text-right pr-0">
                                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.search}">조회</button>
                                    <button type="submit" name="xls" class="btn btn-info btn-sm waves-effect waves-classic">
                                        <i class="icon md-download" aria-hidden="true"></i>
                                        <span th:text="#{common.button.download.xls}">조회</span</button>
                                </div>
                            </div>
                        </form>
                        <div class="row pb-5 pl-15 font-size-12">
                            <span th:text="#{list.total.count(${userPage.totalElements})}"></span>
                            &nbsp;(<span th:text="${userPage.number + 1}">number</span> / <span th:text="${userPage.totalPages}">totalPages</span>)
                        </div>
                        <div class="row ml-0 mr-0">
                            <table class="table table-hover border-bottom font-size-12 text-center">
                                <thead class="bg-grey-100 font-weight-600">
                                <tr>
                                    <td>#</td>
                                    <td th:if="${path == 'admin'}" th:text="#{user.group}">그룹</td>
                                    <td th:text="#{user.username}">사용자아이디</td>
                                    <td th:text="#{user.name}">이름</td>
                                    <td th:text="#{user.organizationName}">단체명<br/>(회사/학교)</td>
                                    <td th:text="#{user.teamName}">팀명<br/>(부서/학과)</td>
                                    <td th:text="#{user.createdAt}">생성일시</td>
                                    <td th:text="#{user.withdrawalDate}">탈퇴일시</td>
                                    <td><span th:text="#{user.container}">컨테이너</span><br/>
                                        (<span th:text="#{user.container.use}">사용</span><a href="#" class="indigo-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                                                                           data-delay-hide="100" th:attrappend="data-content=#{user.container.use.desc},data-title=#{user.container.use.title}"><i class="icon md-info" aria-hidden="true"></i></a>/<span th:text="#{user.container.all}">전체</span>)</td>
                                    <td><span th:text="#{user.gpu}">GPU</span><br/>
                                        (<span th:text="#{user.gpu.use}">사용</span><a href="#" class="indigo-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                                                                     data-delay-hide="100" th:attrappend="data-content=#{user.gpu.use.desc},data-title=#{user.gpu.use.title}"><i class="icon md-info" aria-hidden="true"></i></a>/<span th:text="#{user.gpu.allocate}">할당</span>)</td>
                                    <td th:text="#{user.confirmYn}">승인여부</td>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody th:if="${userPage.getContent().isEmpty()}">
                                <tr>
                                    <td  th:colspan="${path == 'admin' ? 12 : 11}" class="text-center p-30" th:text="#{user.list.empty}">등록된 사용자가 없습니다.</td>
                                </tr>
                                </tbody>
                                <tbody th:unless="${userPage.getContent().isEmpty()}">
                                <tr th:each="user : ${userPage.getContent()}" >
                                    <td th:text="${userPage.totalElements - ((userPage.number) * userPage.size) - userStat.index}"></td>
                                    <td th:if="${path == 'admin'}">
                                        <span th:text="${user.group.groupName}" th:if="${user.parentUsername}"></span>
                                        <span th:text="${user.groupName}" th:if="${user.isGroupAdmin()}"></span>
                                    </td>
                                    <td>
                                        <a th:href="@{/__${path}__/user/{username} (username=${user.username})}"><span th:text="${user.username}"></span></a>
                                    </td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.organizationName}"></td>
                                    <td th:text="${user.teamName}"></td>
                                    <td>
                                        <span data-plugin="moment" th:attr="data-utc-date=${user.createdAt}">-</span>
                                    </td>
                                    <td>
                                        <span data-plugin="moment" th:attr="data-utc-date=${user.withdrawalDate}">-</span>
                                    </td>

                                    <td>
                                        <span th:text="${user.useContainerCount}"></span>
                                        /<span th:text="${#lists.size(user.containerList)}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.totalUseQuantity}"></span>
                                        /<span th:text="${user.totalQuotaQuantity}"></span>
                                    </td>
                                    <td th:text="#{'user.confirmYn.' + ${user.confirmYn}}"></td>
                                    <td>
                                        <form method="post" th:action="@{/__${path}__/user/{username}/update (username=${user.username})}" th:unless="${user.confirmYn}">
                                            <button type="submit" class="btn btn-info btn-xs waves-effect waves-classic" th:text="#{common.button.confirm}" />
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row ml-0 mr-0">
                            <div class="col-sm-12 col-md-10 pl-0">
                                <nav th:replace="fragments/site-pagination::pagination (pages=${userPage})"></nav>
                            </div>
                            <div class="col-sm-12 col-md-2 pr-0 text-right">
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/webui-popover/jquery.webui-popover.min.js}"></script>

</th:block>

</body>
</html>