<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.gpu.title}">GPU 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/webui-popover/webui-popover.min.css}">
    <style type="text/css">
        .webui-popover-content, h3.webui-popover-title {
            font-size: 12px;
        }
    </style>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.gpu.title}">GPU 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.gpu.title}">GPU 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.gpu.title}">GPU 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/gpu/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                        <tr>
                            <td rowspan="2">#</td>
                            <td rowspan="2" th:text="#{gpu.cloudType}">클라우드구분</td>
                            <td rowspan="2" th:text="#{gpu.resourceType}">리소스구분</td>
                            <td rowspan="2" th:text="#{gpu.gpuName}">GPU명</td>
                            <td rowspan="2" th:text="#{gpu.gpuLabel}">라벨</td>
                            <td rowspan="2" th:text="#{gpu.manufacturerName}">제조사</td>
                            <td rowspan="2" th:text="#{gpu.gpuMemory}">GPU 메모리</td>
                            <td rowspan="2" th:text="#{gpu.cpuCore}">CPU 코어</td>
                            <td rowspan="2" th:text="#{gpu.systemMemory}">시스템 메모리</td>
                            <td th:text="#{gpu.amount}" colspan="1" th:if="${@environment.getProperty('cheetah.payment')}">월금액</td>
                            <td rowspan="2" th:text="#{gpu.quantityFormat}">수량구성</td>
                            <td rowspan="2" th:text="#{gpu.sharedYn}">공유여부</td>
                            <td rowspan="2" th:text="#{gpu.useYn}">사용여부</td>
                            <td rowspan="2" th:text="#{gpu.createdAt}">생성일</td>
                            <td rowspan="2"><span th:text="#{gpu.all}">전체</span><br/>(<span th:text="#{gpu.all.gpu}">GPU</span>/<span th:text="#{gpu.all.node}">노드</span><a href="#" class="indigo-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                                 data-delay-hide="100" th:attrappend="data-content=#{gpu.all.node.desc},data-title=#{gpu.all.node.title}"><i class="icon md-info" aria-hidden="true"></i></a>)</td>
                            <td rowspan="2"><span th:text="#{gpu.use}">사용</span><a href="#" class="indigo-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                                                       data-delay-hide="100" th:attrappend="data-content=#{gpu.use.desc},data-title=#{gpu.use.title}"><i class="icon md-info" aria-hidden="true"></i></a>
                                <br/>(<span th:text="#{gpu.use.gpu}">GPU</span>/<span th:text="#{gpu.use.container}">컨테이너</span>)</td>
                            <td rowspan="2"><span th:text="#{gpu.remain}">잔여</span><br/>(<span th:text="#{gpu.remain.gpu}">GPU</span>/<span th:text="#{gpu.remain.max}">MAX</span><a href="#" class="indigo-500" data-plugin="webuiPopover" data-trigger="hover" data-placement="left" data-delay-show="100"
                                                       data-delay-hide="100" th:attrappend="data-content=#{gpu.remain.max.desc},data-title=#{gpu.remain.max.title}"><i class="icon md-info" aria-hidden="true"></i></a>)</td>
                            <td rowspan="2">Actions</td>
                        </tr>
                        <tr th:if="${@environment.getProperty('cheetah.payment')}">
                            <!--<td th:text="#{gpu.minutely}">분단위</td>-->
                            <td th:text="#{gpu.hourly}">시간단위</td>
                            <!--<td th:text="#{gpu.daily}">일단위</td>-->
                            <!--<td th:text="#{gpu.monthly}">월단위</td>-->
                            <!--<td th:text="#{gpu.monthlyContract}">1달 약정</td>-->
                            <!--<td th:text="#{gpu.monthlyContract3}">3달 약정</td>-->
                            <!--<td th:text="#{gpu.monthlyContract6}">6달 약정</td>-->
                            <!--<td th:text="#{gpu.monthlyContract12}">1년 약정</td>-->
                            <!--<td th:text="#{gpu.monthlyContract24}">2년 약정</td>-->
                        </tr>
                        </thead>
                        <tbody th:if="${gpuList eq null or gpuList.isEmpty()}">
                        <tr>
                            <td colspan="18" class="text-center pt-30 pb-30" th:text="#{gpu.list.empty}">등록된 GPU가 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody th:unless="${gpuList eq null or gpuList.isEmpty()}">

                            <tr th:each="gpu : ${gpuList}">
                                <td th:text="${gpu.gpuSn}"></td>
                                <td th:text="${gpu.cloudType}"></td>
                                <td th:text="${gpu.resourceType}"></td>
                                <td th:text="${gpu.gpuName}"></td>
                                <td th:text="${gpu.gpuLabel}"></td>
                                <td th:text="${gpu.manufacturerName}"></td>
                                <td th:text="${gpu.gpuMemory}"></td>
                                <td th:text="${gpu.cpuCore}"></td>
                                <td th:text="${gpu.systemMemory}"></td>
                                <th:block th:if="${@environment.getProperty('cheetah.payment')}">
                                    <!--<td th:text="${{gpu.minutelyAmount}}"></td>-->
                                    <td th:text="${{gpu.hourlyAmount}}"></td>
                                    <!--<td th:text="${{gpu.dailyAmount}}"></td>-->
                                    <!--<td th:text="${{gpu.monthlyAmount}}"></td>-->
                                    <!--<td th:text="${{gpu.monthlyContractAmount}}"></td>-->
                                    <!--<td th:text="${{gpu.monthlyContractAmount3}}"></td>-->
                                    <!--<td th:text="${{gpu.monthlyContractAmount6}}"></td>-->
                                    <!--<td th:text="${{gpu.monthlyContractAmount12}}"></td>-->
                                    <!--<td th:text="${{gpu.monthlyContractAmount24}}"></td>-->
                                </th:block>
                                <td th:text="${gpu.quantityFormat}"></td>
                                <td th:text="#{'gpu.sharedYn.' + ${gpu.sharedYn}}"></td>
                                <td th:text="#{'gpu.useYn.' + ${gpu.useYn}}"></td>
                                <td data-plugin="moment" th:attr="data-utc-date=${gpu.createdAt}" data-date-format="YYYY-MM-DD HH:mm">-</td>

                                <th:block th:if="${gpu.cloudType == T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE}">

                                    <th:block th:if="${gpu.resourceType == T(com.mybclab.cheetah.common.constant.Code.RESOURCE_TYPE).GPU}">
                                        <td>
                                            <span th:text="${gpu.totalGpuQuantity}">totalGpuQuantity</span>
                                            / <span th:text="${gpu.totalNodeCount}">totalNodeCount</span>
                                        </td>
                                        <td>
                                            <span th:text="${gpu.useGpuQuantity}">useGpuQuantity</span>
                                            / <span th:text="${gpu.useContainerCount}">useContainerCount</span>
                                        </td>
                                        <td>
                                            <span th:text="${gpu.remainGpuQuantity}">remainGpuQuantity</span>
                                            / <span th:text="${gpu.remainMaxGpuQuantityPerNode}">remainMaxGpuQuantityPerNode</span>
                                        </td>
                                    </th:block>
                                    <th:block th:unless="${gpu.resourceType == T(com.mybclab.cheetah.common.constant.Code.RESOURCE_TYPE).GPU}">
                                        <td>- / <span th:text="${gpu.totalNodeCount}">totalNodeCount</span></td>
                                        <td>- / -</td>
                                        <td>- / -</td>
                                    </th:block>
                                </th:block>
                                <th:block th:unless="${gpu.cloudType == T(com.mybclab.cheetah.common.constant.Code.CLOUD_TYPE).ON_PREMISE}">
                                    <td>- / -</td>
                                    <td>- / -</td>
                                    <td>- / -</td>
                                </th:block>

                                <td>
                                     <a th:href="@{/admin/gpu/{gpuSn}/modify (gpuSn=${gpu.gpuSn})}"
                                        class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                    <form method="post" th:action="@{/admin/gpu/{gpuSn}/delete (gpuSn=${gpu.gpuSn})}"
                                          th:if="${#lists.size(gpu.containerList) eq 0}">
                                        <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/admin/gpu/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">

    <script th:src="@{/assets/vendor/webui-popover/jquery.webui-popover.min.js}"></script>

</th:block>



</body>
</html>