<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.gpu.title}">GPU 관리</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/jquery-labelauty/jquery-labelauty.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.css}">
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.gpu.title}">GPU 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.gpu.title}">GPU 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{admin.gpu.title}">GPU 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <form method="post" th:object="${gpuForm}">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="cloudType" th:text="#{gpu.cloudType}">클라우드 구분</label>
                    <div class="input-group col-md-9 p-0">
                        <div class="form-group w-md-160 mr-5 mb-5" th:each="code : ${referenceData.cloudTypeList}">
                            <input type="radio" class="to-labelauty" th:field="*{cloudType}" data-plugin="labelauty" th:errorclass="is-invalid"
                                   th:attr="data-labelauty=${code.codeName}" th:value="${code.codePK.code}"/>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('*{cloudType}')}" class="invalid-feedback text-right mt-0" th:errors="*{cloudType}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="resourceType" th:text="#{gpu.resourceType}">리소스 구분</label>
                    <div class="input-group col-md-9 p-0">
                        <div class="form-group w-md-160 mr-5 mb-5" th:each="code : ${referenceData.resourceTypeList}">
                            <input type="radio" class="to-labelauty" th:field="*{resourceType}" data-plugin="labelauty" th:errorclass="is-invalid"
                                   th:attr="data-labelauty=${code.codeName}" th:value="${code.codePK.code}"/>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('*{resourceType}')}" class="invalid-feedback text-right mt-0" th:errors="*{resourceType}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuName" th:text="#{gpu.gpuName}">GPU 명</label>
                    <input type="text" th:field="*{gpuName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <input type="hidden" th:field="*{gpuSn}" th:errorclass="is-invalid">
                    <div th:if="${#fields.hasErrors('*{gpuName}')}" class="invalid-feedback text-right mt-0" th:errors="*{gpuName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuLabel" th:text="#{gpu.gpuLabel}">라벨</label>
                    <input type="text" th:field="*{gpuLabel}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{gpuLabel}')}" class="invalid-feedback text-right mt-0" th:errors="*{gpuLabel}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="manufacturerName" th:text="#{gpu.manufacturerName}">제조사</label>
                    <input type="text" th:field="*{manufacturerName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{manufacturerName}')}" class="invalid-feedback text-right mt-0" th:errors="*{manufacturerName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="spec" th:text="#{gpu.spec}">사양</label>
                    <input type="text" th:field="*{spec}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{spec}')}" class="invalid-feedback text-right mt-0" th:errors="*{spec}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="gpuMemory" th:text="#{gpu.gpuMemory}">GPU 메모리</label>
                    <input type="text" th:field="*{gpuMemory}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{gpuMemory}')}" class="invalid-feedback text-right mt-0" th:errors="*{gpuMemory}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="cpuCore" th:text="#{gpu.cpuCore}">CPU 코어</label>
                    <input type="text" th:field="*{cpuCore}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{cpuCore}')}" class="invalid-feedback text-right mt-0" th:errors="*{cpuCore}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="systemMemory" th:text="#{gpu.systemMemory}">시스템 메모리</label>
                    <input type="text" th:field="*{systemMemory}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{systemMemory}')}" class="invalid-feedback text-right mt-0" th:errors="*{systemMemory}">에러 메세지</div>
                </div>
                <th:block th:if="${@environment.getProperty('cheetah.payment')}">
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="minutelyAmount" th:text="#{gpu.minutelyAmount}">분단위 금액</label>-->
                        <!--<input type="text" th:field="*{minutelyAmount}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{minutelyAmount}')}" class="invalid-feedback text-right mt-0" th:errors="*{minutelyAmount}">에러 메세지</div>-->
                    <!--</div>-->
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="hourlyAmount" th:text="#{gpu.hourlyAmount}">시간단위 금액</label>
                        <input type="text" th:field="*{hourlyAmount}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{hourlyAmount}')}" class="invalid-feedback text-right mt-0" th:errors="*{hourlyAmount}">에러 메세지</div>
                    </div>
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="dailyAmount" th:text="#{gpu.dailyAmount}">일단위 금액</label>-->
                        <!--<input type="text" th:field="*{dailyAmount}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{dailyAmount}')}" class="invalid-feedback text-right mt-0" th:errors="*{dailyAmount}">에러 메세지</div>-->
                    <!--</div>-->
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="monthlyAmount" th:text="#{gpu.monthlyAmount}">월 금액</label>-->
                        <!--<input type="text" th:field="*{monthlyAmount}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{monthlyAmount}')}" class="invalid-feedback text-right mt-0" th:errors="*{monthlyAmount}">에러 메세지</div>-->
                    <!--</div>-->
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="monthlyContractAmount" th:text="#{gpu.monthlyContractAmount}">1달 약정 금액</label>-->
                        <!--<input type="text" th:field="*{monthlyContractAmount}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{monthlyContractAmount}')}" class="invalid-feedback text-right mt-0" th:errors="*{monthlyContractAmount}">에러 메세지</div>-->
                    <!--</div>-->
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="monthlyContractAmount3" th:text="#{gpu.monthlyContractAmount3}">3달 약정 금액</label>-->
                        <!--<input type="text" th:field="*{monthlyContractAmount3}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{monthlyContractAmount3}')}" class="invalid-feedback text-right mt-0" th:errors="*{monthlyContractAmount3}">에러 메세지</div>-->
                    <!--</div>-->
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="monthlyContractAmount6" th:text="#{gpu.monthlyContractAmount6}">6달 약정 금액</label>-->
                        <!--<input type="text" th:field="*{monthlyContractAmount6}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{monthlyContractAmount6}')}" class="invalid-feedback text-right mt-0" th:errors="*{monthlyContractAmount6}">에러 메세지</div>-->
                    <!--</div>-->
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="monthlyContractAmount12" th:text="#{gpu.monthlyContractAmount12}">1년 약정 금액</label>-->
                        <!--<input type="text" th:field="*{monthlyContractAmount12}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{monthlyContractAmount12}')}" class="invalid-feedback text-right mt-0" th:errors="*{monthlyContractAmount12}">에러 메세지</div>-->
                    <!--</div>-->
                    <!--<div class="row ml-0 mr-0">-->
                        <!--<label class="col-form-label col-md-3" for="monthlyContractAmount24" th:text="#{gpu.monthlyContractAmount24}">2년 약정 금액</label>-->
                        <!--<input type="text" th:field="*{monthlyContractAmount24}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>-->
                        <!--<div th:if="${#fields.hasErrors('*{monthlyContractAmount24}')}" class="invalid-feedback text-right mt-0" th:errors="*{monthlyContractAmount24}">에러 메세지</div>-->
                    <!--</div>-->
                </th:block>
                <th:block th:unless="${@environment.getProperty('cheetah.payment')}">
                    <input type="hidden" th:field="*{minutelyAmount}" >
                    <input type="hidden" th:field="*{hourlyAmount}" >
                    <input type="hidden" th:field="*{dailyAmount}" >
                    <input type="hidden" th:field="*{monthlyAmount}" >
                    <input type="hidden" th:field="*{monthlyContractAmount}" >
                    <input type="hidden" th:field="*{monthlyContractAmount3}" >
                    <input type="hidden" th:field="*{monthlyContractAmount6}" >
                    <input type="hidden" th:field="*{monthlyContractAmount12}" >
                    <input type="hidden" th:field="*{monthlyContractAmount24}" >
                </th:block>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="quantityFormat" th:text="#{gpu.quantityFormat}">사양</label>
                    <div class="col-md-9 form-group pl-0 pr-0">
                        <input type="text" th:field="*{quantityFormat}" th:errorclass="is-invalid" data-plugin="tokenfield" class="form-control form-control-sm"/>
                        <div><small th:text="#{gpu.quantityFormat.desc}">엔터 또는 콤마(,)로 구분해서 입력하세요.</small></div>
                        <div th:if="${#fields.hasErrors('*{quantityFormat}')}" class="invalid-feedback text-right mt-0" th:errors="*{quantityFormat}">에러 메세지</div>
                    </div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="sharedYn" th:text="#{gpu.sharedYn}">공유 여부</label>
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" th:field="*{sharedYn}" th:errorclass="is-invalid">
                        <label for="useYn" th:text="#{gpu.sharedYn.true}">사용</label>
                    </div>
                    <div th:if="${#fields.hasErrors('*{sharedYn}')}" class="invalid-feedback text-right mt-0" th:errors="*{sharedYn}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="useYn" th:text="#{gpu.useYn}">사용 여부</label>
                    <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                        <input type="checkbox" th:field="*{useYn}" th:errorclass="is-invalid">
                        <label for="useYn" th:text="#{gpu.useYn.true}">사용</label>
                    </div>
                    <div th:if="${#fields.hasErrors('*{useYn}')}" class="invalid-feedback text-right mt-0" th:errors="*{useYn}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/admin/gpu}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/admin/gpu}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="page-script">
    <script th:src="@{/assets/js/Plugin/jquery-labelauty.js}"></script>
    <script th:src="@{/assets/vendor/jquery-labelauty/jquery-labelauty.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.js}"></script>
</th:block>


</body>
</html>