<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.credit.title}">크레딧 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.credit.title}">크레딧 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.credit.title}">크레딧 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.credit.title}">크레딧 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                <a th:href="@{/admin/credit/reloadCache/all}" class="panel-action icon wb-trash" aria-hidden="true"> remove cache</a>
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="dataTables_wrapper container-fluid">

                <div class="row">
                    <table class="table table-hover border-bottom font-size-12 text-center">
                        <thead class="bg-grey-100 font-weight-600">
                            <tr>
                                <td>#</td>
                                <td th:text="#{credit.creditId}">크레딧아이디</td>
                                <td th:text="#{credit.creditName}">크레딧명</td>
                                <td th:text="#{credit.creditType}">구분</td>
                                <td th:text="#{credit.creditAmount}">금액</td>
                                <td th:text="#{credit.creditExpiry}">유효기간</td>
                                <td th:text="#{credit.use.count}">사용</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody th:if="${creditList.isEmpty()}">
                            <tr>
                                <td colspan="8" class="text-center p-30" th:text="#{credit.list.empty}">등록된 크레딧이 없습니다.</td>
                            </tr>
                        </tbody>
                        <tbody th:unless="${creditList.isEmpty()}">
                            <tr th:each="credit : ${creditList}">
                                <td th:text="${creditStat.index + 1}"></td>
                                <td th:text="${credit.creditId}"></td>
                                <td th:text="${credit.creditName}"></td>
                                <td th:text="#{'code.CT.' + ${credit.creditTypeCode}}"></td>
                                <td th:text="${{credit.creditAmount}}"></td>
                                <td>
                                     <span th:text="|${credit.creditExpiryValue} #{'code.CE.' + ${credit.creditExpiryTypeCode}}|"
                                           th:unless="${credit.creditExpiryTypeCode == T(com.mybclab.cheetah.common.constant.Code.CREDIT_EXPIRY_TYPE).NONE}">구분</span>
                                     <span th:text="#{'code.CE.' + ${credit.creditExpiryTypeCode}}"
                                           th:if="${credit.creditExpiryTypeCode == T(com.mybclab.cheetah.common.constant.Code.CREDIT_EXPIRY_TYPE).NONE}">구분</span>
                                </td>
                                <td th:text="${#lists.size(credit.userCreditList)}"></td>

                                <td>
                                    <form method="post" th:action="@{/admin/credit/{creditId}/delete (creditId=${credit.creditId})}"
                                          th:if="${#lists.size(credit.userCreditList) eq 0}">
                                        <a th:href="@{/admin/credit/{creditId}/modify (creditId=${credit.creditId})}"
                                           class="btn btn-default btn-xs waves-effect waves-classic" th:text="#{common.button.modify}">수정</a>
                                        <button type="submit" class="btn btn-danger btn-xs waves-effect waves-classic" th:text="#{common.button.delete}" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-10 pl-0">
                    </div>
                    <div class="col-sm-12 col-md-2 pr-0 text-right">
                        <a th:href="@{/admin/credit/save}" class="btn btn-primary btn-sm waves-effect waves-classic" th:text="#{common.button.insert}">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>