<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{admin.credit.title}">크레딧 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{admin.credit.title}">크레딧 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" th:text="#{admin.credit.title}">크레딧 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">

    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.credit.title}">크레딧 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body container-fluid">


            <form method="post" th:object="${creditForm}">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="creditId" th:text="#{credit.creditId}">크레딧 아이디</label>
                    <input type="text" th:field="*{creditId}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{creditId}')}" class="invalid-feedback text-right mt-0" th:errors="*{creditId}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="creditName" th:text="#{credit.creditName}">크레딧 명</label>
                    <input type="text" th:field="*{creditName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{creditName}')}" class="invalid-feedback text-right mt-0" th:errors="*{creditName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="creditAmount" th:text="#{credit.creditAmount}">금액</label>
                    <input type="text" th:field="*{creditAmount}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{creditAmount}')}" class="invalid-feedback text-right mt-0" th:errors="*{creditAmount}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="creditTypeCode" th:text="#{credit.creditType}">구분</label>
                    <select th:field="*{creditTypeCode}" class="form-control form-control-sm col-md-3">
                        <option th:each="code : ${referenceData.creditTypeList}" th:value="${code.codePK.code}" th:text="#{'code.CT.' + ${code.codePK.code}}" />
                    </select>
                    <div th:if="${#fields.hasErrors('*{creditTypeCode}')}" class="invalid-feedback text-right mt-0" th:errors="*{creditTypeCode}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="creditExpiryTypeCode" th:text="#{credit.expiry}">유효기간</label>
                    <div class="input-group col-md-9 p-0">
                        <input type="text" th:field="*{creditExpiryValue}"  class="form-control form-control-sm col-md-1 mr-5" />
                        <select th:field="*{creditExpiryTypeCode}" class="form-control form-control-sm col-md-4 mr-5">
                            <option th:each="code : ${referenceData.creditExpiryTypeList}" th:value="${code.codePK.code}" th:text="#{'code.CE.' + ${code.codePK.code}}" />
                        </select>
                    </div>
                    <div th:if="${#fields.hasErrors('*{creditExpiryTypeCode}')}" class="invalid-feedback text-right mt-0" th:errors="*{creditExpiryTypeCode}">에러 메세지</div>
                    <div th:if="${#fields.hasErrors('*{creditExpiryValue}')}" class="invalid-feedback text-right mt-0" th:errors="*{creditExpiryValue}">에러 메세지</div>
                </div>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                        <a th:href="@{/admin/credit}" th:text="#{common.button.list}" class="btn btn-default btn-sm waves-effect waves-classic">목록</a>
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/admin/credit}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>