<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.mypage.title}">내 정보 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.mypage.title}">내 정보 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.mypage.title}">내 정보 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.mypage.title}">내 정보 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body container-fluid" th:object="${user}">

            <div class="card">
                <div class="card-header white bg-cyan-500 p-30 clearfix">
                    <a class="avatar avatar-100 float-left mr-20" href="javascript:void(0)">
                        <img th:src="*{userImagePath}" alt="..." class="cheetah-avatar-border" style="width:100px; height:100px;">
                    </a>
                    <div class="float-left">
                        <div class="font-size-20 mb-15" th:text="|*{name} (*{username})|">Robin Ahrens</div>
                        <p class="mb-5 text-nowrap"><i class="icon md-phone mr-10" aria-hidden="true"></i>
                            <span class="text-break" th:text="*{phoneNo}">phoneNo</span>
                        </p>
                        <p class="mb-5 text-nowrap"><i class="icon md-email mr-10" aria-hidden="true"></i>
                            <span class="text-break" th:text="*{email}">email</span>
                        </p>
                        <p class="mb-5 text-nowrap"><i class="icon md-city mr-10" aria-hidden="true"></i>
                            <span class="text-break" th:text="*{organizationName}">organizationName</span> <span class="text-break" th:text="*{teamName}">teamName</span>
                        </p>
                    </div>
                </div>
                <ul class="list-group list-group-bordered mb-0 font-size-12">
                    <li class="list-group-item">
                        <i class="icon md-account" aria-hidden="true" draggable="true"></i><span th:text="#{mypage.role.title}">권한</span>
                        <div class="ml-20 mt-5">
                            <span th:each="userRole : ${user.userRoles}" th:text="#{'code.UR.' + ${userRole.role.codePK.code}}">role</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <i class="icon md-toys" aria-hidden="true" draggable="true"></i><span th:text="#{user.resource.title}">GPU</span>
                        <div class="ml-20 mt-5" th:if="*{userGpuList.isEmpty()}">
                            <span th:text="#{user.resource.list.empty}"></span>
                        </div>
                        <div class="ml-20 mt-5" th:unless="*{userGpuList.isEmpty()}" th:each="userGpu : *{userGpuList}">
                            <code th:text="${userGpu.gpu.gpuName}">resourceName</code>&nbsp;<span th:text="#{mypage.gpu.use.count}">사용</span> <span th:text="${userGpu.useQuantity}">useQuantity</span> / <span th:text="#{mypage.gpu.remain.count}">잔여</span> <span th:text="${userGpu.quotaQuantity - userGpu.useQuantity}">remainQuotaQuantity</span> / <span th:text="#{mypage.gpu.allocate.count}">할당</span> <span th:text="${userGpu.quotaQuantity}">gpuMaxQuotaQuantity</span>
                        </div>
                    </li>
                    <li class="list-group-item" th:if="*{slackHookUrl}">
                        <i class="icon wb-bell" aria-hidden="true" draggable="true"></i>slack
                        <div class="ml-20 mt-5">
                            hook url :&nbsp;<code class="bash" th:text="*{slackHookUrl}" th:if="*{slackHookUrl}">slackHookUrl</code>
                        </div>
                        <div class="ml-20 mt-5">
                            channel :&nbsp;<code class="bash" th:text="*{slackChannel}" th:if="*{slackChannel}">slackChannel</code>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <i class="icon md-info" aria-hidden="true" draggable="true"></i><span th:text="#{mypage.user.createdAt}">가입일</span>
                        <div class="ml-20 mt-5" data-plugin="moment" th:attr="data-utc-date=${user.createdAt}">-</div>
                    </li>
                </ul>
            </div>

            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-md-10 pl-0">
                    <form method="post" class="inline"
                          sec:authorize="!hasAuthority('SYSTEM_ADMIN')"
                          th:action="@{/management/user/{username}/withdrawal (username=${user.username})}"
                          th:onsubmit="|return confirm('__#{confirm.withdrawal.user}__');|" >
                        <button type="submit" class="btn btn-danger btn-sm waves-effect waves-classic" th:text="#{button.withdrawal.user}">삭제</button>
                    </form>
                </div>
                <div class="col-sm-12 col-md-2 pr-0 text-right">
                    <a th:href="@{/management/mypage/modify}" th:text="#{common.button.modify}" class="btn btn-primary btn-sm waves-effect waves-classic">수정</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
