<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main-layout}">
<head>
    <title th:text="#{management.mypage.title}">내 정보 관리</title>
</head>
<body>

<div class="page-header" layout:fragment="page-header">
    <h1 class="page-title" th:text="#{management.mypage.title}">내 정보 관리</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Management</a></li>
        <li class="breadcrumb-item active" th:text="#{management.mypage.title}">내 정보 관리</li>
    </ol>
</div>

<div class="page-content" layout:fragment="page-content">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{management.mypage.title}">내 정보 관리</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-expanded="true"
                   aria-hidden="true"></a>
                <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body container-fluid">

            <form method="post" th:object="${userForm}" enctype="multipart/form-data">
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="name" th:text="#{user.name}">이름</label>
                    <input type="text" th:field="*{name}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{name}')}" class="invalid-feedback text-right mt-0" th:errors="*{name}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="oldPassword" th:text="#{user.password.old}">기존 비밀번호</label>
                    <input type="password" th:field="*{oldPassword}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{oldPassword}')}" class="invalid-feedback text-right mt-0" th:errors="*{oldPassword}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="password" th:text="#{user.password}">새 비밀번호</label>
                    <input type="password" th:field="*{password}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{password}')}" class="invalid-feedback text-right mt-0" th:errors="*{password}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="confirmPassword" th:text="#{user.password.confirm}">새 비밀번호 확인</label>
                    <input type="password" th:field="*{confirmPassword}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{confirmPassword}')}" class="invalid-feedback text-right mt-0" th:errors="*{confirmPassword}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="phoneNo" th:text="#{user.phoneNo}">전화번호</label>
                    <input type="text" th:field="*{phoneNo}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{phoneNo}')}" class="invalid-feedback text-right mt-0" th:errors="*{phoneNo}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="email" th:text="#{user.email}">이메일</label>
                    <input type="text" th:field="*{email}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{email}')}" class="invalid-feedback text-right mt-0" th:errors="*{email}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="groupName" th:text="#{user.image}">사용자이미지</label>
                    <div class="col-md-9 pl-0">
                        <div>
                            <input type="hidden" th:field="*{userImageFileSn}" />
                            <p id="uploadUserImageFile" class="mb-5" th:classappend="*{userImageFileSn == null ? 'd-block' : 'd-none'}">
                                <input type="file" th:field="*{userImageFile}" accept="image/gif, image/jpeg, image/png" th:errorclass="is-invalid" />
                            </p>
                            <p id="showUserImageFile" class="mb-5" th:classappend="*{userImageFileSn != null ? 'd-block' : 'd-none'}">
                                <img th:src="@{/download/{userImageFileSn} (userImageFileSn=*{userImageFileSn})}" style="width:100px;height:100px;" alt="group_logo">
                                <a href="#" class="btn btn-info btn-xs waves-effect waves-classic ml-5" id="btnDeleteUserImage"><i class="icon md-delete" aria-hidden="true"></i><span th:text="#{common.button.delete}">삭제</span></a>
                            </p>
                            <div th:if="${#fields.hasErrors('*{userImageFile}')}" class="invalid-feedback text-right mt-0" th:errors="*{userImageFile}">에러 메세지</div>
                            <p class="font-size-12"><i class="icon md-info" aria-hidden="true"></i>&nbsp;<span th:text="#{user.image.desc}">그룹이미지 등록 시, 좌측 상단 로고로 사용되며 재 로그인 시 반영됨 (권장 사이즈 : 130 x 24)</span></p>
                        </div>
                    </div>
                </div>

                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="organizationName" th:text="#{user.organizationName}">단체(회사/학교) 명</label>
                    <input type="text" th:field="*{organizationName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{organizationName}')}" class="invalid-feedback text-right mt-0" th:errors="*{organizationName}">에러 메세지</div>
                </div>
                <div class="row ml-0 mr-0">
                    <label class="col-form-label col-md-3" for="teamName" th:text="#{user.teamName}">팀(부서/학과) 명</label>
                    <input type="text" th:field="*{teamName}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                    <div th:if="${#fields.hasErrors('*{teamName}')}" class="invalid-feedback text-right mt-0" th:errors="*{teamName}">에러 메세지</div>
                </div>

                <th:block sec:authorize="hasAuthority('SYSTEM_ADMIN') or hasAuthority('GROUP_ADMIN')">
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="slackHookUrl" th:text="#{user.slack.hook.url}">slack hook URL</label>
                        <input type="text" th:field="*{slackHookUrl}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{slackHookUrl}')}" class="invalid-feedback text-right mt-0" th:errors="*{slackHookUrl}">에러 메세지</div>
                    </div>
                    <div class="row ml-0 mr-0">
                        <label class="col-form-label col-md-3" for="slackChannel" th:text="#{user.slack.channel}">slack channel</label>
                        <input type="text" th:field="*{slackChannel}" th:errorclass="is-invalid" class="form-control form-control-sm col-md-9"/>
                        <div th:if="${#fields.hasErrors('*{slackChannel}')}" class="invalid-feedback text-right mt-0" th:errors="*{slackChannel}">에러 메세지</div>
                    </div>
                </th:block>

                <div class="row ml-0 mr-0 pt-10">
                    <div class="col-sm-6 col-md-6 pl-0">
                    </div>
                    <div class="col-sm-6 col-md-6 pr-0 text-right">
                        <button type="submit" th:text="#{common.button.save}" class="btn btn-primary btn-sm waves-effect waves-classic">저장</button>
                        <a th:href="@{/management/mypage}" th:text="#{common.button.cancel}" class="btn btn-default btn-sm waves-effect waves-classic">취소</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<th:block layout:fragment="page-script">
    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */
        $(document).ready(function () {

            $("#btnDeleteUserImage").click(function() {
                $("input[name=userImageFileSn]").val("");
                $("#uploadUserImageFile").addClass('d-block').removeClass('d-none');
                $("#showUserImageFile").addClass('d-none').removeClass('d-block');

            });

        });
        /* ]]>*/
    </script>
</th:block>

</body>
</html>